Repository skkuding/codedang, pull requests merged in 2022-06, with the labels that each got.

#46 chore(be): add issue templates for early backend development
  .github/ISSUE_TEMPLATE/backend-feature-dev.yml
Labels: feat: backend

#57 chore(be): sync schema.prisma with ERD diagram
  backend/prisma/migrations/20220620162501_basic_plan/migration.sql
  backend/prisma/schema.prisma
Labels: feat: backend

#59 fix(be): use constructor based injection(fix #58)
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/contest/contest.controller.spec.ts
  backend/src/contest/contest.controller.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
  backend/src/group/group.controller.spec.ts
  backend/src/group/group.controller.ts
  backend/src/group/group.service.spec.ts
  backend/src/group/group.service.ts
  backend/src/notice/notice.controller.spec.ts
  backend/src/notice/notice.controller.ts
  backend/src/notice/notice.service.spec.ts
  backend/src/notice/notice.service.ts
  backend/src/problem/problem.controller.spec.ts
  backend/src/problem/problem.controller.ts
  backend/src/problem/problem.service.spec.ts
  backend/src/problem/problem.service.ts
  backend/src/submission/submission.controller.spec.ts
  backend/src/submission/submission.controller.ts
  backend/src/submission/submission.service.spec.ts
  backend/src/submission/submission.service.ts
  backend/src/user/user.controller.spec.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/src/workbook/workbook.controller.spec.ts
  backend/src/workbook/workbook.controller.ts
  backend/src/workbook/workbook.service.spec.ts
  backend/src/workbook/workbook.service.ts
Labels: bug, feat: backend, p5-urgent 🧨

#61 chore(fe): Add issue template for components
  .github/ISSUE_TEMPLATE/frontend-component-dev.yml
Labels: p2-to-be-discussed 🚦, feat: frontend

#84 feat(be): setup caching moudle
  .devcontainer/devcontainer.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/common/config/cacheConfig.service.ts
  docker-compose.yml
  pnpm-lock.yaml
  scripts/setup.sh
Labels: feat: backend, p2-nice-to-have 🚦
