Repository skkuding/codedang, pull requests merged in 2022-09, with the labels that each got.

#217 feat(fe): add progress bar on the top of page
  frontend/package.json
  frontend/src/common/styles/style.css
  frontend/src/main.ts
  pnpm-lock.yaml
Labels: feat: frontend

#193 feat(fe): add workbook-problem-list page
  frontend/src/App.vue
  frontend/src/common/components/Organism/Footer.vue
  frontend/src/common/components/Organism/Header.vue
  frontend/src/common/components/Organism/PaginationTable.vue
  frontend/src/common/styles/style.css
  frontend/src/problem/pages/[id].vue
  frontend/src/workbook/components/WorkbookTitle.vue
  frontend/src/workbook/pages/[id].vue
  frontend/vite.config.ts
Labels: feat: frontend

#223 feat(fe): add issue template for page development
  .github/ISSUE_TEMPLATE/frontend-page-dev.yml
Labels: feat: frontend

#202 feat(fe): add problem-list page
  frontend/src/common/components/Atom/Button.vue
  frontend/src/common/components/Molecule/ProgressCard.vue
  frontend/src/problem/pages/index.vue
Labels: feat: frontend

#187 feat(fe): add sidebar component
  frontend/package.json
  frontend/src/common/components/Atom/CodingPlatformLogo.story.vue
  frontend/src/common/components/Atom/CodingPlatformLogo.vue
  frontend/src/common/components/Organism/Sidebar.story.vue
  frontend/src/common/components/Organism/Sidebar.vue
  pnpm-lock.yaml
Labels: feat: frontend

#163 feat(fe): setup base file for group manager
  frontend/src/contest/pages/[id]/notice.vue
  frontend/src/contest/pages/[id]/problem.vue
  frontend/src/contest/pages/[id]/ranking.vue
  frontend/src/contest/pages/[id]/top.vue
  frontend/src/contest/pages/index.vue
  frontend/src/manager/pages/[groupId]/contest/[id]/detail.vue
  frontend/src/manager/pages/[groupId]/contest/[id]/edit.vue
  frontend/src/manager/pages/[groupId]/contest/create.vue
  frontend/src/manager/pages/[groupId]/contest/index.vue
  frontend/src/manager/pages/[groupId]/home/index.vue
  frontend/src/manager/pages/[groupId]/notice/[id]/edit.vue
  frontend/src/manager/pages/[groupId]/notice/create.vue
  frontend/src/manager/pages/[groupId]/notice/index.vue
  frontend/src/manager/pages/[groupId]/pool/[id]/edit.vue
  frontend/src/manager/pages/[groupId]/pool/create.vue
  frontend/src/manager/pages/[groupId]/pool/index.vue
  frontend/src/manager/pages/[groupId]/problem/[id]/edit.vue
  frontend/src/manager/pages/[groupId]/problem/create.vue
  frontend/src/manager/pages/[groupId]/problem/index.vue
  frontend/src/manager/pages/[groupId]/workbook/[id]/edit.vue
  frontend/src/manager/pages/[groupId]/workbook/create.vue
  frontend/src/manager/pages/[groupId]/workbook/index.vue
  frontend/src/manager/pages/contest.vue
  frontend/src/manager/pages/index.vue
  frontend/src/manager/pages/notice.vue
  frontend/src/manager/pages/pool.vue
  frontend/src/manager/pages/problem.vue
  frontend/src/manager/pages/workbook.vue
  frontend/src/user/contest/pages/[id]/notice.vue
  frontend/src/user/contest/pages/[id]/problem.vue
  frontend/src/user/contest/pages/[id]/ranking.vue
  frontend/src/user/contest/pages/[id]/top.vue
  frontend/src/user/contest/pages/index.vue
  frontend/src/user/group/components/MyComponent.vue
  frontend/src/user/group/pages/[id]/contest.vue
  frontend/src/user/group/pages/[id]/member.vue
  frontend/src/user/group/pages/[id]/notice.vue
  frontend/src/user/group/pages/[id]/workboo.vue
  frontend/src/user/group/pages/index.vue
  frontend/src/user/home/components/Card.story.vue
  frontend/src/user/home/components/Card.vue
  frontend/src/user/home/components/Carousel.story.vue
  frontend/src/user/home/components/Carousel.vue
  frontend/src/user/home/components/MyComponent.vue
  frontend/src/user/home/pages/index.vue
  frontend/src/user/notice/components/MyComponent.vue
  frontend/src/user/notice/pages/[id].vue
  frontend/src/user/notice/pages/index.vue
  frontend/src/user/problem/components/MyComponent.vue
  frontend/src/user/problem/pages/[id].vue
  frontend/src/user/problem/pages/index.vue
  frontend/src/user/workbook/components/WorkbookTitle.vue
  frontend/src/user/workbook/pages/[id].vue
  frontend/vite.config.ts
Labels: feat: frontend

#233 feat(fe): implement text editor
  frontend/package.json
  frontend/src/common/components/Atom/Button.story.vue
  frontend/src/common/components/Atom/Button.vue
  frontend/src/common/components/Molecule/ButtonGroup.story.vue
  frontend/src/common/components/Molecule/ButtonGroup.vue
  frontend/src/common/components/Organism/TextEditor.story.vue
  frontend/src/common/components/Organism/TextEditor.vue
  frontend/tailwind.config.js
  pnpm-lock.yaml
Labels: feat: frontend

#218 feat(fe): authorize user with jwt
  backend/src/auth/auth.controller.ts
  frontend/package.json
  frontend/src/common/components/Organism/Header.vue
  frontend/src/common/store/auth.ts
  frontend/src/main.ts
  frontend/vite.config.ts
  pnpm-lock.yaml
Labels: feat: frontend

#248 fix: fix broken lockfile
  pnpm-lock.yaml
Labels: bug, feat: ci, p5-urgent 🧨

#252 chore(be): add unique attribute to group name field
  backend/prisma/migrations/20220925061759_unique_group_name/migration.sql
  backend/prisma/schema.prisma
Labels: feat: backend

#250 feat(fe): add page layout
  frontend/env.d.ts
  frontend/package.json
  frontend/src/App.vue
  frontend/src/common/components/Organism/Sidebar.vue
  frontend/src/common/layouts/admin.vue
  frontend/src/common/layouts/default.vue
  frontend/src/common/layouts/empty.vue
  frontend/src/main.ts
  frontend/src/user/home/components/Carousel.vue
  frontend/src/user/home/pages/index.vue
  frontend/src/user/problem/pages/index.vue
  frontend/vite.config.ts
  pnpm-lock.yaml
Labels: feat: frontend

#255 fix: use the latest volar plugin in gitpod
  .gitpod.yml
Labels: bug

#234 feat(docs): create readme
  README.md
Labels: documentation
