Repository skkuding/codedang, pull requests merged in 2022-04, with the labels that each got.

#30 style: use eslint
  .eslintignore
  .eslintrc.js
  .gitpod.yml
  .vscode/extensions.json
  backend/.eslintrc.js
  backend/package.json
  frontend/.eslintrc.js
  package.json
  pnpm-lock.yaml
Labels: p1-chore 🧹, feat: ci, ready to merge

#32 feat(fe): use iconify
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite.config.ts
  pnpm-lock.yaml
Labels: feat: frontend, ready to merge

#33 feat(fe): use tailwindcss
  .gitpod.yml
  .vscode/extensions.json
  frontend/index.html
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/index.css
  frontend/src/main.ts
  frontend/tailwind.config.js
  pnpm-lock.yaml
Labels: feat: frontend

#34 chore(ci): use github action
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: feat: ci

#37 refactor(fe): apply modular architecture
  frontend/src/App.vue
  frontend/src/common/assets/logo.svg
  frontend/src/common/styles/style.css
  frontend/src/home/components/HelloWorld.vue
  frontend/src/home/components/TheWelcome.vue
  frontend/src/home/components/WelcomeItem.vue
  frontend/src/home/components/icons/IconCommunity.vue
  frontend/src/home/components/icons/IconDocumentation.vue
  frontend/src/home/components/icons/IconEcosystem.vue
  frontend/src/home/components/icons/IconSupport.vue
  frontend/src/home/components/icons/IconTooling.vue
  frontend/src/index.css
  frontend/src/main.ts
Labels: p2-nice-to-have 🚦

#39 feat(fe): use vite-plugin-pages
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/App.vue
  frontend/src/home/pages/index.vue
  frontend/src/main.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  pnpm-lock.yaml
Labels: feat: frontend, p2-nice-to-have 🚦

#40 chore: add prettier plugin for tailwind css
  .prettierrc
  .prettierrc.js
  package.json
  pnpm-lock.yaml
Labels: p1-chore 🧹, feat: frontend

#41 chore: upgrade vite to 2.9
  frontend/package.json
  frontend/vite.config.ts
  pnpm-lock.yaml
Labels: p1-chore 🧹, feat: frontend

#42 feat(fe): use pinia as client store
  frontend/package.json
  frontend/src/main.ts
  pnpm-lock.yaml
Labels: feat: frontend, p2-nice-to-have 🚦, ready to merge

#38 feat(be): use prisma
  .gitpod.yml
  .vscode/extensions.json
  .vscode/settings.json
  backend/docker-compose.yml
  backend/package.json
  backend/prisma/migrations/20220413125002_init/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/prisma/prisma.module.ts
  backend/src/prisma/prisma.service.ts
  pnpm-lock.yaml
  scripts/setup.sh
Labels: feat: backend, p2-nice-to-have 🚦, ready to merge
