Repository skkuding/codedang, pull requests merged in 2022-07, with the labels that each got.

#93 feat(fe): add pagetitle component
  frontend/src/common/components/Atom/PageSubtitle.vue
  frontend/src/common/components/Atom/PageTitle.vue
  frontend/tailwind.config.js
Labels: feat: frontend

#97 feat: use lefthook to create git hooks
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/setup.sh
Labels: feat: ci

#91 feat(be): use argon2
  backend/package.json
  backend/src/auth/common/hash.ts
  pnpm-lock.yaml
Labels: feat: backend

#94 feat(fe): add card-item component
  frontend/src/common/components/Molecule/CardItem.vue
Labels: feat: frontend

#104 feat(fe): use histoire for component documentation
  frontend/env.d.ts
  frontend/histoire.config.ts
  frontend/package.json
  frontend/src/common/components/Atom/AtomComponent.vue
  frontend/src/common/components/Atom/PageSubtitle.story.vue
  frontend/src/common/components/Atom/PageTitle.story.vue
  frontend/src/common/components/Molecule/CardItem.story.vue
  frontend/src/common/components/Molecule/MoleculeComponent.vue
  frontend/src/histoire.css
  frontend/src/histoire.setup.ts
  pnpm-lock.yaml
Labels: feat: frontend

#95 feat(fe): add input item component
  frontend/src/common/components/Atom/InputItem.vue
Labels: feat: frontend

#100 feat(fe): add button component
  frontend/src/common/components/Atom/Button.vue
Labels: feat: frontend

#105 feat(be): implement Authentication/Authorization process with JWT Token
  backend/package.json
  backend/prisma/migrations/20220705080930_add_default_user_role/migration.sql
  backend/prisma/migrations/20220712082423_use_enum_for_user_role/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/constants/jwt.constants.ts
  backend/src/auth/dto/login-user.dto.ts
  backend/src/auth/guard/jwt-auth.guard.ts
  backend/src/auth/interface/authenticated-request.interface.ts
  backend/src/auth/interface/authenticated-user.interface.ts
  backend/src/auth/interface/jwt.interface.ts
  backend/src/auth/strategy/jwt.strategy.ts
  backend/src/common/cache/cacheConfig.service.ts
  backend/src/common/cache/keys.ts
  backend/src/common/exception/business.exception.ts
  backend/src/common/hash.ts
  backend/src/main.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
  pnpm-lock.yaml
  scripts/setup.sh
Labels: feat: backend

#132 feat: add dev container vscode extensions
  .devcontainer/devcontainer.json
  .gitpod.yml
  .vscode/settings.json
Labels: p2-nice-to-have 🚦

#106 feat(fe): add footer component
  frontend/package.json
  frontend/src/common/components/Organism/Footer.story.vue
  frontend/src/common/components/Organism/Footer.vue
  frontend/src/common/components/Organism/OrganismComponent.vue
  frontend/src/common/styles/style.css
  pnpm-lock.yaml
Labels: feat: frontend, ready to merge

#116 feat(be): implement contest admin api
  backend/prisma/migrations/20220706072821_contest_type/migration.sql
  backend/prisma/migrations/20220710121359_add_description_summary_to_contest/migration.sql
  backend/prisma/schema.prisma
  backend/src/common/exception/business.exception.ts
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.controller.ts
  backend/src/contest/contest.module.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
  backend/src/contest/dto/create-contest.dto.ts
  backend/src/contest/dto/update-contest.dto.ts
  backend/src/group/group.module.ts
  backend/src/group/group.service.spec.ts
  backend/src/group/group.service.ts
  backend/src/group/guard/group-manager.guard.ts
  backend/src/group/guard/group-member.guard.ts
Labels: feat: backend

#123 feat(fe): add progress card component
  frontend/src/common/components/Molecule/ProgressCard.story.vue
  frontend/src/common/components/Molecule/ProgressCard.vue
Labels: feat: frontend

#121 feat(fe): add badge component
  frontend/src/common/components/Molecule/Badge.story.vue
  frontend/src/common/components/Molecule/Badge.vue
Labels: feat: frontend

#115 feat(fe): add card component
  frontend/src/home/components/Card.story.vue
  frontend/src/home/components/Card.vue
  frontend/src/home/components/MyComponent.vue
  frontend/src/home/pages/index.vue
Labels: feat: frontend, ready to merge

#108 feat(fe): add switch component
  frontend/src/common/components/Molecule/Switch.story.vue
  frontend/src/common/components/Molecule/Switch.vue
Labels: feat: frontend, ready to merge

#122 feat(fe): add tab component
  frontend/src/common/components/Molecule/Tab.story.vue
  frontend/src/common/components/Molecule/Tab.vue
Labels: feat: frontend, ready to merge

#152 chore(be): add update last_login logic to login handler
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/user/user.service.ts
Labels: feat: backend

#131 feat(be): implement role-based guard
  backend/src/app.module.ts
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/guard/jwt-auth.guard.ts
  backend/src/common/decorator/public.decorator.ts
  backend/src/common/decorator/roles.decorator.ts
  backend/src/user/guard/roles.guard.ts
  backend/tsconfig.json
Labels: feat: backend

#143 feat(fe): add modal component
  frontend/public/skku.svg
  frontend/src/common/assets/logo.png
  frontend/src/common/assets/logo.svg
  frontend/src/common/components/Molecule/Modal.story.vue
  frontend/src/common/components/Molecule/Modal.vue
Labels: feat: frontend

#146 feat(fe): add popover component
  frontend/src/common/components/Atom/Popover.story.vue
  frontend/src/common/components/Atom/Popover.vue
Labels: feat: frontend

#158 feat(fe): add box-title component
  frontend/src/common/components/Atom/BoxTitle.story.vue
  frontend/src/common/components/Atom/BoxTitle.vue
Labels: feat: frontend

#165 feat(be): implement group list interceptor
  backend/src/group/group.service.ts
Labels: feat: backend
