Repository skkuding/codedang, pull requests merged in 2022-11, with the labels that each got.

#275 fix(fe): add margin above footer
  frontend/src/common/layouts/default.vue
Labels: bug, feat: frontend, p3-minor-bug 🧩

#280 fix: use official vue extension for gitpod
  .gitpod.yml
Labels: bug, p4-important ❗

#257 feat(fe): add 404 not found page
  frontend/src/user/home/pages/404.webp
  frontend/src/user/home/pages/[...all].vue
Labels: feat: frontend

#230 feat(fe): add contest detail
  frontend/package.json
  frontend/src/App.vue
  frontend/src/common/components/Molecule/Tab.vue
  frontend/src/main.ts
  frontend/src/user/contest/components/notice.vue
  frontend/src/user/contest/components/problem.vue
  frontend/src/user/contest/components/ranking.vue
  frontend/src/user/contest/components/top.vue
  frontend/src/user/contest/pages/[id]/index.vue
  frontend/src/user/contest/pages/[id]/notice.vue
  frontend/src/user/contest/pages/[id]/problem.vue
  frontend/src/user/contest/pages/[id]/ranking.vue
  frontend/src/user/contest/pages/[id]/top.vue
  pnpm-lock.yaml
Labels: feat: frontend

#65 docs: use vitepress for documentation
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/vars.css
  docs/group-admin/contest.md
  docs/group-admin/group.md
  docs/group-admin/main.md
  docs/group-admin/notice.md
  docs/group-admin/problem.md
  docs/group-admin/workbook.md
  docs/index.md
  docs/intro/backend-preview.png
  docs/intro/frontend-preview.png
  docs/intro/getting-started.md
  docs/intro/git-clone.png
  docs/intro/index.md
  docs/intro/new-wsl-window.png
  docs/intro/remote-containers.png
  docs/intro/remote-wsl.png
  docs/intro/reopen-in-container.png
  docs/intro/vscode-download.png
  docs/project/deploy.md
  docs/project/github-projects.png
  docs/project/hierarchy.md
  docs/project/roadmap.md
  docs/project/tech-stack.md
  docs/user/contest.md
  docs/user/group.md
  docs/user/main.md
  docs/user/notice.md
  docs/user/problem.md
  package.json
  pnpm-lock.yaml
Labels: documentation
