Repository skkuding/codedang, pull requests merged in 2022-12, with the labels that each got.

#294 feat(be): add action-not-allowed-exception
  backend/src/common/exception/business.exception.ts
Labels: feat: backend

#296 fix(be): add missing migration file
  .github/workflows/ci.yml
  backend/prisma/migrations/20221222120916_prevent_deleting_reference/migration.sql
Labels: bug, feat: backend, feat: ci

#154 feat(be): implement contest participation api
  backend/src/common/exception/business.exception.ts
  backend/src/contest/contest.controller.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
Labels: feat: backend

#179 feat(be): implement a group contest switch to public request
  backend/prisma/migrations/20220820175807_add_contest_to_public_request_table/migration.sql
  backend/prisma/migrations/20220827082307_add_is_public_to_contest_table/migration.sql
  backend/prisma/migrations/20221223103636_change_name_of_contest_public_request/migration.sql
  backend/prisma/schema.prisma
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.module.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
  backend/src/contest/dto/create-publicizing-request.dto.ts
  backend/src/contest/dto/respond-publicizing-request.dto.ts
Labels: feat: backend

#256 feat(fe): add problem navigator
  frontend/src/user/problem/components/Navigator.vue
Labels: feat: frontend

#258 chore(be): change user role hierarchy
  backend/prisma/migrations/20220930064123_refactor_user_role/migration.sql
  backend/prisma/schema.prisma
  backend/src/auth/class/authenticated-user.class.ts
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.controller.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
  backend/src/group/group.service.ts
  backend/src/group/guard/group-leader.guard.ts
  backend/src/group/guard/group-member.guard.ts
  backend/src/notice/notice-admin.controller.ts
  backend/src/notice/notice.service.spec.ts
  backend/src/notice/notice.service.ts
Labels: feat: backend
