Repository skkuding/codedang, pull requests merged in 2022-08, with the labels that each got.

#166 refactor(be): use rejectOnNotFound property
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
  backend/src/group/guard/group-manager.guard.ts
  backend/src/group/guard/group-member.guard.ts
  backend/src/user/guard/roles.guard.ts
  backend/src/user/user.service.ts
Labels: feat: backend

#129 feat(fe): add pagination table component
  frontend/package.json
  frontend/src/common/components/Atom/Button.story.vue
  frontend/src/common/components/Molecule/Pagination.story.vue
  frontend/src/common/components/Molecule/Pagination.vue
  frontend/src/common/components/Molecule/SearchBar.story.vue
  frontend/src/common/components/Molecule/SearchBar.vue
  frontend/src/common/components/Organism/PaginationTable.story.vue
  frontend/src/common/components/Organism/PaginationTable.vue
  pnpm-lock.yaml
Labels: feat: frontend

#175 chore: add histoire plugin
  frontend/histoire.config.ts
  frontend/package.json
  pnpm-lock.yaml
Labels: bug, p5-urgent 🧨

#172 chore(be): refactor roleGuard and group guards
  backend/src/auth/class/authenticated-user.class.ts
  backend/src/auth/interface/authenticated-request.interface.ts
  backend/src/auth/interface/authenticated-user.interface.ts
  backend/src/auth/strategy/jwt.strategy.ts
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.module.ts
  backend/src/contest/dto/create-contest.dto.ts
  backend/src/contest/dto/update-contest.dto.ts
  backend/src/group/guard/group-manager.guard.ts
  backend/src/group/guard/group-member.guard.ts
  backend/src/notice/notice-admin.controller.ts
  backend/src/notice/notice.controller.ts
  backend/src/user/guard/roles.guard.ts
Labels: feat: backend

#110 feat(be): implement contest get api sets
  backend/package-lock.json
  backend/src/common/exception/business.exception.ts
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.controller.spec.ts
  backend/src/contest/contest.controller.ts
  backend/src/contest/contest.module.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
  package-lock.json
Labels: feat: backend

#183 fix(be): import usermodule in contest module
  backend/src/contest/contest.module.ts
  backend/src/notice/notice.controller.ts
Labels: p5-urgent 🧨

#189 chore: remove package-lock.json
  backend/package-lock.json
  package-lock.json
Labels: p1-chore 🧹

#137 feat(fe): add carousel component
  frontend/src/home/components/Carousel.story.vue
  frontend/src/home/components/Carousel.vue
Labels: feat: frontend

#109 feat(be): make password reset logic with nodemailer
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/common/cache/keys.ts
  backend/src/common/exception/business.exception.ts
  backend/src/email/email.module.ts
  backend/src/email/email.service.spec.ts
  backend/src/email/email.service.ts
  backend/src/email/mailerConfig.service.ts
  backend/src/user/constants/jwt.constants.ts
  backend/src/user/dto/newPassword.dto.ts
  backend/src/user/dto/passwordResetPin.dto.ts
  backend/src/user/dto/userEmail.dto.ts
  backend/src/user/interface/jwt.interface.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  pnpm-lock.yaml
  scripts/setup.sh
Labels: feat: backend

#159 feat(fe): add toast component
  frontend/src/App.vue
  frontend/src/common/components/Atom/Toast.story.vue
  frontend/src/common/components/Atom/Toast.vue
  frontend/src/common/components/Organism/Footer.story.vue
  frontend/src/common/components/Organism/Footer.vue
  frontend/src/common/composables/toast.ts
Labels: feat: frontend

#186 feat(fe): add tailwind css forms plugin
  frontend/package.json
  frontend/src/common/components/Atom/InputItem.story.vue
  frontend/src/common/components/Atom/InputItem.vue
  frontend/src/common/components/Molecule/SearchBar.vue
  frontend/src/common/components/Molecule/Switch.story.vue
  frontend/src/common/components/Molecule/Switch.vue
  frontend/tailwind.config.js
  pnpm-lock.yaml
Labels: feat: frontend
