Repository skkuding/codedang, pull requests merged in 2023-01, with the labels that each got.

#246 style(fe): upgrade pagination-table
  frontend/src/common/components/Atom/Button.story.vue
  frontend/src/common/components/Atom/Button.vue
  frontend/src/common/components/Molecule/Pagination.vue
  frontend/src/common/components/Molecule/SearchBar.vue
  frontend/src/common/components/Organism/PaginationTable.story.vue
  frontend/src/common/components/Organism/PaginationTable.vue
Labels: feat: frontend

#300 feat(be): replace jest with mocha
  .devcontainer/devcontainer.json
  .gitignore
  .gitpod.yml
  .vscode/settings.json
  backend/.mocharc.json
  backend/.swcrc
  backend/jest.config.js
  backend/mocha-fixture.ts
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/contest/contest.controller.spec.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/email/email.service.spec.ts
  backend/src/group/group.controller.spec.ts
  backend/src/group/group.service.spec.ts
  backend/src/notice/notice.controller.spec.ts
  backend/src/notice/notice.service.spec.ts
  backend/src/problem/problem.controller.spec.ts
  backend/src/problem/problem.service.spec.ts
  backend/src/submission/submission.controller.spec.ts
  backend/src/submission/submission.service.spec.ts
  backend/src/user/user.controller.spec.ts
  backend/src/user/user.service.spec.ts
  backend/src/workbook/workbook.controller.spec.ts
  backend/src/workbook/workbook.service.spec.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  docs/project/tech-stack.md
  pnpm-lock.yaml
Labels: bug, feat: backend, feat: ci, p4-important ❗

#232 feat(fe): add contest-list
  frontend/src/common/layouts/default.vue
  frontend/src/user/contest/pages/index.vue
  pnpm-lock.yaml
Labels: feat: frontend

#272 feat(ci): configure debugging in vscode
  .vscode/launch.json
Labels: feat: ci

#276 feat(fe): add clarification
  frontend/package.json
  frontend/src/user/problem/components/Clarification.story.vue
  frontend/src/user/problem/components/Clarification.vue
  pnpm-lock.yaml
Labels: feat: frontend

#327 fix(be): edit foreign field name to camel case
  backend/prisma/schema.prisma
Labels: feat: backend, p3-minor-bug 🧩

#316 feat(fe): add dropdown & listitem theme
  frontend/src/common/components/Atom/ListItem.story.vue
  frontend/src/common/components/Atom/ListItem.vue
  frontend/src/common/components/Molecule/Dropdown.story.vue
  frontend/src/common/components/Molecule/Dropdown.vue
  frontend/src/user/problem/components/Navigator.vue
Labels: feat: frontend

#249 feat(fe): add problem header
  frontend/src/common/components/Atom/SymbolLogo.story.vue
  frontend/src/common/components/Atom/SymbolLogo.vue
  frontend/src/common/components/Molecule/Dropdown.vue
  frontend/src/common/components/Organism/Login.vue
  frontend/src/problem/components/Header.story.vue
  frontend/src/problem/components/Header.vue
Labels: feat: frontend

#331 build: deploy documentation automatically
  .github/workflows/documentation.yml
  .github/workflows/storybook.yml
Labels: feat: deploy, documentation

#313 feat(fe): add code editor component
  frontend/package.json
  frontend/src/common/components/Organism/CodeEditor.story.vue
  frontend/src/common/components/Organism/CodeEditor.vue
  pnpm-lock.yaml
Labels: feat: frontend

#244 feat(fe): add notice list and detail
  frontend/src/App.vue
  frontend/src/common/components/Organism/Header.vue
  frontend/src/common/components/Organism/PaginationTable.vue
  frontend/src/user/notice/composables/notice.ts
  frontend/src/user/notice/pages/[id].vue
  frontend/src/user/notice/pages/index.vue
Labels: feat: frontend

#336 feat(fe): connect contest list api
  frontend/src/user/contest/pages/index.vue
Labels: feat: frontend, frontend-api-connect

#339 feat(fe): fix problem header directory and design
  frontend/src/problem/components/Header.story.vue
  frontend/src/user/problem/components/Header.vue
Labels: bug, feat: frontend

#346 feat(be): expel manager from admin page
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
  backend/src/notice/notice-admin.controller.ts
  backend/src/notice/notice.service.spec.ts
  backend/src/notice/notice.service.ts
Labels: feat: backend

#204 feat(be): implement workbook CRUD api
  backend/prisma/migrations/20220812060317_add_allow_partial_score_to_workbook/migration.sql
  backend/prisma/migrations/20230118084806_delete_allow_partial_score_field_in_workbook_model/migration.sql
  backend/src/workbook/dto/create-workbook.dto.ts
  backend/src/workbook/dto/update-workbook.dto.ts
  backend/src/workbook/workbook-admin.controller.ts
  backend/src/workbook/workbook.controller.spec.ts
  backend/src/workbook/workbook.controller.ts
  backend/src/workbook/workbook.module.ts
  backend/src/workbook/workbook.service.spec.ts
  backend/src/workbook/workbook.service.ts
Labels: feat: backend

#349 fix: prevent lefthook being stucked on checkout
  lefthook.yml
  scripts/post-checkout.sh
  scripts/setup.sh
Labels: bug, feat: backend, feat: ci, p4-important ❗

#357 feat(be): add group json config
  backend/prisma/migrations/20230126123416_add_group_config/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Labels: feat: backend

#353 feat(fe): lint and check types on dev server
  frontend/package.json
  frontend/vite.config.ts
  pnpm-lock.yaml
Labels: feat: frontend
