Repository skkuding/codedang, pull requests merged in 2023-02, with the labels that each got.

#354 feat(fe): connect notice list page api
  frontend/src/user/notice/composables/notice.ts
  frontend/src/user/notice/pages/[id].vue
  frontend/src/user/notice/pages/index.vue
Labels: frontend-api-connect

#367 refactor: change decorator name 'Public' to 'AuthNotNeeded'
  backend/src/auth/auth.controller.ts
  backend/src/auth/guard/jwt-auth.guard.ts
  backend/src/common/decorator/auth-ignore.decorator.ts
  backend/src/common/decorator/public.decorator.ts
  backend/src/contest/contest.controller.ts
  backend/src/notice/notice.controller.ts
  backend/src/user/user.controller.ts
  backend/src/workbook/workbook.controller.ts
Labels: feat: backend

#355 feat(fe): connect notice detail page api
  frontend/src/user/notice/composables/notice.ts
  frontend/src/user/notice/pages/[id].vue
Labels: frontend-api-connect

#369 fix: specify output directory in nest-cli.json
  backend/nest-cli.json
Labels: bug, feat: backend

#361 feat(be): change schema and migrate
  backend/prisma/migrations/20230127120354_revise_schema_to_follow_new_plan/migration.sql
  backend/prisma/migrations/20230127122258_modify_config_to_be_required/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/constants/jwt.constants.ts
  backend/src/common/cache/keys.ts
  backend/src/common/constants.ts
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
  backend/src/contest/dto/create-contest.dto.ts
  backend/src/contest/dto/create-publicizing-request.dto.ts
  backend/src/contest/dto/respond-publicizing-request.dto.ts
  backend/src/contest/dto/update-contest.dto.ts
  backend/src/contest/interface/publicizing-request.interface.ts
  backend/src/group/group.service.ts
  backend/src/group/guard/group-leader.guard.ts
  backend/src/group/guard/group-member.guard.ts
  backend/src/notice/dto/create-notice.dto.ts
  backend/src/notice/dto/update-notice.dto.ts
  backend/src/notice/notice.service.spec.ts
  backend/src/notice/notice.service.ts
  backend/src/user/constants/jwt.constants.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/src/workbook/dto/update-workbook.dto.ts
  backend/src/workbook/workbook.service.spec.ts
  backend/src/workbook/workbook.service.ts
Labels: feat: backend

#192 ci: lint commit message
  .github/workflows/ci.yml
  backend/prisma/seed.ts
  backend/src/contest/contest.service.spec.ts
  commitlint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
Labels: feat: ci

#375 fix(ci): lint pr message only on pull request
  .github/workflows/ci.yml
Labels: feat: ci, p5-urgent 🧨

#185 feat(be): implement problem get apis for user
  backend/prisma/migrations/20230210080345_set_composite_ids_for_contest_and_workbook_problem/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/common/constants.ts
  backend/src/common/dto/pagination.dto.ts
  backend/src/contest/contest.module.ts
  backend/src/contest/contest.service.ts
  backend/src/main.ts
  backend/src/problem/dto/problem.response.dto.ts
  backend/src/problem/dto/problems.response.dto.ts
  backend/src/problem/dto/related-problem.response.dto.ts
  backend/src/problem/dto/related-problems.response.dto.ts
  backend/src/problem/mock/problem.mock.ts
  backend/src/problem/problem.controller.spec.ts
  backend/src/problem/problem.controller.ts
  backend/src/problem/problem.module.ts
  backend/src/problem/problem.repository.ts
  backend/src/problem/problem.service.spec.ts
  backend/src/problem/problem.service.ts
  backend/src/workbook/workbook.module.ts
  backend/src/workbook/workbook.service.ts
Labels: feat: backend

#377 fix(be): fix typo of cache port environment variable
  backend/src/common/cache/cacheConfig.service.ts
Labels: bug, feat: backend, p4-important ❗

#340 docs(be): add api documentation with thunder client
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .gitpod.yml
  .prettierignore
  .vscode/settings.json
  backend/nest-cli.json
  backend/package.json
  backend/prisma/migrations/20230215042218_change_last_login_optional/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/contest/contest.controller.ts
  backend/src/main.ts
  backend/src/problem/problem.repository.ts
  backend/src/user/dto/signup.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  backend/src/workbook/dto/create-workbook.dto.ts
  backend/tsconfig.build.json
  frontend/vite.config.ts
  scripts/setup.sh
  thunder-tests/thunderCollection.json
  thunder-tests/thunderEnvironmentBase.json
  thunder-tests/thunderclient.json
Labels: feat: backend, documentation

#387 fix(be): fix not working authentication
  backend/src/auth/guard/jwt-auth.guard.ts
  backend/src/common/decorator/auth-ignore.decorator.ts
Labels: bug, feat: backend, p4-important ❗

#388 fix(be): prohibit access for group contest
  backend/src/contest/contest.controller.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
Labels: feat: backend

#295 feat(be): implement group user api
  backend/prisma/migrations/20230203104712_make_composite_pk_of_user_group/migration.sql
  backend/prisma/schema.prisma
  backend/src/common/cache/keys.ts
  backend/src/common/constants.ts
  backend/src/common/exception/business.exception.ts
  backend/src/contest/contest.controller.spec.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/group/group.controller.ts
  backend/src/group/group.service.spec.ts
  backend/src/group/group.service.ts
  backend/src/group/interface/group-data.interface.ts
  backend/src/group/interface/user-group-data.interface.ts
  backend/src/notice/notice.service.spec.ts
  backend/src/problem/problem.service.spec.ts
  backend/src/user/user.service.ts
Labels: feat: backend

#399 feat(be): fix mocha config to give custom directory
  backend/.mocharc.json
  backend/package.json
Labels: feat: backend, p2-nice-to-have 🚦

#396 docs(be): add problem get api documentation
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Labels: documentation

#371 feat(be): public contest get API
  backend/src/contest/contest.controller.spec.ts
  backend/src/contest/contest.controller.ts
  backend/src/contest/contest.module.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
Labels: feat: backend

#305 feat(fe): add group main page
  frontend/package.json
  frontend/src/common/components/Atom/InputItem.vue
  frontend/src/common/components/Atom/PageSubtitle.vue
  frontend/src/common/components/Atom/PageTitle.vue
  frontend/src/common/components/Molecule/CardItem.vue
  frontend/src/common/components/Molecule/RadioButton.story.vue
  frontend/src/common/components/Molecule/RadioButton.vue
  frontend/src/common/components/Molecule/SearchBar.vue
  frontend/src/common/components/Molecule/Tab.vue
  frontend/src/user/group/components/Contest.vue
  frontend/src/user/group/components/GroupListSection.vue
  frontend/src/user/group/components/Member.vue
  frontend/src/user/group/components/MyComponent.vue
  frontend/src/user/group/components/NameList.vue
  frontend/src/user/group/components/Notice.vue
  frontend/src/user/group/components/Profile.vue
  frontend/src/user/group/components/Workbook.vue
  frontend/src/user/group/pages/[id].vue
  frontend/src/user/group/pages/[id]/contest.vue
  frontend/src/user/group/pages/[id]/member.vue
  frontend/src/user/group/pages/[id]/notice.vue
  frontend/src/user/group/pages/[id]/workboo.vue
  frontend/src/user/group/pages/index.vue
  frontend/tailwind.config.js
  pnpm-lock.yaml
Labels: feat: frontend

#411 chore(be): get selected field in workbook api
  backend/src/workbook/workbook-admin.controller.ts
  backend/src/workbook/workbook.controller.ts
  backend/src/workbook/workbook.service.spec.ts
  backend/src/workbook/workbook.service.ts
Labels: feat: backend

#372 feat(be): add backend pagination
  backend/prisma/migrations/20221117125726_/migration.sql
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
  backend/src/notice/notice-admin.controller.ts
  backend/src/notice/notice.controller.ts
  backend/src/notice/notice.service.spec.ts
  backend/src/notice/notice.service.ts
  backend/src/workbook/workbook-admin.controller.ts
  backend/src/workbook/workbook.controller.ts
  backend/src/workbook/workbook.service.spec.ts
  backend/src/workbook/workbook.service.ts
  pnpm-lock.yaml
Labels: feat: backend

#390 feat(be): add validation for cursor value on pagination
  backend/src/common/exception/controller.exception.ts
  backend/src/common/pipe/cursor-validation.pipe.ts
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/group/group.controller.ts
  backend/src/notice/notice-admin.controller.ts
  backend/src/notice/notice.controller.ts
  backend/src/workbook/workbook-admin.controller.ts
  backend/src/workbook/workbook.controller.ts
  pnpm-lock.yaml
Labels: feat: backend

#418 chore(be): add auth-not-needed decorator
  backend/src/group/group.controller.ts
  backend/src/problem/problem.controller.ts
Labels: feat: backend

#394 feat(fe): connect contest detail problem api
  .github/workflows/ci.yml
  frontend/src/user/contest/components/Notice.vue
  frontend/src/user/contest/components/Problem.vue
  frontend/src/user/contest/components/Ranking.vue
  frontend/src/user/contest/components/Top.vue
  frontend/src/user/contest/components/problem.vue
  frontend/src/user/contest/pages/[id].vue
Labels: frontend-api-connect

#412 refactor(be): standardize service method structures
  backend/src/common/constants.ts
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.controller.spec.ts
  backend/src/contest/contest.controller.ts
  backend/src/contest/contest.module.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
  backend/src/notice/notice-admin.controller.ts
  backend/src/notice/notice.controller.spec.ts
  backend/src/notice/notice.controller.ts
  backend/src/notice/notice.module.ts
  backend/src/notice/notice.service.spec.ts
  backend/src/notice/notice.service.ts
  backend/src/problem/problem.controller.spec.ts
  backend/src/problem/problem.controller.ts
  backend/src/problem/problem.module.ts
  backend/src/problem/problem.repository.ts
  backend/src/problem/problem.service.ts
  backend/src/workbook/workbook-admin.controller.ts
  backend/src/workbook/workbook.controller.spec.ts
  backend/src/workbook/workbook.controller.ts
  backend/src/workbook/workbook.module.ts
  backend/src/workbook/workbook.service.spec.ts
  backend/src/workbook/workbook.service.ts
Labels: feat: backend

#406 fix(be): fix throw inappropriate exception
  backend/src/common/exception/business.exception.ts
  backend/src/group/group.controller.ts
  backend/src/group/group.service.ts
Labels: bug, feat: backend
