Repository skkuding/codedang, pull requests merged in 2023-10, with the labels that each got.

#908 feat(ci): configure image-actions
  .github/workflows/compress-image.yml
Labels: feat: ci

#896 chore(fe): hiding unfinished ones
  docs/intro/backend-preview.png
  docs/intro/frontend-preview.png
  docs/intro/new-wsl-window.png
  docs/intro/remote-containers.png
  docs/intro/remote-wsl.png
  docs/intro/vscode-download.png
  docs/project/github-projects.png
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/src/common/assets/dummy.png
  frontend/src/common/assets/logo.png
  frontend/src/common/components/Organism/Header.vue
  frontend/src/user/problem/pages/index.vue
Labels: ⛳️ team-frontend

#909 fix(be): remove invalid import
  backend/apps/client/src/submission/submission.controller.ts
Labels: 🪰 bug, ⛳️ team-backend

#812 chore: apply knip
  .github/workflows/check-unused.yml
  backend/.mocharc.json
  backend/apps/admin/src/contest/model/contest.input.ts
  backend/apps/admin/src/user/user.entity.ts
  backend/apps/client/src/group/mock/group.mock.ts
  backend/apps/client/src/submission/mock/problemTestcase.mock.ts
  backend/libs/auth/src/roles/roles.decorator.ts
  backend/libs/exception/src/business.exception.ts
  backend/libs/exception/src/controller.exception.ts
  backend/package.json
  frontend/package.json
  frontend/src/common/components/Atom/Popover.story.vue
  frontend/src/common/components/Atom/Popover.vue
  frontend/src/user/home/components/MyComponent.vue
  frontend/src/user/notice/components/MyComponent.vue
  knip.ts
  package.json
  pnpm-lock.yaml
  scripts/setup.sh
Labels: p1-chore 🧹

#911 feat(fe): composable for graphql composable
  frontend/index.html
  frontend/src/admin/components/CreateProblemModal.vue
  frontend/src/admin/pages/[groupId]/contest/[id]/index.vue
  frontend/src/admin/pages/[groupId]/problem/create.vue
  frontend/src/admin/pages/[groupId]/problem/index.vue
  frontend/src/common/components/Organism/CodeEditor.story.vue
  frontend/src/common/components/Organism/CodeEditor.vue
  frontend/src/common/composables/api.ts
  frontend/src/common/composables/graphql.ts
  frontend/src/main.ts
  frontend/src/user/problem/components/Navigator.vue
  frontend/src/user/problem/types.ts
Labels: ⛳️ team-frontend, frontend-api-connect, 💡 feature-admin

#918 fix(fe): update codemirror dependencies
  frontend/package.json
  pnpm-lock.yaml
Labels: 🪰 bug, ⛳️ team-frontend, dependencies, 💡 feature-client

#912 feat(fe): add loading in problem page
  frontend/src/common/components/Atom/Spinner.story.vue
  frontend/src/common/components/Atom/Spinner.vue
  frontend/src/common/composables/api.ts
  frontend/src/user/problem/components/Navigator.vue
  frontend/src/user/problem/pages/index.vue
Labels: ⛳️ team-frontend, 💡 feature-client

#930 fix(fe): let useListGraphQL option optional
  frontend/src/common/composables/graphql.ts
Labels: 🪰 bug, ⛳️ team-frontend

#941 feat(fe): add meta tag for naver seo
  frontend/index.html
Labels: ⛳️ team-frontend, 💡 feature-client

#927 feat(infra): update TLS and HTTP version
  infra/modules/codedang-infra/cloudfront.tf
Labels: ⛳️ team-infra

#832 feat: implement invitation apis for groups
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/group/group.service.spec.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/libs/cache/src/keys.ts
  backend/libs/constants/src/time.constants.ts
  backend/libs/exception/src/business.exception.ts
  frontend/src/user/group/components/GroupListSection.vue
Labels: p3-need-now 🧩
