Repository skkuding/codedang, pull requests merged in 2023-03, with the labels that each got.

#437 chore(be): add id field to workbook list
  backend/src/workbook/workbook.service.spec.ts
  backend/src/workbook/workbook.service.ts
Labels: bug, p1-chore 🧹, feat: backend

#420 fix(be): modify PublicContestController for users not logged in
  backend/src/contest/contest.controller.ts
  backend/src/contest/contest.service.ts
Labels: bug, feat: backend

#438 feat: add type description on imports
  .eslintrc.js
  backend/prisma/seed.ts
  backend/src/app.controller.spec.ts
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guard/jwt-auth.guard.ts
  backend/src/auth/interface/authenticated-request.interface.ts
  backend/src/auth/strategy/jwt.strategy.ts
  backend/src/common/cache/cacheConfig.service.ts
  backend/src/common/decorator/roles.decorator.ts
  backend/src/common/pipe/cursor-validation.pipe.ts
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.controller.spec.ts
  backend/src/contest/contest.controller.ts
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
  backend/src/email/email.service.spec.ts
  backend/src/email/email.service.ts
  backend/src/email/mailerConfig.service.ts
  backend/src/group/group.controller.spec.ts
  backend/src/group/group.controller.ts
  backend/src/group/group.service.spec.ts
  backend/src/group/guard/group-leader.guard.ts
  backend/src/group/guard/group-member.guard.ts
  backend/src/notice/interface/user-notice.interface.ts
  backend/src/notice/notice-admin.controller.ts
  backend/src/notice/notice.controller.spec.ts
  backend/src/notice/notice.controller.ts
  backend/src/notice/notice.service.spec.ts
  backend/src/notice/notice.service.ts
  backend/src/problem/dto/problem.response.dto.ts
  backend/src/problem/mock/problem.mock.ts
  backend/src/problem/problem.controller.spec.ts
  backend/src/problem/problem.controller.ts
  backend/src/problem/problem.repository.ts
  backend/src/problem/problem.service.spec.ts
  backend/src/problem/problem.service.ts
  backend/src/submission/submission.controller.spec.ts
  backend/src/submission/submission.service.spec.ts
  backend/src/user/guard/roles.guard.ts
  backend/src/user/user.controller.spec.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/src/workbook/workbook-admin.controller.ts
  backend/src/workbook/workbook.controller.spec.ts
  backend/src/workbook/workbook.controller.ts
  backend/src/workbook/workbook.service.spec.ts
  backend/src/workbook/workbook.service.ts
Labels: p2-nice-to-have 🚦

#414 test(be): write public contest get API test code
  backend/src/contest/contest.service.spec.ts
Labels: feat: backend

#445 fix(fe): change header position on mobile screen
  frontend/src/common/components/Organism/Header.vue
Labels: bug, feat: frontend

#379 feat(fe): connect workbook api to problem list & workbook detail page
  backend/prisma/seed.ts
  backend/src/workbook/workbook.controller.ts
  backend/src/workbook/workbook.service.spec.ts
  backend/src/workbook/workbook.service.ts
  frontend/src/user/problem/pages/index.vue
  frontend/src/user/workbook/composables/workbook.ts
  frontend/src/user/workbook/pages/[id].vue
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Labels: feat: backend, feat: frontend, frontend-api-connect

#364 feat(fe): add problem page
  frontend/src/App.vue
  frontend/src/common/components/Molecule/Dropdown.vue
  frontend/src/user/notice/composables/notice.ts
  frontend/src/user/notice/pages/[id].vue
  frontend/src/user/problem/components/Clarification.vue
  frontend/src/user/problem/components/Header.vue
  frontend/src/user/problem/components/MyComponent.vue
  frontend/src/user/problem/components/Navigator.vue
  frontend/src/user/problem/pages/[id].vue
  frontend/src/user/problem/pages/[id]/index.vue
  frontend/src/user/problem/pages/[id]/standings.vue
  frontend/src/user/problem/pages/[id]/submissions.vue
  frontend/src/user/problem/store/problem.ts
  frontend/src/user/problem/types.ts
Labels: feat: frontend
