Repository skkuding/codedang, pull requests merged in 2023-09, with the labels that each got.

#850 fix(inf): enable task auto-update
  infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/iris/task-definition.tftpl
  infra/modules/codedang-infra/user-data.sh
Labels: 🪰 bug, ⛳️ team-infra

#851 fix(infra): add required cloudfront methods
  infra/modules/codedang-infra/cloudfront.tf
Labels: 🪰 bug, ⛳️ team-infra

#852 fix(infra): add missing ecs iris env
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
Labels: 🪰 bug, ⛳️ team-infra

#858 fix(inf): change testcase policy resource
  infra/modules/codedang-infra/testcase.tf
Labels: 🪰 bug, ⛳️ team-infra

#861 fix(infra): fix testcase bucket policy resource
  infra/modules/codedang-infra/testcase.tf
Labels: 🪰 bug, ⛳️ team-infra

#864 fix(be): add createdBy to get notice response
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/notice/notice.service.ts
Labels: ⛳️ team-backend

#867 feat(infra): change ecs cpu to x64
  .github/workflows/deploy.yml
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/ecs-api-admin.tf
  infra/modules/codedang-infra/ecs-api-asg.tf
  infra/modules/codedang-infra/ecs-api-client.tf
  infra/modules/codedang-infra/ecs-iris-asg.tf
Labels: ⛳️ team-infra

#868 fix(infra): add runs-on to deploy action
  .github/workflows/deploy.yml
Labels: ⛳️ team-infra

#870 chore(iris): add sandbox error logging
  infra/modules/codedang-infra/iris/task-definition.tftpl
  iris/src/handler/judge-handler.go
Labels: ⛳️ team-infra, ⛳️ team-iris

#826 feat(fe): added createdBy in notice page
  frontend/src/user/notice/composables/notice.ts
  frontend/src/user/notice/pages/[id].vue
  frontend/src/user/notice/pages/index.vue
Labels: ⛳️ team-frontend, 💡 feature-client

#877 fix(iris): allow writing sandbox folder for group user
  .devcontainer/Dockerfile
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/libs/constants/src/submission.constants.ts
  go.work
  infra/builder/iris/Dockerfile
  infra/builder/iris/entrypoint.sh
  iris/go.mod
  iris/src/service/sandbox/runner.go
  iris/tests/data/testcase/10.json
  iris/tests/data/testcase/8.json
  iris/tests/data/testcase/9.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/init-testcase.ts
  scripts/setup.sh
  testcase-server/Dockerfile
  testcase-server/data/1.json
  testcase-server/go.mod
  testcase-server/handler/interface.go
  testcase-server/handler/response/error.go
  testcase-server/handler/response/responser.go
  testcase-server/handler/testcase.go
  testcase-server/main.go
  testcase-server/middleware/adapter.go
  testcase-server/middleware/example.go
  testcase-server/middleware/json-content-type.go
  testcase-server/package.json
  testcase-server/router/method/method.go
  testcase-server/router/router.go
  testcase-server/utils/get_env.go
Labels: 🪰 bug, ⛳️ team-infra, 💡 feature-client, ⛳️ team-iris

#879 fix(iris): fix mismatched sandbox result
  .github/workflows/deploy.yml
  .github/workflows/devserver.yml
  iris/Dockerfile
  iris/src/connector/rabbitmq/producer.go
  iris/src/handler/judge-handler.go
  iris/src/service/sandbox/runner.go
  iris/src/service/sandbox/sandbox.go
Labels: 🪰 bug, ⛳️ team-iris

#880 fix(infra): replace dir to docker context
  .github/workflows/deploy.yml
  .github/workflows/devserver.yml
Labels: 🪰 bug, feat: ci

#882 feat(fe): submission list 페이지 구현
  frontend/src/user/problem/components/Navigator.vue
  frontend/src/user/problem/components/SubmissionDetail.vue
  frontend/src/user/problem/components/SubmissionList.vue
  frontend/src/user/problem/pages/[id]/submissions.vue
Labels: ⛳️ team-frontend, frontend-api-connect

#883 feat(iris): add compile failure log
  iris/main.go
  iris/src/service/sandbox/compiler.go
  iris/src/service/sandbox/runner.go
Labels: ⛳️ team-iris

#884 feat(iris): log compile failure
  iris/src/service/sandbox/compiler.go
Labels: ⛳️ team-iris

#886 fix(be): handle compile error
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  frontend/src/common/components/Molecule/Dropdown.vue
  frontend/src/user/problem/components/Navigator.vue
  frontend/src/user/problem/components/SubmissionList.vue
Labels: 🪰 bug, ⛳️ team-backend

#887 fix(infra): use proper ec2 ami
  infra/modules/codedang-infra/ecs-api-asg.tf
  infra/modules/codedang-infra/ecs-iris-asg.tf
  infra/modules/codedang-infra/security-group.tf
Labels: 🪰 bug, ⛳️ team-infra

#573 feat(be): implement admin contest module with graphql
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/contest/contest.module.ts
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/contest/model/contest.input.ts
  backend/apps/admin/src/contest/model/publicizing-request.model.ts
  backend/apps/admin/src/contest/model/publicizing-response.output.ts
  backend/libs/cache/src/keys.ts
  backend/libs/constants/src/time.constants.ts
  backend/prisma/schema.prisma
  thunder-tests/collections/tc_col_codedang-admin-api.json
  thunder-tests/collections/tc_col_codedang-client-api.json
Labels: ⛳️ team-backend

#889 fix(fe): transform type
  frontend/src/admin/components/CreateProblemModal.vue
Labels: 🪰 bug, ⛳️ team-frontend, p5-urgent 🧨

#893 feat(infra): allow api docs to use dev server
  Caddyfile
Labels: ⛳️ team-infra

#899 feat(fe): add open graph meta
  frontend/index.html
  frontend/public/open-graph.png
Labels: ⛳️ team-frontend

#894 feat(fe): use vee-validate in sign up form
  frontend/src/common/components/Atom/InputItem.vue
  frontend/src/common/components/Organism/Signup.vue
  frontend/src/common/store/auth.ts
  frontend/src/common/styles/style.css
  frontend/src/main.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#900 fix(infra): enable masking ecr login
  .github/workflows/deploy.yml
Labels: 🪰 bug, ⛳️ team-infra

#904 fix: disable pnpm hard link
  .npmrc
Labels: 🪰 bug, ⛳️ team-infra

#905 feat(be): refactor seed
  backend/prisma/__fixtures__/problem/1-description.html
  backend/prisma/__fixtures__/problem/1-input.html
  backend/prisma/__fixtures__/problem/1-output.html
  backend/prisma/__fixtures__/problem/2-description.html
  backend/prisma/__fixtures__/problem/2-input.html
  backend/prisma/__fixtures__/problem/2-output.html
  backend/prisma/__fixtures__/problem/3-description.html
  backend/prisma/__fixtures__/problem/3-input.html
  backend/prisma/__fixtures__/problem/3-output.html
  backend/prisma/__fixtures__/problem/4-description.html
  backend/prisma/__fixtures__/problem/4-hint.html
  backend/prisma/__fixtures__/problem/4-input.html
  backend/prisma/__fixtures__/problem/4-output.html
  backend/prisma/__fixtures__/problem/5-description.html
  backend/prisma/__fixtures__/problem/5-input.html
  backend/prisma/__fixtures__/problem/5-output.html
  backend/prisma/__fixtures__/problem/6-description.html
  backend/prisma/__fixtures__/problem/6-hint.html
  backend/prisma/__fixtures__/problem/6-input.html
  backend/prisma/__fixtures__/problem/6-output.html
  backend/prisma/__fixtures__/problem/7-description.html
  backend/prisma/__fixtures__/problem/7-input.html
  backend/prisma/__fixtures__/problem/7-output.html
  backend/prisma/__fixtures__/problem/8-description.html
  backend/prisma/__fixtures__/problem/8-hint.html
  backend/prisma/__fixtures__/problem/8-input.html
  backend/prisma/__fixtures__/problem/8-output.html
  backend/prisma/seed.ts
  iris/tests/data/submission/1_answer.json
  iris/tests/data/submission/1_compile_error.json
  iris/tests/data/submission/1_partial_answer.json
  iris/tests/data/submission/1_wrong.json
  iris/tests/data/testcase/1.json
  iris/tests/data/testcase/10.json
  iris/tests/data/testcase/2.json
  iris/tests/data/testcase/3.json
  iris/tests/data/testcase/4.json
  iris/tests/data/testcase/5.json
  iris/tests/data/testcase/6.json
  iris/tests/data/testcase/7.json
  iris/tests/data/testcase/8.json
  iris/tests/data/testcase/9.json
Labels: ⛳️ team-backend
