Repository skkuding/codedang, pull requests merged in 2023-06, with the labels that each got.

#458 feat(be): seperate logics get finished contests
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Labels: feat: backend, p3-need-now 🧩

#428 feat(fe): connect group contest list get api
  frontend/src/user/group/components/Contest.vue
Labels: feat: frontend, frontend-api-connect

#480 feat(be): add common prisma module
  .github/workflows/ci.yml
  backend/.swcrc
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/user/guard/roles.guard.ts
  backend/apps/admin/src/user/user.resolver.spec.ts
  backend/apps/client/src/app.module.ts
  backend/apps/client/src/auth/auth.service.spec.ts
  backend/apps/client/src/contest/contest.controller.spec.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/prisma/prisma.module.ts
  backend/apps/client/src/prisma/prisma.service.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
  backend/apps/client/src/workbook/workbook.service.spec.ts
  backend/apps/client/src/workbook/workbook.service.ts
  backend/libs/prisma/src/index.ts
  backend/libs/prisma/src/prisma.module.ts
  backend/libs/prisma/src/prisma.service.spec.ts
  backend/libs/prisma/src/prisma.service.ts
  backend/libs/prisma/tsconfig.lib.json
  backend/nest-cli.json
  backend/tsconfig.json
Labels: feat: backend

#488 chore(be): fix typo in error message
  backend/apps/client/src/user/user.service.ts
Labels: feat: backend

#491 fix(be): enable eslint for group service
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
Labels: bug, feat: backend

#466 fix: upgrade pnpm to the latest
  .devcontainer/devcontainer.json
  package.json
  scripts/setup.sh
Labels: bug, dependencies

#494 chore: add missing vscode extensions
  .devcontainer/devcontainer.json
  .gitpod.yml
Labels: bug

#484 feat(be): implement admin user crud api
  backend/apps/admin/src/schema.gql
  backend/apps/admin/src/user/schema.graphql
  backend/apps/admin/src/user/user.entity.ts
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/admin/src/user/user.service.spec.ts
  backend/apps/admin/src/user/user.service.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Labels: feat: backend

#284 feat(fe): add admin main page
  frontend/src/admin/pages/[groupId]/contest/[id]/detail.vue
  frontend/src/admin/pages/[groupId]/contest/[id]/edit.vue
  frontend/src/admin/pages/[groupId]/contest/create.vue
  frontend/src/admin/pages/[groupId]/contest/index.vue
  frontend/src/admin/pages/[groupId]/home/index.vue
  frontend/src/admin/pages/[groupId]/index.vue
  frontend/src/admin/pages/[groupId]/notice/[id]/edit.vue
  frontend/src/admin/pages/[groupId]/notice/create.vue
  frontend/src/admin/pages/[groupId]/notice/index.vue
  frontend/src/admin/pages/[groupId]/pool/[id]/edit.vue
  frontend/src/admin/pages/[groupId]/pool/create.vue
  frontend/src/admin/pages/[groupId]/pool/index.vue
  frontend/src/admin/pages/[groupId]/problem/[id]/edit.vue
  frontend/src/admin/pages/[groupId]/problem/create.vue
  frontend/src/admin/pages/[groupId]/problem/index.vue
  frontend/src/admin/pages/[groupId]/workbook/[id]/edit.vue
  frontend/src/admin/pages/[groupId]/workbook/create.vue
  frontend/src/admin/pages/[groupId]/workbook/index.vue
  frontend/src/admin/pages/contest.vue
  frontend/src/admin/pages/index.vue
  frontend/src/admin/pages/notice.vue
  frontend/src/admin/pages/pool.vue
  frontend/src/admin/pages/problem.vue
  frontend/src/admin/pages/workbook.vue
  frontend/src/common/components/Molecule/Card.story.vue
  frontend/src/common/components/Molecule/Card.vue
  frontend/src/common/components/Organism/Sidebar.vue
  frontend/src/common/layouts/admin.vue
  frontend/src/user/home/components/Card.vue
  frontend/src/user/home/pages/index.vue
  frontend/vite.config.ts
Labels: feat: frontend

#487 fix(fe): async call in setup blocks code mirror
  frontend/src/common/components/Organism/CodeEditor.vue
  frontend/vite.config.ts
Labels: bug, feat: frontend

#507 fix(fe): split the group contest API calling logic
  frontend/src/user/group/components/Contest.vue
Labels: bug, frontend-api-connect

#518 feat(fe): add group admin member page
  frontend/package.json
  frontend/src/admin/pages/[groupId]/member/index.vue
  pnpm-lock.yaml
Labels: feat: frontend

#553 feat(be): implement clarification get api
  backend/apps/client/src/clarification/clarification.controller.spec.ts
  backend/apps/client/src/clarification/clarification.controller.ts
  backend/apps/client/src/clarification/clarification.module.ts
  backend/apps/client/src/clarification/clarification.service.spec.ts
  backend/apps/client/src/clarification/clarification.service.ts
  backend/prisma/migrations/20230624045459_rename_contest_notice_with_clarification/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Labels: feat: backend, p3-need-now 🧩

#556 fix(be): modify joined group api response to include group leader info
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
  backend/apps/client/src/group/mock/group.mock.ts
  thunder-tests/thunderclient.json
Labels: bug, feat: backend

#557 fix(be): import clarification module in client app
  backend/apps/client/src/app.module.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Labels: bug, feat: backend

#558 fix(fe): connect API in a contest detail page
  frontend/src/user/contest/components/Notice.vue
  frontend/src/user/contest/components/Problem.vue
  frontend/src/user/contest/components/Top.vue
  frontend/src/user/contest/pages/[id].vue
Labels: frontend-api-connect

#512 chore(fe): add key in router-view
  frontend/src/user/notice/composables/notice.ts
Labels: bug

#519 fix(fe): connect contest & notice API to home page
  frontend/src/user/contest/pages/index.vue
  frontend/src/user/home/pages/index.vue
  frontend/src/user/notice/composables/notice.ts
Labels: frontend-api-connect

#568 docs: update readme
  README.md
Labels: documentation

#572 feat: setup nodemailer for ses
  backend/apps/client/src/email/mailerConfig.service.ts
  scripts/setup.sh
Labels: feat: backend

#565 fix(fe): connect API to contest main page
  frontend/src/user/contest/pages/index.vue
Labels: feat: frontend, frontend-api-connect

#580 feat(be): apply new thunder client directory
  .gitignore
  scripts/setup.sh
  thunder-tests/collections/tc_col_codedang-admin-api.json
  thunder-tests/collections/tc_col_codedang-client-api.json
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Labels: feat: backend, documentation, dependencies

#582 fix(be): add thunder client environments directory
  .gitignore
  thunder-tests/environments/base.json
Labels: bug

#584 fix(be): change env schema
  thunder-tests/environments/base.json
Labels: bug
