Repository skkuding/codedang, pull requests merged in 2023-07, with the labels that each got.

#393 feat(fe): connected problem list api to problem list page
  frontend/src/user/problem/pages/index.vue
Labels: feat: frontend

#591 feat: add no-inferrable-type rule
  .eslintrc.js
Labels: feat: ci

#589 feat(be): add admin group crud apis
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/group/group.module.ts
  backend/apps/admin/src/group/group.resolver.spec.ts
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/group/group.service.spec.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/admin/src/group/model/group.input.ts
  backend/apps/admin/src/group/model/group.output.ts
  backend/apps/admin/src/user/user.module.ts
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/group/mock/group.mock.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/workbook/workbook-admin.controller.ts
  backend/libs/auth/src/guard.decorator.ts
  backend/libs/auth/src/index.ts
  backend/libs/auth/src/jwt/auth-ignore.decorator.ts
  backend/libs/auth/src/jwt/jwt-auth.guard.ts
  backend/libs/auth/src/roles/group-leader.guard.ts
  backend/libs/auth/src/roles/group-member.guard.ts
  backend/libs/auth/src/roles/roles.guard.ts
  backend/prisma/migrations/20230629103918_delete_is_deleted_field_from_group/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  thunder-tests/collections/tc_col_codedang-admin-api.json
  thunder-tests/collections/tc_col_codedang-client-api.json
Labels: feat: backend, p3-need-now 🧩

#594 fix(be): use @swc-node/register for transpiling
  backend/.mocharc.json
  backend/package.json
  backend/prisma/schema.prisma
  pnpm-lock.yaml
Labels: bug, feat: backend

#595 fix(be): cannot seed db
  .github/workflows/ci.yml
  backend/package.json
Labels: bug, feat: backend, feat: ci

#585 feat(fe): add group admin workbook list
  frontend/src/admin/pages/[groupId]/workbook/[id]/index.vue
  frontend/src/admin/pages/[groupId]/workbook/create.vue
  frontend/src/admin/pages/[groupId]/workbook/index.vue
  frontend/src/common/components/Organism/TextEditor.vue
  pnpm-lock.yaml
Labels: feat: frontend

#600 feat(fe): group admin contest detail page
  frontend/src/admin/pages/[groupId]/contest/[id]/detail.vue
  frontend/src/admin/pages/[groupId]/contest/[id]/index.vue
Labels: feat: frontend

#609 feat(be): get related fields in problem get list
  backend/apps/client/src/problem/dto/problems.response.dto.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/prisma/migrations/20230706094306_add_result_field_to_submission_table/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  thunder-tests/collections/tc_col_codedang-client-api.json
Labels: feat: backend

#608 feat(fe): group's contest detail admin page
  frontend/src/admin/pages/[groupId]/contest/[id]/index.vue
  frontend/src/common/components/Molecule/Modal.vue
Labels: feat: frontend

#610 feat(fe): create contest notice modal
  frontend/src/admin/pages/[groupId]/contest/[id]/CreateNoticeModal.vue
  frontend/src/admin/pages/[groupId]/contest/[id]/index.vue
  frontend/src/admin/pages/[groupId]/workbook/index.vue
Labels: feat: frontend

#615 fix: prevent modal closed on dragging
  frontend/src/common/components/Molecule/Modal.vue
  frontend/src/common/components/Organism/AuthModal.vue
Labels: bug, feat: frontend

#617 feat(fe): create contest problem modal
  frontend/src/admin/pages/[groupId]/contest/[id]/CreatePorblemModal.vue
  frontend/src/admin/pages/[groupId]/contest/[id]/index.vue
  frontend/src/common/components/Organism/TextEditor.vue
Labels: feat: frontend

#621 feat(fe): group admin submission page
  frontend/src/admin/pages/[groupId]/submission/index.vue
Labels: feat: frontend

#614 fix(fe): fix sidebar bug
  frontend/src/admin/pages/[groupId]/index.vue
  frontend/src/admin/pages/index.vue
  frontend/src/common/components/Organism/Sidebar.story.vue
  frontend/src/common/components/Organism/Sidebar.vue
  frontend/src/common/layouts/admin.vue
Labels: bug, feat: frontend

#625 feat(fe): admin submission detail modal
  frontend/src/admin/pages/[groupId]/submission/SubmissionDetailModal.vue
  frontend/src/admin/pages/[groupId]/submission/index.vue
  frontend/src/common/components/Molecule/Modal.vue
  frontend/src/common/components/Organism/CodeEditor.vue
Labels: feat: frontend

#626 feat: replace testcase server with minio
  .env.development
  .gitignore
  backend/init-testcase.ts
  backend/package.json
  docker-compose.yml
  pnpm-lock.yaml
  scripts/setup.sh
Labels: feat: backend

#575 feat(fe): connect Problem List, Detail API
  frontend/src/common/components/Molecule/Pagination.vue
  frontend/src/common/components/Organism/PaginationTable.vue
  frontend/src/user/problem/pages/[id]/index.vue
  frontend/src/user/problem/pages/index.vue
Labels: feat: frontend, frontend-api-connect

#631 feat(fe): add list api handler
  frontend/src/common/composables/api.ts
  frontend/src/user/contest/components/Problem.vue
  frontend/src/user/home/pages/index.vue
  frontend/src/user/notice/composables/notice.ts
  frontend/src/user/notice/pages/[id].vue
  frontend/src/user/notice/pages/index.vue
  frontend/src/user/problem/pages/index.vue
Labels: frontend-api-connect

#630 feat(be): modify get group api
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
  backend/apps/client/src/group/mock/group.mock.ts
  thunder-tests/collections/tc_col_codedang-client-api.json
Labels: p1-chore 🧹, feat: backend

#423 feat(fe): group notice api connected
  frontend/src/user/group/components/Notice.vue
Labels: feat: frontend, frontend-api-connect

#574 feat(fe): sign up validation and api connection
  backend/apps/client/src/user/user.controller.ts
  frontend/src/common/components/Atom/InputItem.vue
  frontend/src/common/components/Organism/AuthModal.vue
  frontend/src/common/components/Organism/Login.vue
  frontend/src/common/components/Organism/Signup.vue
  frontend/src/common/store/auth.ts
  pnpm-lock.yaml
  thunder-tests/thunderEnvironment.json
  thunder-tests/thunderclient.json
Labels: feat: frontend

#623 feat(fe): add group create modal & new inivitation code submission
  frontend/src/user/group/pages/index.vue
Labels: feat: frontend

#628 feat(fe): add group admin notice page
  frontend/src/admin/pages/[groupId]/notice/index.vue
Labels: feat: frontend

#611 feat(fe): add group admin contest list
  frontend/src/admin/pages/[groupId]/contest/index.vue
  frontend/tailwind.config.ts
Labels: feat: frontend

#637 feat(be): add storage module to admin app
  .env.development
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/storage/content.type.ts
  backend/apps/admin/src/storage/s3.provider.ts
  backend/apps/admin/src/storage/storage.module.ts
  backend/apps/admin/src/storage/storage.service.spec.ts
  backend/apps/admin/src/storage/storage.service.ts
  backend/init-testcase.ts
  backend/libs/auth/src/roles/roles.service.spec.ts
  backend/package.json
  docker-compose.yml
  pnpm-lock.yaml
Labels: ⛳️ team-backend

#643 fix(iris): remove auth headers
  .env.development
  iris/main.go
  iris/src/data_source/cache/source.go
  iris/src/data_source/http_server/source.go
Labels: ⛳️ team-iris

#649 fix: remove deprecated thunder client files
  thunder-tests/thunderEnvironment.json
  thunder-tests/thunderclient.json
Labels: 🪰 bug, ⛳️ team-backend, 📘 documentation

#651 fix: resolve broken prettier config
  .prettierrc
  prettier.config.mjs
Labels: 🪰 bug, feat: ci

#657 chore: add eslint rules for vue
  .eslintrc.js
  backend/apps/admin/src/main.ts
  backend/apps/client/src/main.ts
  backend/mocha-fixture.ts
  frontend/.eslintrc.js
  frontend/src/App.vue
  frontend/src/admin/pages/[groupId]/contest/[id]/CreatePorblemModal.vue
  frontend/src/admin/pages/[groupId]/contest/[id]/index.vue
  frontend/src/admin/pages/[groupId]/member/index.vue
  frontend/src/admin/pages/[groupId]/notice/index.vue
  frontend/src/admin/pages/[groupId]/submission/SubmissionDetailModal.vue
  frontend/src/admin/pages/[groupId]/workbook/[id]/index.vue
  frontend/src/admin/pages/[groupId]/workbook/index.vue
  frontend/src/admin/pages/contest.vue
  frontend/src/admin/pages/index.vue
  frontend/src/admin/pages/notice.vue
  frontend/src/admin/pages/pool.vue
  frontend/src/admin/pages/problem.vue
  frontend/src/admin/pages/workbook.vue
  frontend/src/common/components/Atom/BoxTitle.story.vue
  frontend/src/common/components/Atom/BoxTitle.vue
  frontend/src/common/components/Molecule/ButtonGroup.vue
  frontend/src/common/components/Molecule/Card.vue
  frontend/src/common/components/Organism/Header.vue
  frontend/src/common/components/Organism/PaginationTable.vue
  frontend/src/common/components/Organism/Sidebar.vue
  frontend/src/common/components/Organism/TextEditor.vue
  frontend/src/common/layouts/admin.vue
  frontend/src/common/layouts/default.vue
  frontend/src/common/layouts/empty.vue
  frontend/src/user/contest/components/Top.vue
  frontend/src/user/group/components/Member.vue
  frontend/src/user/group/components/Notice.vue
  frontend/src/user/group/components/Problem.vue
  frontend/src/user/group/pages/index.vue
  frontend/src/user/home/components/Carousel.story.vue
  frontend/src/user/home/pages/index.vue
  frontend/src/user/notice/composables/notice.ts
  frontend/src/user/notice/pages/[id].vue
  frontend/src/user/problem/pages/[id]/index.vue
  frontend/src/user/workbook/composables/workbook.ts
Labels: ⛳️ team-frontend, feat: ci

#662 feat(fe): change a nav bar style
  frontend/src/common/assets/skkudingLogo.png
  frontend/src/common/components/Atom/SignatureLogo.story.vue
  frontend/src/common/components/Atom/SignatureLogo.vue
  frontend/src/common/components/Organism/Header.vue
Labels: ⛳️ team-frontend, 💡 feature-client

#659 feat(be): modify getGroup and getGroups API
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
  backend/apps/client/src/group/mock/group.mock.ts
  thunder-tests/collections/tc_col_codedang-client-api.json
Labels: p1-chore 🧹, ⛳️ team-backend

#563 feat: setup cd pipeline with terraform
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
  .gitpod.yml
  .vscode/settings.json
  backend/apps/client/src/main.ts
  infra/builder/api/Dockerfile-admin
  infra/builder/api/Dockerfile-client
  infra/builder/api/Dockerfile.dockerignore
  infra/builder/api/entrypoint-admin.sh
  infra/builder/api/entrypoint-client.sh
  infra/builder/iris/Dockerfile
  infra/builder/iris/entrypoint.sh
  infra/deploy/.terraform.lock.hcl
  infra/deploy/main.tf
  infra/deploy/provider.tf
  infra/deploy/variable.tf
  infra/local/.terraform.lock.hcl
  infra/local/main.tf
  infra/local/provider.tf
  infra/local/variable.tf
  infra/modules/codedang-infra/backend/task-definition.tftpl
  infra/modules/codedang-infra/cloudfront.tf
  infra/modules/codedang-infra/db.tf
  infra/modules/codedang-infra/ecs-admin.tf
  infra/modules/codedang-infra/ecs-client.tf
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/ecs.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
  infra/modules/codedang-infra/main.tf
  infra/modules/codedang-infra/mime.json
  infra/modules/codedang-infra/network.tf
  infra/modules/codedang-infra/rabbitmq.tf
  infra/modules/codedang-infra/redis.tf
  infra/modules/codedang-infra/route53.tf
  infra/modules/codedang-infra/s3.tf
  infra/modules/codedang-infra/secrets.tf
  infra/modules/codedang-infra/variables.tf
  infra/modules/codedang-tf-backend/backend.tf
  iris/main.go
Labels: ⛳️ team-infra

#672 fix: use acm certificate only
  infra/modules/codedang-infra/cloudfront.tf
Labels: ⛳️ team-infra

#666 feat(fe): make a new carousel component
  frontend/src/common/assets/dummy.png
  frontend/src/common/assets/github.svg
  frontend/src/common/components/Organism/Header.vue
  frontend/src/common/layouts/default.vue
  frontend/src/user/home/components/Carousel.story.vue
  frontend/src/user/home/components/Carousel.vue
  frontend/src/user/home/pages/index.vue
Labels: ⛳️ team-frontend, 💡 feature-client

#680 fix(cd): add etag to s3 object
  infra/modules/codedang-infra/s3.tf
Labels: 🪰 bug, ⛳️ team-infra, p4-important ❗

#686 feat(be): log unexpected errors
  backend/apps/admin/src/admin.controller.ts
  backend/apps/client/src/app.controller.ts
  backend/apps/client/src/auth/auth.controller.ts
  backend/apps/client/src/clarification/clarification.controller.ts
  backend/apps/client/src/contest/contest-admin.controller.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
  backend/apps/client/src/group/mock/group.mock.ts
  backend/apps/client/src/main.ts
  backend/apps/client/src/notice/interface/user-notice.interface.ts
  backend/apps/client/src/notice/notice-admin.controller.ts
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/user/dto/get-userprofile.dto.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.ts
  backend/apps/client/src/workbook/workbook-admin.controller.ts
  backend/apps/client/src/workbook/workbook.controller.ts
Labels: ⛳️ team-backend

#683 feat: setup test server
  .github/workflows/devserver.yml
  infra/dev/.env.development
  infra/dev/Caddyfile
  infra/dev/docker-compose.yml
Labels: ⛳️ team-infra

#698 feat(fe): add dev server as backend
  backend/apps/admin/src/main.ts
  backend/apps/client/src/main.ts
  frontend/vite.config.ts
Labels: ⛳️ team-frontend

#632 feat(fe): connect problem list, detail page api
  frontend/src/user/problem/pages/index.vue
Labels: ⛳️ team-frontend, frontend-api-connect

#674 feat(fe): change card design in a home page
  frontend/src/common/components/Molecule/NewCard.vue
  frontend/src/user/home/components/ContestItem.vue
  frontend/src/user/home/pages/index.vue
Labels: ⛳️ team-frontend, 💡 feature-client

#684 feat(fe): update logo
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/site.webmanifest
  frontend/src/App.vue
  frontend/src/common/assets/codedang.svg
  frontend/src/common/components/Organism/Footer.vue
  frontend/src/common/components/Organism/Header.vue
  frontend/src/common/layouts/default.vue
  frontend/src/common/styles/style.css
Labels: ⛳️ team-frontend

#483 feat(be): apply gql to admin problem
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/problem/model/create-problem.input.ts
  backend/apps/admin/src/problem/model/filter-problem.input.ts
  backend/apps/admin/src/problem/model/template.input.ts
  backend/apps/admin/src/problem/model/testcase.input.ts
  backend/apps/admin/src/problem/model/update-problem.input.ts
  backend/apps/admin/src/problem/problem.module.ts
  backend/apps/admin/src/problem/problem.resolver.spec.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/storage/storage.module.ts
  backend/apps/admin/src/storage/storage.service.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/user/user.module.ts
  backend/prisma/migrations/20230624044048_set_problem_testcase_cascade_on_delete/migration.sql
  backend/prisma/migrations/20230624050255_add_on_delete_options/migration.sql
  backend/prisma/migrations/20230624052239_set_problem_tag_cascade_on_delete/migration.sql
  backend/prisma/migrations/20230706140246_modify_problem_tag_on_delete/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  thunder-tests/collections/tc_col_codedang-admin-api.json
  thunder-tests/collections/tc_col_codedang-client-api.json
Labels: ⛳️ team-backend
