Repository skkuding/codedang, pull requests merged in 2023-08, with the labels that each got.

#704 fix(fe): use internal base url for graphql
  frontend/src/main.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#653 feat(fe): add group admin contest modal
  frontend/src/admin/pages/[groupId]/contest/CreateContestModal.vue
  frontend/src/admin/pages/[groupId]/contest/create.vue
  frontend/src/admin/pages/[groupId]/contest/index.vue
Labels: ⛳️ team-frontend, 💡 feature-admin

#705 feat(fe): add sortable option and remove id field
  frontend/package.json
  frontend/src/admin/pages/[groupId]/contest/[id]/index.vue
  frontend/src/common/components/Organism/PaginationTable.vue
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-admin

#677 feat(be): implement problem import with GraphQL
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/main.ts
  backend/apps/admin/src/problem/dto/file-upload.dto.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/mock/testdata.xlsx
  backend/apps/admin/src/problem/model/filter-problem.input.ts
  backend/apps/admin/src/problem/model/problem.constants.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/libs/exception/src/business.exception.ts
  backend/package.json
  backend/prisma/migrations/20230713151909_add_levels_to_level_enum/migration.sql
  backend/prisma/schema.prisma
  pnpm-lock.yaml
  thunder-tests/collections/tc_col_codedang-admin-api.json
  thunder-tests/collections/tc_col_codedang-client-api.json
Labels: ⛳️ team-backend

#711 fix: udpate Caddyfile to handle reload
  .github/workflows/devserver.yml
  infra/dev/Caddyfile
Labels: 🪰 bug, ⛳️ team-infra

#679 feat(fe): add user profile store
  frontend/package.json
  frontend/src/common/store/user.ts
  frontend/src/main.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client

#719 feat: use random password for rabbitmq
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/rabbitmq.tf
Labels: ⛳️ team-infra

#718 feat(fe): change text editor style
  frontend/src/admin/components/CreateNoticeModal.vue
  frontend/src/admin/components/CreateProblemModal.vue
  frontend/src/admin/pages/[groupId]/contest/CreateContestModal.vue
  frontend/src/admin/pages/[groupId]/contest/[id]/index.vue
  frontend/src/admin/pages/[groupId]/notice/index.vue
  frontend/src/admin/pages/[groupId]/problem/index.vue
  frontend/src/admin/pages/[groupId]/workbook/index.vue
  frontend/src/common/components/Atom/TextEditorButton.vue
  frontend/src/common/components/Molecule/ButtonGroup.story.vue
  frontend/src/common/components/Molecule/ButtonGroup.vue
  frontend/src/common/components/Organism/TextEditor.story.vue
  frontend/src/common/components/Organism/TextEditor.vue
  frontend/src/user/home/components/Carousel.story.vue
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-admin

#716 feat(infra): use arm64 in ecs fargate
  .github/workflows/deploy.yml
  .github/workflows/devserver.yml
  infra/builder/api/Dockerfile.admin
  infra/builder/api/Dockerfile.client
  infra/modules/codedang-infra/ecs-admin.tf
  infra/modules/codedang-infra/ecs-client.tf
  infra/modules/codedang-infra/ecs-iris.tf
Labels: ⛳️ team-infra

#722 feat: add code to build iris image for arm64
  .github/workflows/deploy.yml
Labels: 🪰 bug, ⛳️ team-infra

#723 fix: reorder jobs for deploy action
  .github/workflows/deploy.yml
Labels: ⛳️ team-infra

#726 fix(be): remove validation pipe from admin-global pipe
  backend/apps/admin/src/main.ts
  backend/apps/admin/src/problem/problem.resolver.ts
Labels: 🪰 bug, ⛳️ team-backend

#706 fix(be): prohibit bypassing group member guard
  backend/apps/client/src/contest/contest-admin.controller.ts
  backend/apps/client/src/contest/contest.controller.spec.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.module.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/contest/dto/create-contest.dto.ts
  backend/apps/client/src/contest/dto/respond-publicizing-request.dto.ts
  backend/apps/client/src/contest/dto/update-contest.dto.ts
  backend/apps/client/src/contest/interface/publicizing-request.interface.ts
  backend/apps/client/src/notice/dto/create-notice.dto.ts
  backend/apps/client/src/notice/dto/update-notice.dto.ts
  backend/apps/client/src/notice/notice-admin.controller.ts
  backend/apps/client/src/notice/notice.controller.spec.ts
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.module.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/contest-problem.controller.ts
  backend/apps/client/src/problem/problem.controller.spec.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.module.ts
  backend/apps/client/src/problem/workbook-problem.controller.ts
  backend/apps/client/src/workbook/dto/create-workbook.dto.ts
  backend/apps/client/src/workbook/dto/update-workbook.dto.ts
  backend/apps/client/src/workbook/workbook-admin.controller.ts
  backend/apps/client/src/workbook/workbook.controller.spec.ts
  backend/apps/client/src/workbook/workbook.controller.ts
  backend/apps/client/src/workbook/workbook.module.ts
  backend/apps/client/src/workbook/workbook.service.spec.ts
  backend/apps/client/src/workbook/workbook.service.ts
  thunder-tests/collections/tc_col_codedang-client-api.json
Labels: 🪰 bug, ⛳️ team-backend, 💡 feature-client

#727 fix(deps): upgrade prisma to v5
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/contest-problem.controller.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/workbook-problem.controller.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
  backend/apps/client/src/workbook/workbook.controller.ts
  backend/apps/client/src/workbook/workbook.service.spec.ts
  backend/apps/client/src/workbook/workbook.service.ts
  backend/libs/auth/src/roles/roles.service.spec.ts
  backend/libs/auth/src/roles/roles.service.ts
  backend/package.json
  backend/prisma/seed.ts
  pnpm-lock.yaml
Labels: dependencies

#725 refactor(be): unify environment variables
  .env.development
  .github/workflows/devserver.yml
  .gitpod.yml
  Caddyfile
  backend/init-testcase.ts
  docker-compose.dev.yml
  docker-compose.yml
  infra/dev/.env.development
  infra/dev/docker-compose.yml
  scripts/post-checkout.sh
  scripts/setup.sh
Labels: ⛳️ team-infra

#733 fix(cd): remove invalid step
  .github/workflows/devserver.yml
Labels: 🪰 bug, ⛳️ team-infra

#734 fix(infra): do not mount testcase storage
  .github/workflows/devserver.yml
  docker-compose.yml
Labels: 🪰 bug, ⛳️ team-infra

#728 feat(infra): add testcase s3 bucket
  infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  infra/modules/codedang-infra/ecs-admin.tf
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
  infra/modules/codedang-infra/testcase.tf
Labels: ⛳️ team-infra

#497 feat(be): implement submission post api for user
  .env.development
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/submission/dto/create-submission.dto.ts
  backend/apps/client/src/submission/dto/judge-request.class.ts
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/apps/client/src/submission/mock/problemTestcase.mock.ts
  backend/apps/client/src/submission/mock/submission.mock.ts
  backend/apps/client/src/submission/mock/submissionResult.mock.ts
  backend/apps/client/src/submission/submission.controller.spec.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.module.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/libs/auth/src/jwt/jwt-auth.guard.ts
  backend/libs/constants/src/index.ts
  backend/libs/constants/src/rabbitmq.constants.ts
  backend/libs/constants/src/submission.constants.ts
  backend/libs/constants/src/time.constants.ts
  backend/libs/exception/src/business.exception.ts
  backend/package.json
  backend/prisma/migrations/20230518113105_add_languages_on_language_enum/migration.sql
  backend/prisma/migrations/20230518113231_add_result_status_on_result_status_enum/migration.sql
  backend/prisma/migrations/20230713192623_set_combinational_pk_in_contest_record_table/migration.sql
  backend/prisma/migrations/20230713192646_add_cpu_and_memory_usage_to_submission_result_table/migration.sql
  backend/prisma/migrations/20230713192746_add_expose_time_to_problem_table/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  infra/modules/codedang-infra/backend/task-definition.tftpl
  infra/modules/codedang-infra/ecs-client.tf
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
  iris/main.go
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/setup.sh
  testcase-server/data/10.json
  testcase-server/data/8.json
  testcase-server/data/9.json
  testcase-server/init-testcase.ts
  testcase-server/package.json
  thunder-tests/collections/tc_col_codedang-client-api.json
Labels: ⛳️ team-backend

#655 feat(fe): group admin modal
  frontend/src/admin/pages/[groupId]/index.vue
  frontend/src/admin/pages/[groupId]/member/index.vue
  frontend/src/user/group/pages/index.vue
Labels: ⛳️ team-frontend, 💡 feature-admin

#720 chore(be): organize business exceptions
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/group/group.service.spec.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/client/src/auth/auth.controller.ts
  backend/apps/client/src/auth/auth.service.spec.ts
  backend/apps/client/src/auth/auth.service.ts
  backend/apps/client/src/clarification/clarification.service.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/apps/client/src/user/dto/email-auth-pin.dto.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
  backend/libs/exception/src/business.exception.ts
  thunder-tests/collections/tc_col_codedang-client-api.json
Labels: ⛳️ team-backend

#739 feat(fe): change footer style
  frontend/package.json
  frontend/src/common/components/Organism/Footer.vue
  frontend/src/common/layouts/default.vue
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client

#616 feat(fe): get group member, group leave api 연결
  frontend/src/user/group/components/Member.vue
  frontend/src/user/group/components/NameList.vue
  frontend/src/user/group/components/Workbook.vue
Labels: ⛳️ team-frontend, frontend-api-connect

#612 feat(fe): join group, get all group, get my group api connection
  frontend/src/admin/pages/[groupId]/problem/index.vue
  frontend/src/common/components/Molecule/Pagination.vue
  frontend/src/common/components/Organism/PaginationTable.vue
  frontend/src/user/group/components/GroupListSection.vue
  frontend/src/user/group/components/Member.vue
  frontend/src/user/group/components/Profile.vue
  frontend/src/user/group/pages/[id].vue
  frontend/src/user/group/pages/index.vue
Labels: ⛳️ team-frontend, frontend-api-connect

#715 feat(fe): connect member, leader, leave api
  frontend/src/admin/pages/[groupId]/contest/index.vue
  frontend/src/admin/pages/[groupId]/member/index.vue
  frontend/src/user/group/components/Member.vue
Labels: ⛳️ team-frontend, frontend-api-connect, 💡 feature-client

#765 feat(fe): add submission functionality
  frontend/package.json
  frontend/src/App.vue
  frontend/src/admin/pages/[groupId]/submission/SubmissionDetailModal.vue
  frontend/src/common/components/Atom/Button.vue
  frontend/src/common/components/Organism/CodeEditor.story.vue
  frontend/src/common/components/Organism/CodeEditor.vue
  frontend/src/user/problem/components/Header.vue
  frontend/src/user/problem/components/Navigator.vue
  frontend/src/user/problem/pages/[id].vue
  frontend/src/user/problem/pages/[id]/index.vue
  frontend/src/user/problem/store/problem.ts
  frontend/src/user/problem/types.ts
  frontend/vite.config.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#766 fix: downgrade argon2
  backend/package.json
  pnpm-lock.yaml
Labels: 🪰 bug, ⛳️ team-infra

#767 fix: validate task definition
  infra/modules/codedang-infra/backend/task-definition.tftpl
  infra/modules/codedang-infra/iris/task-definition.tftpl
Labels: 🪰 bug, ⛳️ team-infra

#770 fix(fe): update editor language list on-time
  frontend/src/user/problem/components/Navigator.vue
Labels: 🪰 bug, ⛳️ team-frontend, 💡 feature-client

#763 feat(be): modify createUserGroup function
  backend/apps/client/src/group/group.service.ts
Labels: ⛳️ team-backend, p3-minor-bug 🧩

#750 feat(be): update problem tag
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/model/update-problem.input.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
  thunder-tests/collections/tc_col_codedang-admin-api.json
Labels: ⛳️ team-backend

#779 feat: set cors header for dev server
  Caddyfile
Labels: 🪰 bug, ⛳️ team-infra, p4-important ❗

#788 fix(fe): enable cookie in local developement
  frontend/src/common/store/auth.ts
Labels: 🪰 bug, ⛳️ team-frontend

#787 fix(fe): contest item display a wrong date string
  frontend/src/common/components/Organism/PaginationTable.vue
  frontend/src/user/home/components/ContestItem.vue
Labels: 🪰 bug, ⛳️ team-frontend, 💡 feature-client

#790 fix(fe): update item in problem language dropdown
  frontend/src/user/problem/components/Navigator.vue
  frontend/src/user/problem/pages/[id]/index.vue
  frontend/src/user/problem/store/problem.ts
Labels: 🪰 bug, 💡 feature-client

#792 feat(fe): display problem limit information
  frontend/src/user/problem/pages/[id]/index.vue
Labels: ⛳️ team-frontend, 💡 feature-client

#796 feat(infra): add log configuration for Elasticache
  .github/workflows/deploy.yml
  infra/modules/codedang-infra/redis.tf
Labels: ⛳️ team-infra

#798 fix(infra): set apply imediately to elasticache
  infra/modules/codedang-infra/redis.tf
Labels: 🪰 bug

#799 fix(be): cannot send email with ses
  .github/workflows/deploy.yml
  backend/apps/client/src/email/email.service.ts
  backend/apps/client/src/email/mailerConfig.service.ts
  backend/apps/client/src/user/user.controller.ts
  backend/libs/exception/src/business.exception.ts
Labels: 🪰 bug, ⛳️ team-backend, 💡 feature-client

#800 fix(be): add explicit credential provider to sdk
  .github/workflows/deploy.yml
  backend/apps/client/src/email/email.service.spec.ts
  backend/apps/client/src/email/mailerConfig.service.ts
  backend/package.json
  pnpm-lock.yaml
Labels: 🪰 bug, ⛳️ team-backend, ⛳️ team-infra, p4-important ❗, 💡 feature-client

#801 fix(infra): add ecs task role for ses
  infra/modules/codedang-infra/ecs-client.tf
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/ecs.tf
Labels: 🪰 bug, ⛳️ team-infra

#802 fix(infra): disable redis cluster mode
  infra/modules/codedang-infra/redis.tf
Labels: 🪰 bug, ⛳️ team-infra

#807 feat(fe): change dashboard logo
  frontend/src/admin/pages/[groupId]/index.vue
  frontend/src/common/components/Atom/CodingPlatformLogo.story.vue
  frontend/src/common/components/Atom/CodingPlatformLogo.vue
  frontend/src/common/components/Organism/Sidebar.vue
Labels: ⛳️ team-frontend, 💡 feature-admin

#809 feat: use single instance in redis
  infra/modules/codedang-infra/ecs-admin.tf
  infra/modules/codedang-infra/ecs-client.tf
  infra/modules/codedang-infra/redis.tf
Labels: ⛳️ team-infra

#776 fix(be): modify type validation
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
Labels: 🪰 bug, ⛳️ team-backend

#815 feat(fe): add problem creating feature for admin
  frontend/package.json
  frontend/src/admin/components/CreateProblemModal.vue
  frontend/src/admin/pages/[groupId]/contest/[id]/index.vue
  frontend/src/admin/pages/[groupId]/problem/index.vue
  frontend/src/common/components/Atom/InputItem.vue
  frontend/src/common/components/Atom/TextEditorButton.vue
  frontend/src/common/components/Organism/TextEditor.vue
  frontend/src/user/problem/types.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-admin

#816 fix(be): validate judger response without error
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/submission.service.spec.ts
Labels: 🪰 bug, ⛳️ team-backend

#817 fix(be): validate accepted judge result
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/submission.service.spec.ts
Labels: 🪰 bug, ⛳️ team-backend

#793 fix(fe): changed naive ui datatable to pagination table
  frontend/src/admin/pages/workbook.vue
Labels: ⛳️ team-frontend, 💡 feature-admin

#822 feat(fe): add main tab and change logo link
  frontend/src/common/components/Organism/Sidebar.vue
Labels: ⛳️ team-frontend, 💡 feature-admin

#827 fix(fe): change active filter condition
  frontend/src/common/components/Organism/Sidebar.vue
Labels: ⛳️ team-frontend, 💡 feature-admin

#829 feat(fe): required expression in create problem modal
  frontend/src/admin/components/CreateProblemModal.vue
Labels: ⛳️ team-frontend, 💡 feature-admin

#830 fix(be): set max value of judger response result code
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#831 fix(be): return bigint number as stringified
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#835 fix: fix redis host address and task definitions
  infra/modules/codedang-infra/ecs-api-admin.tf
  infra/modules/codedang-infra/ecs-api-client.tf
Labels: 🪰 bug, ⛳️ team-infra

#843 fix: remove bracket typo from mq host
  infra/modules/codedang-infra/ecs-api-client.tf
Labels: 🪰 bug, ⛳️ team-infra

#844 fix(infra): use task role to send email
  infra/modules/codedang-infra/ecs-api-client.tf
  infra/modules/codedang-infra/ecs.tf
Labels: 🪰 bug, ⛳️ team-infra

#845 fix(infra): disable cache for api request
  infra/modules/codedang-infra/cloudfront.tf
Labels: 🪰 bug, ⛳️ team-infra

#847 fix(iris): load testcase with s3 sdk
  .env.development
  infra/modules/codedang-infra/cloudfront.tf
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
  iris/go.mod
  iris/go.sum
  iris/main.go
  iris/src/data_source/cache/interface.go
  iris/src/data_source/file/interface.go
  iris/src/data_source/file/source.go
  iris/src/data_source/http_server/interface.go
  iris/src/data_source/http_server/source.go
  iris/src/loader/cache/interface.go
  iris/src/loader/cache/source.go
  iris/src/loader/interfaces.go
  iris/src/loader/s3/interface.go
  iris/src/loader/s3/source.go
  iris/src/service/testcase/manager.go
Labels: 🪰 bug, ⛳️ team-infra, ⛳️ team-iris
