Repository skkuding/codedang, pull requests merged in 2023-12, with the labels that each got.

#1006 chore(fe): navbar order changed
  frontend/src/common/components/Organism/Header.vue
Labels: p4-important ❗, 💡 feature-client

#1005 feat(fe): next.js scaffolding font & component
  .prettierignore
  frontend-client/app/layout.tsx
  frontend-client/app/page.tsx
  frontend-client/components.json
  frontend-client/components/ui/button.tsx
  frontend-client/lib/utils.ts
  frontend-client/package.json
  frontend-client/tailwind.config.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client

#1009 fix(fe): changed logo, color of login modal
  frontend/src/common/components/Organism/Login.vue
Labels: ⛳️ team-frontend, 💡 feature-client

#1011 feat(fe): login modal content, height change
  frontend/src/common/components/Organism/AuthModal.vue
  frontend/src/common/components/Organism/Login.vue
Labels: ⛳️ team-frontend, 💡 feature-client

#1004 feat(fe): banner change add link
  frontend/src/user/home/components/Carousel.vue
  frontend/src/user/home/pages/index.vue
Labels: ⛳️ team-frontend, 💡 feature-client

#1017 feat(fe): add next.js favicon
  frontend-client/app/favicon.ico
Labels: ⛳️ team-frontend, 💡 feature-client

#1013 feat(infra): support nextjs dev server
  Caddyfile
Labels: ⛳️ team-infra

#1019 feat(fe): signin modal
  frontend-client/app/layout.tsx
  frontend-client/app/page.tsx
  frontend-client/components/ButtonWithModal.tsx
  frontend-client/components/Modal.tsx
  frontend-client/components/Signin.tsx
  frontend-client/components/ui/input.tsx
  frontend-client/components/ui/separator.tsx
  frontend-client/package.json
  frontend-client/public/codedang.svg
  frontend-client/public/kakaotalk.png
  frontend-client/public/next.svg
  frontend-client/public/vercel.svg
  frontend-client/tsconfig.json
  frontend-client/types/images.d.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client

#1020 feat(fe): added username next to user icon
  frontend/src/common/components/Organism/Header.vue
Labels: ⛳️ team-frontend, p2-nice-to-have 🚦, 💡 feature-client

#1024 fix(fe): nextjs dev server port
  frontend-client/package.json
Labels: ⛳️ team-frontend, 💡 feature-client

#1023 feat(fe): add navigation bar
  frontend-client/app/layout.tsx
  frontend-client/app/page.tsx
  frontend-client/components/ButtonWithModal.tsx
  frontend-client/components/Modal.tsx
  frontend-client/components/global/Header.tsx
  frontend-client/components/global/SignInUpButton.tsx
  frontend-client/components/global/Signin.tsx
  frontend-client/components/ui/dialog.tsx
  frontend-client/components/ui/dropdown-menu.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client

#1028 feat(fe): add main section in root layout
  frontend-client/app/contest/page.tsx
  frontend-client/app/group/page.tsx
  frontend-client/app/layout.tsx
  frontend-client/app/notice/page.tsx
  frontend-client/app/page.tsx
  frontend-client/app/problem/page.tsx
  frontend-client/tailwind.config.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#1030 fix(iris): use older go version in go.mod
  iris/go.mod
Labels: 🪰 bug, dependencies, ⛳️ team-iris

#1029 feat(fe): refactor header and auth modal
  frontend-client/.eslintrc.js
  frontend-client/app/_components/Header.tsx
  frontend-client/app/_components/HeaderAuthPanel.tsx
  frontend-client/app/_components/SignIn.tsx
  frontend-client/app/layout.tsx
  frontend-client/components.json
  frontend-client/components/global/Signin.tsx
  frontend-client/components/ui/dialog.tsx
  frontend-client/components/ui/input.tsx
  frontend-client/public/kakaotalk.png
  frontend-client/public/kakaotalk.svg
  frontend-client/tailwind.config.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#954 docs(be): add client contest module api docs
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get group contest by ID/404: Nonexistent contest.bru
  collection/client/Contest/Get group contest by ID/Succeed.bru
  collection/client/Contest/Get group finished contests/403: Not a user of the group.bru
  collection/client/Contest/Get group finished contests/Succeed.bru
  collection/client/Contest/Get group ongoing & upcoming contests/403: Not a user of the group.bru
  collection/client/Contest/Get group ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/401: Unauthorized.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Participate group contest/Succeed.bru
Labels: ⛳️ team-backend, 📘 documentation

#794 feat(be): rename clarification module to announcement
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/announcement/announcement.module.ts
  backend/apps/admin/src/announcement/announcement.resolver.ts
  backend/apps/admin/src/announcement/announcement.service.ts
  backend/apps/admin/src/announcement/dto/create-announcement.input.ts
  backend/apps/admin/src/announcement/dto/update-announcement.input.ts
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/announcement/announcement.module.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/announcement/announcement.service.ts
  backend/apps/client/src/app.module.ts
  backend/apps/client/src/clarification/clarification.controller.spec.ts
  backend/apps/client/src/clarification/clarification.controller.ts
  backend/apps/client/src/clarification/clarification.module.ts
  backend/apps/client/src/clarification/clarification.service.spec.ts
  backend/apps/client/src/clarification/clarification.service.ts
  backend/package.json
  backend/prisma/migrations/20230812053949_add_announcement_model/migration.sql
  backend/prisma/migrations/20230812061117_modify_problem_and_contest_announcement_model/migration.sql
  backend/prisma/migrations/20231218063830_/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  pnpm-lock.yaml
Labels: ⛳️ team-backend

#819 feat(be): implement storing Contest/WorkbookProblem id in order field with graphql
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/prisma/migrations/20230813072158_modify_conestworkbook_problem_schema/migration.sql
  backend/prisma/migrations/20231221012339_/migration.sql
  backend/prisma/migrations/20231221044026_/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  collection/admin/Problem/Get ContestProblems by ID/Error: No Contest found.bru
  collection/admin/Problem/Get ContestProblems by ID/Succeed.bru
  collection/admin/Problem/Get WorkbookProblems by ID/Error: No Workbook found.bru
  collection/admin/Problem/Get WorkbookProblems by ID/Succeed.bru
  collection/admin/Problem/Update ContestProblems Order/Error: Length not equal.bru
  collection/admin/Problem/Update ContestProblems Order/Error: No Contest found.bru
  collection/admin/Problem/Update ContestProblems Order/Succeed.bru
  collection/admin/Problem/Update WorkbookProblems Order/Error: Length not equal.bru
  collection/admin/Problem/Update WorkbookProblems Order/Error: No Workbook found.bru
  collection/admin/Problem/Update WorkbookProblems Order/Succeed.bru
Labels: ⛳️ team-backend

#1041 feat(be): reduce db access in getproblems
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
Labels: ⛳️ team-backend

#949 docs(be): document client workbook api
  collection/client/Workbook/Get All Group Workbooks/Succeed.bru
  collection/client/Workbook/Get All Workbooks (open space)/Succeed.bru
  collection/client/Workbook/Get Group Workbook by ID/403: Forbidden resource.bru
  collection/client/Workbook/Get Group Workbook by ID/404: Nonexistent Workbook.bru
  collection/client/Workbook/Get Group Workbook by ID/Succeed.bru
  collection/client/Workbook/Get Group Workbooks/400: Invalid cursor value.bru
  collection/client/Workbook/Get Group Workbooks/400: Validation failed.bru
  collection/client/Workbook/Get Group Workbooks/403: Forbidden resource.bru
  collection/client/Workbook/Get Group Workbooks/Succeed.bru
  collection/client/Workbook/Get Workbook by ID (open space)/404: Nonexistent Workbook.bru
  collection/client/Workbook/Get Workbook by ID (open space)/Succeed.bru
  collection/client/Workbook/Get Workbooks (open space)/400: Invalid cursor value.bru
  collection/client/Workbook/Get Workbooks (open space)/400: Validation failed.bru
  collection/client/Workbook/Get Workbooks (open space)/Succeed.bru
Labels: ⛳️ team-backend, 📘 documentation

#1049 fix(be): delete id from select options for contest/workbook problems
  backend/apps/admin/src/announcement/announcement.service.ts
  backend/apps/client/src/problem/dto/related-problem.response.dto.ts
  backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  collection/client/Problem/Get group contest problems/Succeed.bru
  collection/client/Problem/Get workbook problems/Succeed.bru
Labels: 🪰 bug, ⛳️ team-backend, 💡 feature-client

#1050 fix(ci): error is not thrown when invalid prisma migration detected
  .github/workflows/ci.yml
  backend/prisma/schema.prisma
Labels: 🪰 bug, ⛳️ team-infra

#1059 fix(be): remove import from generated in client app code
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/announcement/announcement.module.ts
  backend/apps/client/src/announcement/announcement.service.ts
  backend/prisma/schema.prisma
Labels: 🪰 bug, ⛳️ team-backend

#1064 feat(fe): add sign up modal
  frontend-client/app/_components/HeaderAuthPanel.tsx
  frontend-client/app/_components/SignUp.tsx
  frontend-client/components/ui/toast.tsx
  frontend-client/components/ui/toaster.tsx
  frontend-client/components/ui/use-toast.ts
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1069 fix(be): remove html tags for handlebars rendering
  .prettierrc
  backend/apps/client/src/email/email.service.ts
  backend/apps/client/src/email/mailerConfig.service.ts
  backend/apps/client/src/email/templates/change-email.hbs
  backend/apps/client/src/email/templates/email-auth.hbs
  backend/apps/client/src/email/templates/logo.png
  backend/apps/client/src/email/templates/register.hbs
  backend/apps/client/src/email/templates/reset-password.hbs
Labels: 🪰 bug, ⛳️ team-backend

#1071 feat(fe): cover component and notice table in notice page
  frontend-client/app/(default)/contest/page.tsx
  frontend-client/app/(default)/group/page.tsx
  frontend-client/app/(default)/layout.tsx
  frontend-client/app/(default)/page.tsx
  frontend-client/app/(default)/problem/page.tsx
  frontend-client/app/_components/Header.tsx
  frontend-client/app/layout.tsx
  frontend-client/app/notice/_components/NoticeTable.tsx
  frontend-client/app/notice/page.tsx
  frontend-client/components/Cover.tsx
  frontend-client/components/ui/pagination.tsx
  frontend-client/components/ui/table.tsx
  frontend-client/package.json
  frontend-client/public/cover.jpg
  frontend-client/types/images.d.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, frontend-api-connect, 💡 feature-client, next-js

#1046 fix(be): modify getProblem to get only exposed problems
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
Labels: ⛳️ team-backend

#1083 fix(infra): allow cors for email-auth
  Caddyfile
Labels: ⛳️ team-infra

#1081 feat(be): implement get fixed notices api
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/notice/notice.service.ts
  collection/client/Notice/Get all fixed group notices/Succeed.bru
  collection/client/Notice/Get all fixed notices/Succeed.bru
Labels: ⛳️ team-backend

#1084 fix(be): let frontend access email-auth header with cors
  backend/apps/client/src/main.ts
Labels: ⛳️ team-backend

#1095 feat(fe): open graph and manifest
  frontend-client/app/apple-icon.png
  frontend-client/app/icon.png
  frontend-client/app/layout.tsx
  frontend-client/app/manifest.webmanifest
  frontend-client/app/opengraph-image.png
  frontend-client/public/android-chrome-192x192.png
  frontend-client/public/android-chrome-512x512.png
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1096 fix(be): change pin deletion time
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
Labels: ⛳️ team-backend

#1099 feat(be): implement check-duplicated-username api
  backend/apps/client/src/user/dto/username.dto.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
  collection/client/User/Check Duplicated Username/409: Duplicated Username.bru
  collection/client/User/Check Duplicated Username/Succeed.bru
Labels: ⛳️ team-backend

#1092 feat(fe): navigation active link
  frontend-client/app/_components/Header.tsx
  frontend-client/app/_components/NavLink.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#962 feat(fe): add docker file for nextjs
  frontend-client/Dockerfile
  frontend-client/Dockerfile.dockerignore
  frontend-client/next.config.js
Labels: ⛳️ team-frontend, 💡 feature-client
