Repository skkuding/codedang, pull requests merged in 2024-11, with the labels that each got.

#2178 refactor(fe): create getResultColor and replace related codes
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/_components/Columns.tsx
  apps/frontend/app/admin/contest/[id]/_components/SubmissionDetailAdmin.tsx
  apps/frontend/app/admin/contest/[id]/participant/[userId]/_components/SubmissionColumns.tsx
  apps/frontend/app/admin/problem/[id]/_components/Columns.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/Columns.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/app/problem/[problemId]/submission/_components/Columns.tsx
  apps/frontend/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/components/TestcasePanel.tsx
  apps/frontend/components/TestcaseTable.tsx
  apps/frontend/lib/utils.ts
  apps/frontend/tailwind.config.ts
Labels: next-js

#2177 refactor(fe): replace data table admin component to new components (2)
  apps/frontend/app/admin/_components/table/DataTableFallback.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/_components/Columns.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/_components/ParticipantTable.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/page.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/_components/Columns.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/_components/SubmissionDetailAdmin.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/_components/SubmissionTable.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/page.tsx
  apps/frontend/app/admin/contest/[id]/participant/[userId]/_components/ScoreColumns.tsx
  apps/frontend/app/admin/contest/[id]/participant/[userId]/_components/ScoreTable.tsx
  apps/frontend/app/admin/contest/[id]/participant/[userId]/_components/SubmissionColumns.tsx
  apps/frontend/app/admin/contest/[id]/participant/[userId]/_components/SubmissionTable.tsx
  apps/frontend/app/admin/contest/[id]/participant/[userId]/page.tsx
  apps/frontend/app/admin/contest/_components/DuplicateContest.tsx
  apps/frontend/app/admin/contest/utils.ts
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/DataTableColumnHeader.tsx
  apps/frontend/components/DataTableLangFilter.tsx
  apps/frontend/components/DataTableLevelFilter.tsx
  apps/frontend/components/DataTablePagination.tsx
  apps/frontend/components/DataTableProblemFilter.tsx
Labels: ⛳️ team-frontend

#2190 fix(be): update redis test key for race condition
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/cache/src/keys.ts
Labels: ⛳️ team-backend, ⛳️ team-infra

#2196 feat(fe): improve editor problems dropdown list ui
  apps/frontend/components/EditorLayout.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2199 docs(be): add jsdoc comment on client problem, submission module
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#2179 feat(iris): handle user-testcase messages
  apps/backend/apps/client/src/submission/class/create-submission.dto.ts
  apps/backend/apps/client/src/submission/class/judge-request.ts
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/cache/src/keys.ts
  apps/backend/libs/constants/src/rabbitmq.constants.ts
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/loader/element.go
  apps/iris/src/router/router.go
  apps/iris/tests/data/submission/1_answer_with_usertestcase.json
  collection/client/Submission/Get User Test Results/Succeed.bru
  collection/client/Submission/Submit User Test/Succeed.bru
Labels: ⛳️ team-backend, ⛳️ team-iris

#2201 feat(be): include scores in contest
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-with-scores.model.ts
  apps/backend/apps/admin/src/contest/model/contests-grouped-by-status.output.ts
  apps/backend/apps/admin/src/contest/model/contests-grouped-by-status.ts
  collection/admin/Contest/Get Belonged Contests by Problem ID/Succeed.bru
Labels: ⛳️ team-backend

#2202 chore(be): add major to contest-score-summary api
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/score-summary.ts
Labels: ⛳️ team-backend

#2205 feat(be): make update contest probelm score api
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Update ContestProblems Scores/Succeed.bru
Labels: ⛳️ team-backend

#2204 fix(fe): show modal when user navigates a page without saving a code
  apps/frontend/app/(client)/(code-editor)/_components/BackCautionDialog.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2200 feat(fe): add user testcase
  apps/frontend/app/(client)/(code-editor)/_components/CopyButton.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/BackCautionDialog.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/RunTestButton.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/AddUserTestcaseDialog.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcaseTable.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useTestResults.ts
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useUserTestcasesForm.ts
  apps/frontend/app/(client)/(code-editor)/_components/context/TestPollingStoreProvider.tsx
  apps/frontend/app/(client)/(code-editor)/_components/context/TestcaseStoreProvider.tsx
  apps/frontend/app/(client)/(main)/problem/page.tsx
  apps/frontend/app/(client)/layout.tsx
  apps/frontend/lib/utils.ts
  apps/frontend/stores/editor.ts
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#2207 feat(fe): enable contest problem list change always
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2211 fix(fe): fix json parsing error in the code editor
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/AddUserTestcaseDialog.tsx
  apps/frontend/stores/editor.ts
Labels: ⛳️ team-frontend

#2210 feat(fe): enable export contest overall excel V2
  apps/frontend/app/admin/contest/[contestId]/(overall)/layout.tsx
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/package.json
  apps/frontend/public/icons/excel.svg
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#2213 fix(fe): truncate huge size output
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/AddUserTestcaseDialog.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/WhitespaceVisualizer.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2206 feat(fe): add major realName studentId in submission modal
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/submission/_components/SubmissionDetailAdmin.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/submission/_components/SubmissionTable.tsx
  apps/frontend/graphql/problem/queries.ts
  apps/frontend/graphql/submission/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, next-js

#2209 feat(fe): show alert modal after editting problem score
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTable.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTableColumns.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/RevertScoreButton.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/SetToZeroButton.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemAlertDialog.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/graphql/problem/mutations.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#2216 feat(fe): fix excel export score data
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
Labels: ⛳️ team-frontend

#2219 fix(fe): alert after click submission in code editor
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/DataTable.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/submission/_components/DataTable.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2220 fix(fe): fix user testcase judging bug
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/RunTestButton.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2223 fix(be): ignore submissions for problems not included in contest
  apps/backend/apps/admin/src/contest/contest.service.ts
Labels: ⛳️ team-backend

#2226 fix(fe): fix bug with user testcases remaining in the contest
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/context/TestcaseStoreProvider.tsx
Labels: ⛳️ team-frontend

#2225 fix(fe): fix user testcase form initialization bug
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/AddUserTestcaseDialog.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useUserTestcasesForm.ts
Labels: ⛳️ team-frontend

#2221 fix(fe): change finished contest exit to route contest problem list
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/finished/problem/[problemId]/page.tsx
Labels: ⛳️ team-frontend

#2224 fix(fe): fix excel export
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
Labels: ⛳️ team-frontend

#2231 fix(fe): fix score sum bug
  apps/frontend/app/admin/contest/_components/ContestProblemColumns.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2212 feat(fe): refresh problems dropdown list after submit
  apps/frontend/app/(client)/(code-editor)/_components/ContestProblemDropdown.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/stores/editor.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#2229 fix(fe): add fetch policy to useSuspenseQuery
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2230 fix(fe): enable scrolling in modal content
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTableColumns.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
Labels: ⛳️ team-frontend

#2228 fix(fe): add submission detail modal on participant
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/submission/_components/SubmissionTable.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/layout.tsx
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
  apps/frontend/app/admin/contest/[contestId]/_components/SubmissionDetailAdmin.tsx
  apps/frontend/app/admin/contest/[contestId]/participant/[userId]/_components/SubmissionTable.tsx
Labels: ⛳️ team-frontend

#2218 fix(fe): differentiate sample and user id
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useTestResults.ts
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend

#2233 fix(fe): comment out popstate
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2236 fix(fe): add fetch policy to useSuspenseQuery
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTable.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2186 docs(be): add jsdoc to admin contest, group, storage / client announcement, workbook modules
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/group/group.resolver.ts
  apps/backend/apps/admin/src/storage/storage.service.ts
Labels: ⛳️ team-backend

#2247 fix(fe): fix delete problem error
  apps/frontend/app/admin/problem/_components/ProblemsDeleteButton.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2245 chore(fe): fix route params type
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/finished/problem/[problemId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/[submissionId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/submission/[submissionId]/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/layout.tsx
Labels: ⛳️ team-frontend

#2248 feat(fe): implement notice create and detail page
  apps/frontend/app/(client)/(main)/notice/[noticeId]/page.tsx
  apps/frontend/app/admin/_components/VisibleForm.tsx
  apps/frontend/app/admin/notice/[noticeId]/page.tsx
  apps/frontend/app/admin/notice/_components/CreateNoticeForm.tsx
  apps/frontend/app/admin/notice/_components/FixedForm.tsx
  apps/frontend/app/admin/notice/_libs/schemas.ts
  apps/frontend/app/admin/notice/create/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/graphql/notice/mutation.ts
  apps/frontend/graphql/notice/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, next-js

#2244 refactor(fe): refactor infinite scroll with tanstack query
  apps/frontend/app/(client)/(main)/problem/_components/ProblemInfiniteTable.tsx
  apps/frontend/app/(client)/(main)/problem/page.tsx
  apps/frontend/app/(client)/_libs/queries/infiniteQuery.ts
  apps/frontend/app/(client)/_libs/queries/problem.ts
  apps/frontend/components/IntersectionArea.tsx
  apps/frontend/components/TanstackQueryErrorBoundary.tsx
  apps/frontend/libs/hooks/useInfiniteScroll.ts
Labels: ⛳️ team-frontend
