Repository skkuding/codedang, pull requests merged in 2024-08, with the labels that each got.

#1806 feat(be): add student-id and major field
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/client/src/auth/auth.service.spec.ts
  apps/backend/apps/client/src/group/mock/group.mock.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/user/dto/signup.dto.ts
  apps/backend/apps/client/src/user/dto/social-signup.dto.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/apps/client/src/user/user.service.ts
  apps/backend/libs/auth/src/jwt/jwt-auth.service.spec.ts
  apps/backend/libs/auth/src/roles/roles.service.spec.ts
  apps/backend/prisma/migrations/20240801094119_add_student_id_and_major_field_in_contest_model/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/client/User/Sign Up/Succeed.bru
Labels: ⛳️ team-backend

#1905 chore(be): add cascade on announcement model
  apps/backend/prisma/migrations/20240801120143_add_cascade_on_announcement_model/migration.sql
  apps/backend/prisma/schema.prisma
Labels: ⛳️ team-backend

#1903 feat(fe): redesign header and footer
  apps/frontend/app/(main)/_components/Footer.tsx
  apps/frontend/app/(main)/_components/Header.tsx
  apps/frontend/app/(main)/_components/NavLink.tsx
  apps/frontend/app/(main)/layout.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/components/Cover.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/ui/button.tsx
  apps/frontend/public/codedang.svg
Labels: ⛳️ team-frontend, 💡 feature-client

#1919 fix(fe): change carousel link
  apps/frontend/app/(main)/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1909 feat(fe): redesign banner
  apps/frontend/app/(main)/contest/layout.tsx
  apps/frontend/app/(main)/notice/layout.tsx
  apps/frontend/app/(main)/problem/layout.tsx
  apps/frontend/components/Cover.tsx
  apps/frontend/public/contestbanner.svg
  apps/frontend/public/noticebanner.svg
  apps/frontend/public/problembanner.svg
Labels: ⛳️ team-frontend, 💡 feature-client

#1922 feat(fe): redesign contest card
  apps/frontend/app/(main)/_components/ContestCard.tsx
  apps/frontend/app/(main)/_components/ProblemCard.tsx
  apps/frontend/app/(main)/_components/StatusBadge.tsx
  apps/frontend/app/(main)/_components/TimeDiff.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/package.json
  apps/frontend/public/20_calendar.svg
  apps/frontend/public/20_clock.svg
  apps/frontend/public/20_finished.svg
  apps/frontend/public/20_ongoing.svg
  apps/frontend/public/20_upcoming.svg
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client

#1929 chore(fe): sort problems by submission
  apps/frontend/app/(main)/_components/ProblemCards.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1879 fix(fe): redesign problem editor except testcase
  apps/frontend/app/problem/[problemId]/layout.tsx
  apps/frontend/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/components/CodeEditor.tsx
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorResizablePanel.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/ui/dialog.tsx
  apps/frontend/components/ui/resizable.tsx
  apps/frontend/public/codedang-editor.svg
  apps/frontend/public/compileVersion.svg
  apps/frontend/public/copy.svg
  apps/frontend/public/copyComplete.svg
  apps/frontend/public/submit.svg
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#1927 feat(fe): split the logic of authentication and add test codes
  apps/frontend/app/next-auth/api/auth/[...nextauth]/route.ts
  apps/frontend/lib/auth.ts
  apps/frontend/lib/auth/authOptions.ts
  apps/frontend/lib/auth/authorize.spec.ts
  apps/frontend/lib/auth/authorize.ts
  apps/frontend/lib/auth/getJWTExpire.spec.ts
  apps/frontend/lib/auth/getJWTExpire.ts
  apps/frontend/lib/auth/getJWTFromResponse.spec.ts
  apps/frontend/lib/auth/getJWTFromResponse.ts
  apps/frontend/lib/utils.ts
  apps/frontend/mock/handlers.ts
  apps/frontend/mock/node.ts
  apps/frontend/package.json
  apps/frontend/vitest.config.ts
  apps/frontend/vitest.setup.ts
  pnpm-lock.yaml
Labels: 💡 feature-client

#1938 chore(fe): remove-header-left-margin
  apps/frontend/app/(main)/_components/Header.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1935 feat(fe): add remaining timer, toast on contest editor
  apps/frontend/app/(main)/_components/ContestCard.tsx
  apps/frontend/app/(main)/_components/TimeDiff.tsx
  apps/frontend/app/(main)/contest/[contestId]/layout.tsx
  apps/frontend/app/(main)/contest/[contestId]/page.tsx
  apps/frontend/components/ContestStatusTimeDiff.tsx
  apps/frontend/components/EditorLayout.tsx
Labels: ⛳️ team-frontend

#1911 feat(fe): redesign signup modal
  apps/frontend/components/auth/SignUp.tsx
  apps/frontend/components/auth/SignUpEmailVerify.tsx
  apps/frontend/components/auth/SignUpRegister.tsx
  apps/frontend/components/auth/SignUpWelcome.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1947 fix(be): fix typo
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get finished contests/Succeed.bru
Labels: ⛳️ team-backend

#1951 chore(fe): change management page layout
  apps/frontend/app/(main)/contest/[contestId]/@tabs/problem/page.tsx
  apps/frontend/app/(main)/contest/_components/ContestTabs.tsx
  apps/frontend/app/admin/_components/FormSection.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1949 feat(fe): adjust main page card number responsively
  apps/frontend/app/(main)/_components/ContestCard.tsx
  apps/frontend/app/(main)/_components/ContestCards.tsx
  apps/frontend/app/(main)/_components/ProblemCard.tsx
  apps/frontend/app/(main)/_components/ProblemCards.tsx
  apps/frontend/app/(main)/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1944 feat(infra): apply ecs cluster auto scaling
  apps/infra/production/codedang/container_definitions/admin_api.json
  apps/infra/production/codedang/container_definitions/client_api.json
  apps/infra/production/codedang/modules/cluster_autoscaling/autoscaling.tf
Labels: ⛳️ team-infra

#1954 fix(infra): modify asg min size to zero to allow desired size
  apps/infra/production/codedang/modules/cluster_autoscaling/autoscaling.tf
Labels: ⛳️ team-infra

#1857 feat(infra): add limits for API and Iris in stage
  docker-compose.yml
Labels: ⛳️ team-infra

#1956 fix(infra): add ecs managed tag to asg and turn on protect from scale in
  apps/infra/production/codedang/modules/cluster_autoscaling/autoscaling.tf
Labels: ⛳️ team-infra

#1936 feat(fe): redesign sign in/reset password modal
  apps/frontend/components/auth/FindUserId.tsx
  apps/frontend/components/auth/RecoverAccount.tsx
  apps/frontend/components/auth/ResetPassword.tsx
  apps/frontend/components/auth/ResetPasswordEmailVerify.tsx
  apps/frontend/components/auth/SignIn.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1952 fix(cd): hide minio's id and password
  docker-compose.yml
Labels: p1-chore 🧹, ⛳️ team-infra

#1957 chore(fe): change major list
  apps/frontend/components/auth/SignUpRegister.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1961 chore(be): enable cors on local env backend admin
  apps/backend/apps/admin/src/main.ts
Labels: ⛳️ team-backend

#1941 feat(fe): initialize e2e test
  apps/frontend/.gitignore
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/playwright/pages/auth.page.ts
  apps/frontend/playwright/pages/home.page.ts
  apps/frontend/playwright/test-results/.last-run.json
  apps/frontend/playwright/tests/auth/login.test.ts
  apps/frontend/playwright/tests/auth/signup.test.ts
  apps/frontend/playwright/tests/home/home.test.ts
  apps/frontend/tsconfig.json
  pnpm-lock.yaml
Labels: 📘 documentation

#1958 feat(fe): improve datatableadmin click
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/app/admin/problem/_components/Columns.tsx
  apps/frontend/components/DataTableAdmin.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1940 fix(iris): handle testcase exec errors
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/service/sandbox/compiler.go
Labels: p5-urgent 🧨, ⛳️ team-iris

#1673 fix(be): integrate problem exposeTime isVisible
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/notice/notice.service.spec.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/model/problem.output.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
  apps/backend/apps/client/src/submission/mock/problem.mock.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/prisma/migrations/20240722144203_rename_expose_time_to_visible_lock_time/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/admin/Contest/Import Problems to Contest/Succeed.bru
  collection/admin/Problem/Get Contest Problems/Succeed.bru
  collection/admin/Problem/Get Problems/Succeed.bru
  collection/admin/Problem/Get WorkbookProblems/Succeed.bru
  collection/admin/Problem/Get a Problem/Succeed.bru
  collection/admin/Problem/Update a Problem/Succeed.bru
  collection/admin/Problem/Update a Problem/UNPROCESSABLE (3).bru
  collection/client/Problem/Get problem by ID/Succeed.bru
Labels: ⛳️ team-backend

#1872 refactor(be): submission module
  apps/backend/apps/client/src/group/group.service.spec.ts
  apps/backend/apps/client/src/problem/dto/create-code-draft.dto.ts
  apps/backend/apps/client/src/submission/class/create-submission.dto.ts
  apps/backend/apps/client/src/submission/class/judge-request.ts
  apps/backend/apps/client/src/submission/class/judger-response.dto.ts
  apps/backend/apps/client/src/submission/interface/testcase.dto.ts
  apps/backend/apps/client/src/submission/mock/contestRecord.mock.ts
  apps/backend/apps/client/src/submission/mock/submission.mock.ts
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.module.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.controller.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Labels: ⛳️ team-backend

#1868 feat(be): select publication of judge results in contest create page
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20240725120844_add_is_judge_result_visible_field_to_contest/migration.sql
  apps/backend/prisma/schema.prisma
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Create Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Create Contest/[ERR] Nonexistent Group.bru
  collection/admin/Contest/Update Contest/Succeed.bru
  collection/admin/Contest/Update Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Update Contest/[ERR] Nonexistent Contest.bru
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Get registered finished contests/Succeed.bru
Labels: ⛳️ team-backend

#1953 feat(be): add get-contest-score-summaries api
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/score-summary.ts
  collection/admin/Contest/Get Contest Score Summary of User/Succeed.bru
Labels: ⛳️ team-backend

#1950 feat: implement duplicate contest
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/duplicated-contest-response.output.ts
  apps/frontend/app/admin/contest/_components/DuplicateContest.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/lib/utils.ts
  collection/admin/Contest/Duplicate Contest/Succeed.bru
Labels: ⛳️ team-backend, ⛳️ team-frontend

#1859 fix(ci): change pnpm cache logic and check style all files
  .github/actions/setup-pnpm/action.yml
  .github/workflows/ci.yml
Labels: feat: ci

#1931 fix(fe): change management layout
  apps/frontend/app/admin/layout.tsx
  apps/frontend/app/admin/notice/page.tsx
  apps/frontend/app/admin/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1963 feat(fe): redesign admin contest list
  apps/frontend/app/admin/contest/[id]/_components/Columns.tsx
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/app/admin/contest/create/_components/Columns.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/app/admin/layout.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/DataTableColumnHeader.tsx
  apps/frontend/components/ui/table.tsx
  apps/frontend/public/24_invisible.svg
  apps/frontend/public/24_visible.svg
Labels: ⛳️ team-frontend, 💡 feature-admin

#1971 fix(ci): don't check style on file with no file extension
  .github/workflows/ci.yml
Labels: 🪰 bug

#1974 feat(fe): redesign header and footer logo
  apps/frontend/app/(main)/_components/Footer.tsx
  apps/frontend/public/codedang.svg
Labels: ⛳️ team-frontend, 💡 feature-client

#1973 feat(fe): cache session data
  apps/frontend/lib/auth.ts
  apps/frontend/lib/auth/getClientSession.spec.ts
  apps/frontend/lib/auth/getClientSession.ts
  apps/frontend/mocks/handlers.ts
  apps/frontend/mocks/node.ts
  apps/frontend/vitest.config.ts
  apps/frontend/vitest.setup.ts
Labels: 💡 feature-client

#1976 feat(fe): redesign management edit button
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1924 feat(be): add admin submission module
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/apps/admin/src/submission/model/contest-submission.model.ts
  apps/backend/apps/admin/src/submission/model/get-contest-submission.input.ts
  apps/backend/apps/admin/src/submission/submission.module.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  collection/admin/Submission/Get Contest Submission Summaries/Succeed.bru
Labels: ⛳️ team-backend

#1979 feat(fe): change main page components design
  apps/frontend/app/(main)/_components/ContestCard.tsx
  apps/frontend/app/(main)/_components/Header.tsx
  apps/frontend/app/(main)/contest/_components/ContestCardList.tsx
  apps/frontend/app/(main)/contest/layout.tsx
  apps/frontend/app/(main)/layout.tsx
  apps/frontend/app/(main)/notice/layout.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/app/(main)/problem/layout.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1982 docs(be): add admin get contest submissions api docs
  collection/admin/Submission/Get Contest Submission Summaries/Succeed.bru
Labels: ⛳️ team-backend

#1983 fix(fe): change email logo
  apps/backend/apps/client/src/email/templates/email-auth.hbs
Labels: ⛳️ team-frontend

#1972 chore(fe): update favicon and icons
  apps/frontend/app/apple-icon.png
  apps/frontend/app/favicon.ico
  apps/frontend/app/icon.png
  apps/frontend/public/android-chrome-192x192.png
  apps/frontend/public/android-chrome-512x512.png
Labels: ⛳️ team-frontend, next-js

#1984 fix(fe): change email logo
  apps/backend/apps/client/src/email/templates/email-auth.hbs
Labels: ⛳️ team-frontend

#1985 fix(fe): fix admin contest invitation code
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, next-js

#1967 fix(fe): fix contest list toggle problem
  apps/frontend/app/admin/contest/_components/Columns.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1975 feat(fe): replace banner and carousel icons
  apps/frontend/app/(main)/_components/Carousel.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/components/Cover.tsx
  apps/frontend/public/bug-carousel.png
  apps/frontend/public/carousel1.svg
  apps/frontend/public/carousel2.svg
  apps/frontend/public/carousel3.svg
  apps/frontend/public/codedang-carousel.png
  apps/frontend/public/codedang-icon.png
  apps/frontend/public/contest-icon.png
  apps/frontend/public/github-carousel.png
  apps/frontend/public/notice-icon.png
Labels: ⛳️ team-frontend, 💡 feature-client

#1989 fix(docs): fix bruno params:query to query
  .devcontainer/devcontainer.json
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Get registered finished contests/Succeed.bru
  collection/client/Problem/Get problem by ID/Succeed.bru
Labels: ⛳️ team-backend

#1988 feat(be): implement getContestsByProblemId api
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contests-grouped-by-status.ts
  collection/admin/Contest/Get Belonged Contests by Problem ID/Succeed.bru
Labels: ⛳️ team-backend

#1964 feat(fe): redesign problem editor
  apps/frontend/app/problem/[problemId]/layout.tsx
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorLayout.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/ui/badge.tsx
  apps/frontend/public/codedang-editor.svg
  apps/frontend/public/codedang.svg
Labels: ⛳️ team-frontend, 💡 feature-client

#1990 fix(fe): fix contest card server error
  apps/frontend/app/(main)/_components/ContestCards.tsx
  apps/frontend/app/(main)/_components/ProblemCards.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1986 fix(fe): fix table border tailwind
  apps/frontend/components/ui/table.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1992 feat(be): add update user field api
  apps/backend/apps/client/src/user/dto/update-userprofile.dto.ts
  apps/backend/apps/client/src/user/dto/updateUser.dto.ts
  apps/backend/apps/client/src/user/user.controller.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/apps/client/src/user/user.service.ts
  collection/client/User/Update Profile/Succeed.bru
  collection/client/User/Update Profile/[404] Not Found.bru
  collection/client/User/Update User/Succeed.bru
Labels: ⛳️ team-backend

#1965 feat(fe): redesign admin table pagination bar
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/DataTablePagination.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1995 chore(fe): make safeFetcher that throws http error
  apps/frontend/lib/auth/authorize.ts
  apps/frontend/lib/utils.ts
Labels: ⛳️ team-frontend

#1996 fix(be): modify sandbox python version and judge result cpu-time
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/iris/Dockerfile
  apps/iris/go.mod
  apps/iris/src/service/sandbox/langConfig.go
Labels: p5-urgent 🧨, ⛳️ team-iris

#1998 feat(be): reform get-contest-score-summary
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/score-summary.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/prisma/migrations/20240822115322_add_score_on_submission_table/migration.sql
  apps/backend/prisma/schema.prisma
  collection/admin/Contest/Get Contest Score Summary of User/Succeed.bru
Labels: ⛳️ team-backend

#1980 fix(fe): prevent send email button disable
  apps/frontend/components/auth/SignUpEmailVerify.tsx
  apps/frontend/components/auth/SignUpRegister.tsx
  apps/frontend/public/check.svg
Labels: ⛳️ team-frontend, 💡 feature-client

#2003 chore(fe): change admin user list column header
  apps/frontend/app/admin/user/_components/Columns.tsx
  apps/frontend/components/DataTablePagination.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2005 fix(be): fix not to use password to change non password fields
  apps/backend/apps/client/src/user/dto/updateUser.dto.ts
  apps/backend/apps/client/src/user/user.controller.ts
  apps/backend/apps/client/src/user/user.service.ts
  collection/client/User/Update User/Optionally update.bru
  collection/client/User/Update User/Succeed.bru
  collection/client/User/Update User/Update All Fields of User.bru
  collection/client/User/Update User/[401] Incorrect current password.bru
  collection/client/User/Update User/[422] current password needed to change password.bru
Labels: 🪰 bug, ⛳️ team-backend

#1977 feat(be): redact submission result when is-judge-result-visible is false
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20240822012258_add_blind_on_enum_result_status/migration.sql
  apps/backend/prisma/schema.prisma
Labels: ⛳️ team-backend

#1993 feat(fe): add contained contest modal
  apps/frontend/app/admin/problem/_components/Columns.tsx
  apps/frontend/app/admin/problem/_components/ContainedContests.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/public/24_compile.svg
Labels: ⛳️ team-frontend, 💡 feature-admin

#2007 feat(fe): redesign client contest table
  apps/frontend/app/(main)/contest/_components/FinishedTableColumns.tsx
  apps/frontend/app/(main)/contest/_components/TableSwitchButton.tsx
  apps/frontend/app/(main)/contest/page.tsx
  apps/frontend/public/check-gray-icon.svg
Labels: ⛳️ team-frontend, 💡 feature-client

#1994 feat(fe): settings page save
  apps/frontend/app/(main)/settings/page.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/auth/SignUpRegister.tsx
  apps/frontend/lib/constants.ts
  apps/frontend/public/settings.png
Labels: ⛳️ team-frontend, 💡 feature-client

#2008 feat(fe): show toast when copied
  apps/frontend/components/CodeEditor.tsx
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/public/24_copy.svg
Labels: ⛳️ team-frontend, 💡 feature-client

#1991 feat(fe): add toggles in contest create
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemListLabel.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemButton.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/utils.ts
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, next-js

#2001 feat(be): modify import-problems-to-contest api to allow setting score
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/problem-score.input.ts
  collection/admin/Contest/Import Problems to Contest/Succeed.bru
Labels: ⛳️ team-backend

#2006 feat(fe): show update information modal for existing users
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/auth/UpdateInformation.tsx
  apps/frontend/components/ui/dialog.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2020 fix(be): change import problem transaction error logic
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
Labels: 🪰 bug

#2019 fix(fe): add score field at contestProblem
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/utils.ts
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/problem/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#2018 feat(infra): delete nat-gateway
  apps/infra/production/network/README.md
  apps/infra/production/network/public_network.tf
Labels: ⛳️ team-infra

#2012 fix(fe): change management dashboard design
  apps/frontend/app/admin/layout.tsx
  apps/frontend/app/admin/page.tsx
  apps/frontend/public/welcome.svg
Labels: ⛳️ team-frontend, 💡 feature-admin

#2004 feat(be): add languages and hasPassed in getProblems
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.module.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.module.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  collection/client/Problem/Get problems/Succeed.bru
Labels: ⛳️ team-backend

#2024 feat(be): calculate score based on latest submission only
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/score-summary.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
Labels: ⛳️ team-backend

#1894 feat(be): add get-contest-submission-informations api
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-submission-summary-for-user.model.ts
  collection/admin/Contest/Get Contest Submission Summaries of User/Succeed.bru
Labels: ⛳️ team-backend

#2027 fix(fe): redirect to home when user logged out
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2026 feat(infra): add capacity provider strategy to ecs cluster
  apps/infra/production/codedang/modules/cluster_autoscaling/cluster.tf
Labels: ⛳️ team-infra

#1923 feat(fe): edit create problem page
  apps/frontend/app/admin/_components/FormSection.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/InfoForm.tsx
  apps/frontend/app/admin/problem/_components/PopoverVisibleInfo.tsx
  apps/frontend/app/admin/problem/_components/VisibleForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/components/CheckboxSelect.tsx
  apps/frontend/components/ui/button.tsx
  apps/frontend/components/ui/checkbox.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, next-js

#2028 chore(fe): hide test button
  apps/frontend/components/EditorHeader.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2030 chore(fe): edit admin contest toggle title text
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Labels: 💡 feature-admin, next-js

#2000 feat(be): sperate testcases into sample or hidden
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/model/problem.input.ts
  apps/backend/apps/admin/src/problem/model/testcase.input.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
  apps/backend/prisma/migrations/20240826051609_add_is_hidden_on_problemtestcase_model/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/app/admin/problem/utils.ts
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/graphql/problem/queries.ts
  apps/frontend/types/type.ts
  collection/admin/Problem/Create Problem/Succeed.bru
Labels: ⛳️ team-backend

#2009 feat(fe): create contest overall all submissions table
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/_components/Columns.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/page.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/DataTableProblemFilter.tsx
  apps/frontend/graphql/submission/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#2036 feat(be): add score, submissionTime info on ContestProblem api
  apps/backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
Labels: ⛳️ team-backend

#2040 fix(fe): fix Sample input output scroll design
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/components/EditorResizablePanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2035 feat(fe): implement testcase score field and equal distribution button
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/AddBadge.tsx
  apps/frontend/app/admin/problem/_components/AddableForm.tsx
  apps/frontend/app/admin/problem/_components/CautionDialog.tsx
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/app/admin/problem/_libs/utils.ts
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/app/admin/problem/utils.ts
  apps/frontend/graphql/problem/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, next-js

#2023 feat(fe): add english major name
  apps/frontend/components/auth/SignUpRegister.tsx
  apps/frontend/lib/constants.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#2016 fix(fe): fix contest register button
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/admin/layout.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2034 feat(fe): add update now settings and fix error
  apps/frontend/app/(main)/settings/page.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/auth/UpdateInformation.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2045 fix(fe): remove link from participant score table
  apps/frontend/app/admin/contest/[id]/participant/[userId]/_components/SubmissionColumns.tsx
  apps/frontend/components/DataTableAdmin.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2031 feat(fe): show modal when leaving create and edit page
  apps/frontend/app/admin/_components/ConfirmNavigation.tsx
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2046 chore(fe): delete comments
  apps/frontend/app/(main)/settings/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2049 feat(be): allow re-submission when user already passed problem
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Labels: ⛳️ team-backend

#2047 chore(fe): change solved to success rate
  apps/frontend/app/(main)/problem/_components/Columns.tsx
  apps/frontend/app/admin/_components/ConfirmNavigation.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2048 feat(be): apply modified testcase handling logic to update-testcase, delete-problem
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
Labels: ⛳️ team-backend

#2043 feat(fe): edit client contest list and table
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/problem/_components/Columns.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/problem/page.tsx
  apps/frontend/app/(main)/contest/[contestId]/layout.tsx
  apps/frontend/app/(main)/contest/utils.ts
  apps/frontend/app/contest/[contestId]/problem/[problemId]/page.tsx
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/public/check-green.svg
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client
