Repository skkuding/codedang, pull requests merged in 2024-07, with the labels that each got.

#1744 fix(be): inject user role in groud-member-guard
  apps/backend/libs/auth/src/roles/group-member.guard.ts
Labels: ⛳️ team-backend

#1758 fix(fe): change contest problem interface
  apps/frontend/components/EditorLayout.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1759 feat(fe): implement indent extension
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/components/TextEditor.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1765 fix(fe): fix notice stage server error
  apps/frontend/app/(main)/notice/_components/NoticeTable.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1757 chore(fe): prevent signup modal reset
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1769 fix(fe): handle null user in submission
  apps/frontend/app/problem/[problemId]/submission/_components/Columns.tsx
Labels: 🪰 bug, ⛳️ team-frontend, 💡 feature-client

#1767 fix(be): include-template-in-problem-select-option
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
Labels: ⛳️ team-backend

#1772 fix(be): resolve admin problem test error
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
Labels: 🪰 bug, ⛳️ team-backend, p5-urgent 🧨

#1773 fix(be): resolve client group unit test error
  apps/backend/apps/client/src/group/group.service.spec.ts
Labels: 🪰 bug, ⛳️ team-backend, p5-urgent 🧨

#1774 fix(be): resolve client submission test error
  apps/backend/apps/client/src/submission/submission.service.spec.ts
Labels: 🪰 bug, ⛳️ team-backend, p5-urgent 🧨

#1766 feat(fe): add skeleton code field to admin problem
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1786 fix(fe): fix Vercel problemCard server component error
  apps/frontend/app/(main)/_components/ProblemCards.tsx
  apps/frontend/app/(main)/notice/_components/NoticeTable.tsx
Labels: 🪰 bug

#1717 feat(be): change permission for submission detail
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  collection/client/Submission/Get Submission by ID/Succeed.bru
  collection/client/Submission/Get Submission by ID/[403] Forbidden.bru
Labels: ⛳️ team-backend

#1755 fix(be): update testing module prisma-service imports
  apps/backend/apps/client/src/announcement/announcement.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/libs/prisma/src/index.ts
  apps/backend/libs/prisma/src/prisma.test.service.ts
Labels: p1-chore 🧹, ⛳️ team-backend

#1790 chore(fe): disable close when click outside modal
  apps/frontend/app/admin/problem/_components/UploadDialog.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1782 feat(fe): show skeleton code on code editor
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorResizablePanel.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#1800 fix(fe): admin client error handling
  apps/frontend/app/(main)/contest/error.tsx
  apps/frontend/app/admin/contest/[id]/error.tsx
  apps/frontend/app/admin/contest/create/error.tsx
  apps/frontend/app/admin/contest/error.tsx
  apps/frontend/app/admin/error.tsx
  apps/frontend/app/admin/notice/error.tsx
  apps/frontend/app/admin/problem/[id]/edit/error.tsx
  apps/frontend/app/admin/problem/[id]/error.tsx
  apps/frontend/app/admin/problem/[id]/page.tsx
  apps/frontend/app/admin/problem/create/error.tsx
  apps/frontend/app/admin/problem/error.tsx
  apps/frontend/app/admin/user/error.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/error.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/error.tsx
  apps/frontend/app/contest/error.tsx
  apps/frontend/app/problem/[problemId]/error.tsx
  apps/frontend/app/problem/[problemId]/submission/error.tsx
  apps/frontend/components/ErrorDetail.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 💡 feature-client

#1802 chore(fe): change to client component
  apps/frontend/app/(main)/_components/ProblemCards.tsx
  apps/frontend/app/(main)/page.tsx
Labels: ⛳️ team-frontend

#1794 test(be): fix issue causing unit tests to stop
  apps/backend/apps/client/src/announcement/announcement.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/group/group.service.spec.ts
  apps/backend/libs/prisma/src/index.ts
  apps/backend/libs/prisma/src/prisma.service.ts
  apps/backend/libs/prisma/src/prisma.test.service.ts
  apps/backend/libs/prisma/src/transaction.extension.ts
Labels: ⛳️ team-backend

#1805 fix(fe): change node env
  .github/workflows/cd-prod.yml
  .github/workflows/cd-stage.yml
  apps/backend/Dockerfile
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/client/src/main.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/libs/logger/src/pino-option.logger.ts
  apps/frontend/middleware.ts
  apps/iris/Dockerfile
  scripts/setup.sh
Labels: ⛳️ team-backend, ⛳️ team-frontend, ⛳️ team-infra

#1780 feat(be): add contest enable-copy-paste field
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/prisma/migrations/20240715051715_add_enable_copy_paste_field_to_contest_model/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Create Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Create Contest/[ERR] Nonexistent Group.bru
  collection/admin/Contest/Update Contest/Succeed.bru
  collection/admin/Contest/Update Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Update Contest/[ERR] Nonexistent Contest.bru
  collection/client/Announcement/Get Announcements/Succeed.bru
Labels: ⛳️ team-backend

#1813 feat(fe): add indent when tab at textarea
  apps/frontend/components/ui/textarea.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 💡 feature-client

#1736 refactor(infra): separate new project for ecs
  apps/infra/modules/codedang-infra/ecs.tf
  apps/infra/modules/codedang-infra/mime.json
  apps/infra/production/codedang/.terraform.lock.hcl
  apps/infra/production/codedang/codedang_api.tf
  apps/infra/production/codedang/codedang_iris.tf
  apps/infra/production/codedang/codedang_service_admin.tf
  apps/infra/production/codedang/codedang_service_client.tf
  apps/infra/production/codedang/codedang_service_iris.tf
  apps/infra/production/codedang/container_definitions/admin_api.json
  apps/infra/production/codedang/container_definitions/client_api.json
  apps/infra/production/codedang/container_definitions/iris.json
  apps/infra/production/codedang/container_definitions/log_router.json
  apps/infra/production/codedang/iam_ecs_instance_role.tf
  apps/infra/production/codedang/iam_ecs_task_execution_role.tf
  apps/infra/production/codedang/main.tf
  apps/infra/production/codedang/message_queue.tf
  apps/infra/production/codedang/message_queue_aws.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/README.md
  apps/infra/production/codedang/modules/cluster_autoscaling/autoscaling.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/cluster.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/launch_template/user_data.sh
  apps/infra/production/codedang/modules/cluster_autoscaling/main.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/outputs.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/subnets.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/variables.tf
  apps/infra/production/codedang/modules/loadbalancing/README.md
  apps/infra/production/codedang/modules/loadbalancing/loadbalancing.tf
  apps/infra/production/codedang/modules/loadbalancing/main.tf
  apps/infra/production/codedang/modules/loadbalancing/outputs.tf
  apps/infra/production/codedang/modules/loadbalancing/subnets.tf
  apps/infra/production/codedang/modules/loadbalancing/variables.tf
  apps/infra/production/codedang/modules/service_autoscaling/README.md
  apps/infra/production/codedang/modules/service_autoscaling/appautoscaling_scale_down.tf
  apps/infra/production/codedang/modules/service_autoscaling/appautoscaling_scale_up.tf
  apps/infra/production/codedang/modules/service_autoscaling/ecs_service.tf
  apps/infra/production/codedang/modules/service_autoscaling/iam_task_role.tf
  apps/infra/production/codedang/modules/service_autoscaling/main.tf
  apps/infra/production/codedang/modules/service_autoscaling/outputs.tf
  apps/infra/production/codedang/modules/service_autoscaling/variables.tf
  apps/infra/production/codedang/variables.tf
Labels: ⛳️ team-infra

#1747 feat(infra): github action for targeted terraform proj
  .github/workflows/cd-prod-target.yml
  .github/workflows/cd-prod.yml
Labels: ⛳️ team-infra, feat: cd

#1737 refactor(infra): separate network tf files
  apps/infra/production/network/README.md
  apps/infra/production/network/cloudfront.tf
  apps/infra/production/network/main.tf
  apps/infra/production/network/private_network.tf
  apps/infra/production/network/public_network.tf
  apps/infra/production/network/route53.tf
  apps/infra/production/network/variables.tf
  apps/infra/production/network/vpc.tf
Labels: ⛳️ team-infra

#1817 fix(infra): fix tf apply command
  .github/workflows/cd-prod-target.yml
  .github/workflows/cd-prod.yml
  apps/infra/production/codedang/iam_ecs_instance_role.tf
  apps/infra/production/codedang/iam_ecs_task_execution_role.tf
Labels: ⛳️ team-infra, feat: cd

#1776 feat(be): add invitation-code to contest
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/prisma/migrations/20240711124028_add_invitation_code_field_to_contest_model/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Create Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Create Contest/[ERR] Nonexistent Group.bru
  collection/client/Contest/Participate group contest/Succeed.bru
  collection/client/Contest/Participate group contest/[409] Already Participated.bru
  collection/client/Contest/Participate group contest/[409] Ended Contest.bru
  collection/client/Contest/Participate group contest/[409] Invalid Invitation Code.bru
Labels: ⛳️ team-backend

#1784 refactor(fe): refactor admin edit and create problem page
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/AddBadge.tsx
  apps/frontend/app/admin/problem/_components/AddableForm.tsx
  apps/frontend/app/admin/problem/_components/DescriptionForm.tsx
  apps/frontend/app/admin/problem/_components/ErrorMessage.tsx
  apps/frontend/app/admin/problem/_components/FormSection.tsx
  apps/frontend/app/admin/problem/_components/InfoForm.tsx
  apps/frontend/app/admin/problem/_components/LimitForm.tsx
  apps/frontend/app/admin/problem/_components/PopoverVisibleInfo.tsx
  apps/frontend/app/admin/problem/_components/SwitchField.tsx
  apps/frontend/app/admin/problem/_components/TemplateField.tsx
  apps/frontend/app/admin/problem/_components/TitleForm.tsx
  apps/frontend/app/admin/problem/_components/VisibleForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/app/admin/problem/utils.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#1822 feat(fe): add register code field
  apps/frontend/app/admin/contest/[id]/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, next-js

#1821 refactor(fe): separate katex rendering function
  apps/frontend/app/admin/problem/[id]/page.tsx
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/lib/renderKatex.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#1818 refactor(infra): refactor terraform (remove deprecated proj)
  apps/infra/deploy/.terraform.lock.hcl
  apps/infra/deploy/main.tf
  apps/infra/deploy/provider.tf
  apps/infra/deploy/variable.tf
  apps/infra/modules/codedang-infra/.terraform.lock.hcl
  apps/infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  apps/infra/modules/codedang-infra/backend/client-task-definition.tftpl
  apps/infra/modules/codedang-infra/cloudfront.tf
  apps/infra/modules/codedang-infra/db.tf
  apps/infra/modules/codedang-infra/ecs-api-admin-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-admin.tf
  apps/infra/modules/codedang-infra/ecs-api-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client.tf
  apps/infra/modules/codedang-infra/ecs-iris-asg.tf
  apps/infra/modules/codedang-infra/ecs-iris-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-iris.tf
  apps/infra/modules/codedang-infra/ecs.tf
  apps/infra/modules/codedang-infra/iris/task-definition.tftpl
  apps/infra/modules/codedang-infra/main.tf
  apps/infra/modules/codedang-infra/network.tf
  apps/infra/modules/codedang-infra/rabbitmq.tf
  apps/infra/modules/codedang-infra/route53.tf
  apps/infra/modules/codedang-infra/s3-media.tf
  apps/infra/modules/codedang-infra/s3-testcase.tf
  apps/infra/modules/codedang-infra/secrets.tf
  apps/infra/modules/codedang-infra/security-group.tf
  apps/infra/modules/codedang-infra/user-data.sh
  apps/infra/modules/codedang-infra/variables.tf
  apps/infra/production/storage/s3_media_iam_user.tf
  apps/infra/production/storage/s3_testcase_iam_user.tf
Labels: ⛳️ team-infra

#1825 feat(infra): apply minio web conolse on stage server
  apps/infra/stage/Caddyfile
  docker-compose.yml
Labels: ⛳️ team-infra

#1771 fix(be): remove duplicate expressions
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
Labels: ⛳️ team-backend

#1834 feat(be): add img base url for stage server
  apps/backend/apps/admin/src/problem/problem.service.ts
Labels: ⛳️ team-backend

#1848 fix: delete minio-browser-redirect-url
  docker-compose.yml
Labels: ⛳️ team-backend, ⛳️ team-infra

#1850 feat(be): add problem template default value
  apps/backend/prisma/migrations/20240722070636_add_problem_template_default_value/migration.sql
  apps/backend/prisma/schema.prisma
Labels: ⛳️ team-backend

#1852 fix(fe): handle undefined template error
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorResizablePanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1853 feat(fe): redesign problemcard component and see-more button
  apps/frontend/app/(main)/_components/ProblemCard.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/components/ui/button.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1855 feat(ci): change script for linting only changed files
  .github/workflows/ci.yml
Labels: feat: ci

#1171 feat(be): judge by testcase in iris
  apps/backend/apps/client/src/app.module.ts
  apps/backend/apps/client/src/submission/dto/judger-response.dto.ts
  apps/backend/apps/client/src/submission/dto/testcase.dto.ts
  apps/backend/apps/client/src/submission/mock/submission.mock.ts
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
  apps/backend/apps/client/src/submission/mock/testcase.mock.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/storage/src/content.type.ts
  apps/backend/libs/storage/src/index.ts
  apps/backend/libs/storage/src/s3.provider.ts
  apps/backend/libs/storage/src/storage.module.ts
  apps/backend/libs/storage/src/storage.service.spec.ts
  apps/backend/libs/storage/src/storage.service.ts
  apps/backend/libs/storage/tsconfig.lib.json
  apps/backend/nest-cli.json
  apps/backend/prisma/migrations/20240723071405_judge_by_testcase_id/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/tsconfig.json
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/dataIfError.ts
  apps/frontend/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/app/problem/[problemId]/submission/_components/dataIfError.ts
  apps/frontend/types/type.ts
  apps/iris/main.go
  apps/iris/src/connector/factory.go
  apps/iris/src/connector/http/connector.go
  apps/iris/src/connector/rabbitmq/connector.go
  apps/iris/src/connector/rabbitmq/consumer.go
  apps/iris/src/connector/rabbitmq/producer.go
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/router/response.go
  apps/iris/src/router/router.go
Labels: ⛳️ team-backend, ⛳️ team-iris

#1860 fix(be): fix bruno query grammar
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Submission/Create Submission/404: No Contest found.bru
  collection/client/Submission/Create Submission/Succeed.bru
  collection/client/Submission/Create Submission/Succeed: Contest(AC).bru
  collection/client/Submission/Create Submission/Succeed: Contest(TLE).bru
  collection/client/Submission/Create Submission/Succeed: Contest(WA).bru
Labels: 🪰 bug

#1867 chore(be): return including enable-copy-paste
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get contest by ID/Succeed.bru
Labels: ⛳️ team-backend

#1874 feat(fe): add editor copy paste preventing
  apps/frontend/components/CodeEditor.tsx
  apps/frontend/components/EditorLayout.tsx
  apps/frontend/components/EditorResizablePanel.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#1862 feat(fe): implement image upload
  apps/frontend/components/TextEditor.tsx
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-admin

#1863 feat(fe): refactor admin contest structure
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/_components/ErrorMessage.tsx
  apps/frontend/app/admin/_components/FormSection.tsx
  apps/frontend/app/admin/_components/Label.tsx
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/page.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/page.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/error.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/layout.tsx
  apps/frontend/app/admin/contest/[id]/_components/ContestOverallTabs.tsx
  apps/frontend/app/admin/contest/[id]/edit/error.tsx
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/contest/[id]/page.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemListLabel.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemButton.tsx
  apps/frontend/app/admin/contest/_components/TimeForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/utils.ts
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/AddableForm.tsx
  apps/frontend/app/admin/problem/_components/InfoForm.tsx
  apps/frontend/app/admin/problem/_components/Label.tsx
  apps/frontend/app/admin/problem/_components/LimitForm.tsx
  apps/frontend/app/admin/problem/_components/TemplateField.tsx
  apps/frontend/app/admin/problem/_components/VisibleForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/app/admin/problem/utils.ts
  apps/frontend/app/admin/utils.ts
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/public/period.svg
Labels: ⛳️ team-frontend, 💡 feature-admin, next-js

#1900 feat(fe): redesign main page carousel
  apps/frontend/app/(main)/_components/Carousel.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/public/carousel1.svg
  apps/frontend/public/carousel2.svg
  apps/frontend/public/carousel3.svg
Labels: ⛳️ team-frontend, 💡 feature-client
