Repository skkuding/codedang, pull requests merged in 2024-09, with the labels that each got.

#2052 docs(be): add docs for contest overall apis
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  collection/admin/Contest/Get Contest Score Summaries /Succeed.bru
  collection/admin/Contest/Get Contest Score Summary of User/Succeed.bru
  collection/admin/Contest/Get Contest Submission Summaries of Users/Succeed.bru
  collection/admin/Submission/Get Contest Submission Summaries/Succeed.bru
Labels: ⛳️ team-backend

#2050 fix(fe): fix admin hint toggle and datepicker bug
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2057 fix(be): resolve upload-problem error
  apps/backend/apps/admin/src/problem/problem.service.ts
Labels: ⛳️ team-backend

#2060 fix(be): return cpu-time and memory-usage null when is-judge-visible is false
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#2056 docs(be): change contest overall docs
  collection/admin/Contest/Get Contest Score Summaries/Succeed.bru
  collection/admin/Contest/Get Contest Score Summary of User/Succeed.bru
  collection/admin/Contest/Get Contest Submission Summaries of Users/Succeed.bru
  collection/admin/Submission/Get Contest Submissions/Succeed.bru
Labels: ⛳️ team-backend

#2055 fix(fe): fix testcase field and admin forms
  apps/frontend/app/admin/contest/utils.ts
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/app/admin/problem/utils.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#2051 feat(be): forbid score update when submit exists
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
Labels: ⛳️ team-backend

#2064 fix(be): check if score or score-weight is non-negative integer
  apps/backend/apps/admin/src/contest/contest.module.ts
  apps/backend/apps/admin/src/contest/model/problem-score.input.ts
  apps/backend/apps/admin/src/problem/model/testcase.input.ts
  apps/backend/apps/admin/src/problem/problem.module.ts
  apps/backend/apps/admin/src/problem/scalar/int-score.scalar.ts
  collection/admin/Problem/Create Problem/Succeed.bru
Labels: ⛳️ team-backend

#2070 chore(fe): minor update to the admin problem table
  apps/frontend/app/admin/contest/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/Columns.tsx
  apps/frontend/graphql/problem/queries.ts
Labels: ⛳️ team-frontend

#2071 feat(be): redact max-score, score when is-judge-result-visible of contest is false
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
Labels: ⛳️ team-backend

#2065 feat(be): add accepted-rate calculating logic when submission created
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
Labels: ⛳️ team-backend

#2077 fix(be): apply swc on nest
  apps/backend/.mocharc.json
  apps/backend/.swcrc
  apps/backend/apps/client/src/main.ts
  apps/backend/nest-cli.json
  apps/backend/package.json
  apps/backend/webpack.config.js
  pnpm-lock.yaml
Labels: ⛳️ team-backend

#2074 chore(fe): edit contest table and list
  apps/frontend/app/(main)/contest/_components/ContestTabs.tsx
  apps/frontend/app/(main)/contest/_components/FinishedContestTable.tsx
  apps/frontend/app/(main)/contest/_components/FinishedTableColumns.tsx
  apps/frontend/app/(main)/contest/_components/RegisteredContestTable.tsx
  apps/frontend/app/(main)/contest/_components/RegisteredTableColumns.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2078 chore(fe): remove contest card progress circle
  apps/frontend/app/(main)/_components/ContestCard.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2061 feat(fe): improve datatableadmin order
  apps/frontend/app/(main)/contest/[contestId]/@tabs/problem/page.tsx
  apps/frontend/app/admin/contest/[id]/_components/Columns.tsx
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/DataTableProblemFilter.tsx
  apps/frontend/components/EditorLayout.tsx
  apps/frontend/components/OptionSelect.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2067 feat(fe): apply scrollarea only to score table
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/_components/Columns.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/page.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/page.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/layout.tsx
  apps/frontend/app/admin/contest/[id]/participant/[userId]/page.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/graphql/contest/queries.ts
  collection/admin/Contest/Get Contest Score Summary of User/Succeed.bru
Labels: 💡 feature-admin

#2072 fix(iris): enable -Werror=implicit-function-declaration options on gcc/g++
  apps/iris/src/service/sandbox/langConfig.go
Labels: ⛳️ team-iris

#2081 fix(fe): fix text editor placeholder, componentize katex
  apps/frontend/app/(main)/contest/[contestId]/@tabs/page.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/layout.tsx
  apps/frontend/app/admin/problem/[id]/page.tsx
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/components/KatexContent.tsx
  apps/frontend/components/TextEditor.tsx
Labels: ⛳️ team-frontend, next-js

#2053 feat(be): implements test api
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/libs/cache/src/keys.ts
  apps/backend/libs/constants/src/rabbitmq.constants.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/prisma/migrations/20240907114725_add_is_test_column_on_submisison_table/migration.sql
  apps/backend/prisma/migrations/20240907142349_delete_is_test_column_on_submission_table/migration.sql
  apps/iris/src/connector/rabbitmq/connector.go
  apps/iris/src/connector/rabbitmq/producer.go
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/loader/element.go
  apps/iris/src/loader/postgres/source.go
  apps/iris/src/router/router.go
  apps/iris/src/service/testcase/manager.go
  collection/client/Submission/Create Submission/Succeed.bru
  collection/client/Submission/Get Test Results/Succeed.bru
  collection/client/Submission/Submit Test/Succeed.bru
Labels: ⛳️ team-backend

#2083 chore(fe): add alert when image size larger than 5mb
  apps/frontend/components/InsertDialog.tsx
  apps/frontend/components/TextEditor.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2087 feat(be): add admin get submission by id api
  apps/backend/apps/admin/src/problem/model/template.input.ts
  apps/backend/apps/admin/src/submission/model/submission-detail.output.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  collection/admin/Submission/Get Submission Detail/Succeed.bru
Labels: ⛳️ team-backend

#2097 fix(fe): prevent horizontal scrollbar from appearing
  apps/frontend/app/(main)/layout.tsx
  apps/frontend/components/Cover.tsx
Labels: ⛳️ team-frontend

#2101 fix(be): add image url for production env
  apps/backend/apps/admin/src/problem/problem.service.ts
Labels: ⛳️ team-backend

#2100 refactor(fe): admin problem create page refactoring
  apps/frontend/app/admin/_components/ConfirmNavigation.tsx
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/problem/_components/InfoForm.tsx
  apps/frontend/app/admin/problem/_components/LimitForm.tsx
  apps/frontend/app/admin/problem/_components/VisibleForm.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemAlertDialog.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend

#2102 fix(be): add condition for compile-error when run test
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Labels: ⛳️ team-backend

#2084 fix(fe): block testcase and limit edit when submission exist
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/ExampleTextarea.tsx
  apps/frontend/app/admin/problem/_components/LimitForm.tsx
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/graphql/problem/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#2088 feat(be): implement search in contest overall apis
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/submission/model/get-contest-submission.input.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  collection/admin/Contest/Get Contest Score Summaries/Succeed.bru
  collection/admin/Submission/Get Contest Submissions/Succeed.bru
Labels: ⛳️ team-backend

#2113 fix(infra): remove aws elastic ip for nat gateway
  apps/infra/production/network/public_network.tf
Labels: ⛳️ team-infra

#2109 refactor(fe): add hide spin button util style
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/contest/[id]/_components/Columns.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/components/auth/ResetPasswordEmailVerify.tsx
  apps/frontend/components/auth/SignUpEmailVerify.tsx
  apps/frontend/package.json
  apps/frontend/tailwind.config.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#2116 fix(fe): delete scrollbar
  apps/frontend/app/(main)/settings/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client
