Repository skkuding/codedang, pull requests merged in 2024-02, with the labels that each got.

#1279 feat(fe): add hint section and darker background
  frontend-client/app/problem/[id]/_components/EditorHeader.tsx
  frontend-client/app/problem/[id]/_components/HeaderEditor.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/SelectScrollable.tsx
  frontend-client/app/problem/[id]/_components/Tab.tsx
  frontend-client/app/problem/[id]/layout.tsx
  frontend-client/app/problem/[id]/page.tsx
  frontend-client/types/type.ts
Labels: ⛳️ team-frontend, next-js

#1251 fix(fe): resolve 504 timeout error in vercel
  .github/workflows/ci.yml
  frontend-client/.eslintrc.js
  frontend-client/app/(main)/_components/ContestCards.tsx
  frontend-client/app/(main)/_components/ProblemCards.tsx
  frontend-client/app/(main)/_components/TimeDiff.tsx
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/_components/FinishedContestTable.tsx
  frontend-client/app/(main)/contest/page.tsx
  frontend-client/app/(main)/error.tsx
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
  frontend-client/app/(main)/notice/page.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/app/(main)/problem/_components/ProblemNumber.tsx
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
  frontend-client/app/(main)/problem/page.tsx
  frontend-client/app/problem/[id]/_components/DescriptionLoading.tsx
  frontend-client/components/ui/skeleton.tsx
  frontend-client/lib/utils.ts
  frontend-client/public/error.webp
  frontend-client/types/images.d.ts
Labels: 🪰 bug, ⛳️ team-frontend

#1274 fix(fe): change auth modal responsive
  frontend-client/app/(main)/_components/AuthModal.tsx
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUp.tsx
  frontend-client/app/(main)/_components/SignUpEmailVerify.tsx
  frontend-client/app/(main)/_components/SignUpRegister.tsx
  frontend-client/app/(main)/_components/SignUpWelcome.tsx
  frontend-client/stores/authModal.ts
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1277 feat(fe): add clarification table
  frontend-client/app/(main)/contest/[id]/@tabs/_components/ParticipateButton.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/styles.css
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/(main)/contest/[id]/layout.tsx
  frontend-client/components/DataTable.tsx
  frontend-client/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1286 fix(iris): resolve iris folder creation failure
  docker-compose.yml
Labels: 🪰 bug, ⛳️ team-iris

#1288 chore(be): add code-size field to submission model
  backend/apps/client/src/submission/submission.service.ts
  backend/prisma/migrations/20240201082532_add_codesize_to_submission/migration.sql
  backend/prisma/schema.prisma
Labels: ⛳️ team-backend

#1287 feat(be): seeding input output examples
  backend/prisma/seed.ts
Labels: ⛳️ team-backend

#1285 feat(fe): add submission table
  frontend-client/app/problem/[id]/submission/_components/Columns.tsx
  frontend-client/app/problem/[id]/submission/_components/DataTable.tsx
  frontend-client/app/problem/[id]/submission/page.tsx
  frontend-client/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1289 feat(fe): implement problem submission
  frontend-client/app/problem/[id]/_components/EditorHeader.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/SelectScrollable.tsx
  frontend-client/app/problem/[id]/_components/SubmitButton.tsx
  frontend-client/app/problem/[id]/_components/Tab.tsx
  frontend-client/app/problem/[id]/page.tsx
  frontend-client/app/problem/[id]/submission/[submissionId]/page.tsx
  frontend-client/app/problem/[id]/submission/_components/Columns.tsx
  frontend-client/app/problem/[id]/submission/_components/DataTable.tsx
  frontend-client/app/problem/[id]/submission/page.tsx
  frontend-client/components/Codeeditor.tsx
  frontend-client/components/DataTable.tsx
  frontend-client/components/ui/alert-dialog.tsx
  frontend-client/components/ui/scroll-area.tsx
  frontend-client/lib/hooks.ts
  frontend-client/package.json
  frontend-client/stores/editor.ts
  frontend-client/tailwind.config.ts
  frontend-client/types/type.ts
  pnpm-lock.yaml
Labels: 💡 feature-client, next-js

#1267 feat(be): implement GraphQL Exceptions
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/auth/auth.controller.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/user/user.controller.ts
  backend/libs/exception/src/apollo-error-formatter.ts
  backend/libs/exception/src/business.exception.ts
  backend/libs/exception/src/graphql-error-code.ts
  backend/libs/exception/src/index.ts
Labels: ⛳️ team-backend

#1295 fix(be): add missing type to admin server
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/user/user.resolver.ts
Labels: ⛳️ team-backend

#1188 feat(be): admin notice api module
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/group/group.module.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/admin/src/notice/model/notice.input.ts
  backend/apps/admin/src/notice/notice.module.ts
  backend/apps/admin/src/notice/notice.resolver.ts
  backend/apps/admin/src/notice/notice.service.spec.ts
  backend/apps/admin/src/notice/notice.service.ts
  backend/apps/admin/src/user/user.service.ts
  backend/prisma/schema.prisma
  collection/admin/Notice/Create Notice/NOT_FOUND.bru
  collection/admin/Notice/Create Notice/Success.bru
  collection/admin/Notice/Delete Notice/NOT_FOUND.bru
  collection/admin/Notice/Delete Notice/Success.bru
  collection/admin/Notice/Get Notices/Success.bru
  collection/admin/Notice/Get a Notice/NOT_FOUND.bru
  collection/admin/Notice/Get a Notice/Success.bru
  collection/admin/Notice/Update Notice/NOT_FOUND.bru
  collection/admin/Notice/Update Notice/Success.bru
Labels: ⛳️ team-backend

#1308 fix(fe): change protection condition for a admin page
  frontend-client/middleware.ts
Labels: ⛳️ team-frontend

#1314 chore(be): admin server build speed up
  backend/apps/admin/src/announcement/announcement.resolver.ts
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/notice/model/notice.input.ts
  backend/apps/admin/src/notice/notice.resolver.ts
  backend/apps/admin/src/notice/notice.service.spec.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/model/template.input.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/prisma/schema.prisma
Labels: ⛳️ team-backend

#1311 feat(infra): deploy new frontend with nextjs
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
  .github/workflows/documentation.yml
  Caddyfile
  backend/libs/auth/src/kakao/kakao.strategy.ts
  infra/deploy/.terraform.lock.hcl
  infra/deploy/main.tf
  infra/deploy/variable.tf
  infra/local/main.tf
  infra/local/variable.tf
  infra/modules/codedang-infra/cloudfront.tf
  infra/modules/codedang-infra/rabbitmq.tf
  infra/modules/codedang-infra/s3.tf
  infra/modules/codedang-infra/security-group.tf
  infra/modules/codedang-infra/variables.tf
Labels: ⛳️ team-infra

#1257 feat(be): introduce database for testing
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .env.development
  .github/workflows/ci.yml
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/package.json
  backend/prisma/seed.ts
  docker-compose.yml
  pnpm-lock.yaml
  scripts/setup.sh
Labels: ⛳️ team-backend

#1321 feat(fe): wrap up a client part
  frontend-client/app/(main)/_components/Header.tsx
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUp.tsx
  frontend-client/app/(main)/_components/UserDropdown.tsx
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/layout.tsx
  frontend-client/app/(main)/contest/page.tsx
  frontend-client/app/(main)/notice/layout.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
  frontend-client/app/(main)/problem/_components/ProblemNumber.tsx
  frontend-client/app/(main)/problem/layout.tsx
  frontend-client/app/(main)/problem/page.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/SubmitButton.tsx
  frontend-client/app/problem/[id]/submission/[submissionId]/page.tsx
  frontend-client/app/problem/[id]/submission/page.tsx
  frontend-client/lib/utils.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#1320 feat(fe): make tiptap component
  frontend-client/components/TextEditor.tsx
  frontend-client/components/ui/form.tsx
  frontend-client/components/ui/label.tsx
  frontend-client/components/ui/toggle.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-admin

#1326 fix(fe): change a header position
  frontend-client/app/(main)/_components/Header.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1315 feat(fe): add graphql fetcher
  frontend-client/app/admin/layout.tsx
  frontend-client/lib/utils.ts
  frontend-client/lib/vars.ts
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-admin

#1331 feat(fe): 1322 admin problem create info
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
  frontend-client/components/ui/checkbox.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-admin

#1334 fix(fe): change text wrap to whitespace
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/admin/_components/GroupSelect.tsx
  frontend-client/app/admin/layout.tsx
Labels: 🪰 bug, ⛳️ team-frontend, 💡 feature-client

#1336 fix(fe): change login toast message
  frontend-client/app/(main)/_components/SignIn.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1340 feat(fe): add cancel feature in problem table sort button
  frontend-client/components/SortButton.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1339 feat(fe): edit Data Table's title area
  frontend-client/app/(main)/contest/_components/Columns.tsx
  frontend-client/app/(main)/notice/_components/Columns.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1313 feat(be): check judge delay and its cause
  .env.development
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.module.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/package.json
  collection/client/Submission/Check Delay/Succeed.bru
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/ecs-api-client.tf
  pnpm-lock.yaml
Labels: ⛳️ team-backend

#1341 feat(be): add get tags api
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Get Tags/Succeed.bru
Labels: ⛳️ team-backend

#1343 fix(deps): fix invalid go version format in go.mod
  iris/go.mod
  renovate.json
Labels: 🪰 bug, dependencies

#1351 feat(cd): applying updated seed on stage-server by manual trigger
  .github/workflows/reset-seed.yml
Labels: ⛳️ team-infra, feat: cd

#1353 fix(cd): omit working-directory since it already set
  .github/workflows/reset-seed.yml
Labels: ⛳️ team-infra

#1297 feat(be): implement the unregister a upcoming contest feature
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/prisma/seed.ts
  collection/client/Contest/Unregister Contest/403: Cannot unregister ongoing or ended contest.bru
  collection/client/Contest/Unregister Contest/404: No Contest found.bru
  collection/client/Contest/Unregister Contest/404: No ContestRecord found.bru
  collection/client/Contest/Unregister Contest/Succeed.bru
Labels: ⛳️ team-backend

#1357 feat(fe): problem list datatable
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/components/DataTableAdmin.tsx
  frontend-client/components/DataTableColumnHeader.tsx
  frontend-client/components/DataTablePagination.tsx
  frontend-client/components/OptionSelect.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1323 feat(fe): add create problem page
  frontend-client/app/admin/problem/create/_components/ExampleTextarea.tsx
  frontend-client/app/admin/problem/create/_components/Lable.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
  frontend-client/components/TextEditor.tsx
  frontend-client/components/ui/form.tsx
  frontend-client/components/ui/textarea.tsx
  frontend-client/lib/vars.ts
  frontend-client/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#1363 fix(fe): edit login and logout
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUp.tsx
  frontend-client/app/(main)/_components/UserDropdown.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1360 fix(fe): edit admin sidebar
  frontend-client/app/admin/_components/SideBar.tsx
  frontend-client/app/admin/contest/page.tsx
  frontend-client/app/admin/layout.tsx
  frontend-client/app/admin/notice/page.tsx
  frontend-client/app/admin/page.tsx
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/app/admin/user/page.tsx
  frontend-client/components/DataTableAdmin.tsx
  frontend-client/components/DataTableColumnHeader.tsx
  frontend-client/components/DataTablePagination.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1328 feat(be): implement the availability of the user contest participation feat
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/libs/auth/src/guard.decorator.ts
  backend/libs/auth/src/jwt/jwt-auth.guard.ts
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get contest by ID/[404] Contest does not exist.bru
  collection/client/Contest/Get contest by ID/[404] Nonexistent Contest.bru
Labels: ⛳️ team-backend

#1369 fix(fe): fix broken main page api
  frontend-client/app/(main)/_components/ProblemCards.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
  frontend-client/app/admin/problem/page.tsx
Labels: 🪰 bug, ⛳️ team-frontend

#1283 feat(be): add registered finished contests in get contest/auth API
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/prisma/seed.ts
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get finished contests/[403] Not a Member of the Group.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/[401] Unauthorized.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/[403] Not a Member of the Group.bru
  collection/client/Contest/Get registered finished contests/Succeed.bru
  collection/client/Contest/Get registered ongoing & upcoming contests/Succeed.bru
Labels: ⛳️ team-backend

#1374 fix(fe): add fallback style of text editor
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/_components/ProblemCards.tsx
  frontend-client/app/admin/layout.tsx
  frontend-client/components/TextEditor.tsx
  frontend-client/types/type.ts
Labels: 🪰 bug, ⛳️ team-frontend

#1382 fix(fe): edit login and signup modal
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUpEmailVerify.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1384 feat(fe): change logo in editor page
  frontend-client/app/problem/[id]/layout.tsx
  frontend-client/public/codedang-editor.svg
Labels: ⛳️ team-frontend

#1370 feat(be): implement get-contest api
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/contest/model/contest-with-participants.model.ts
  collection/admin/Contest/Get Contest/NOT_FOUND.bru
  collection/admin/Contest/Get Contest/Succeed.bru
  collection/admin/Contest/Get Contests/Succeed.bru
Labels: ⛳️ team-backend

#1366 chore(be): add is-visible field to problem model
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/prisma/migrations/20240213051227_add_is_visible_to_problem_model/migration.sql
  backend/prisma/schema.prisma
  collection/admin/Problem/Create Problem/Succeed.bru
  collection/admin/Problem/Create Problem/UNPROCESSABLE (1).bru
  collection/admin/Problem/Create Problem/UNPROCESSABLE (2).bru
  collection/admin/Problem/Update a Problem/Succeed.bru
Labels: ⛳️ team-backend

#1349 fix: fix minor bugs in contest page and api
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/client/src/announcement/announcement.controller.spec.ts
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/announcement/announcement.service.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/prisma/migrations/20240207142636_connect_announcement_to_contest/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  collection/admin/Problem/Update ContestProblems Order/Succeed.bru
  collection/client/Announcement/Get Announcements/Succeed.bru
  collection/client/Announcement/Get Announcements/[400] Related ID Not Given.bru
  frontend-client/app/(main)/contest/[id]/@tabs/announcement/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/announcement/_components/styles.css
  frontend-client/app/(main)/contest/[id]/@tabs/announcement/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/_components/ContestTabs.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
  frontend-client/lib/utils.ts
  frontend-client/types/type.ts
Labels: ⛳️ team-backend, ⛳️ team-frontend

#1390 fix(cd): double quotes in tfvars are missing
  .github/workflows/cd-prod.yml
Labels: 🪰 bug, ⛳️ team-infra

#1386 feat(fe): edit contest page card list
  frontend-client/app/(main)/_components/Badge.tsx
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/ContestCards.tsx
  frontend-client/app/(main)/contest/_components/Columns.tsx
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/_components/FinishedContestTable.tsx
  frontend-client/app/(main)/contest/page.tsx
  frontend-client/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1391 fix(iris): fix go build error
  iris/go.mod
  iris/go.sum
Labels: dependencies, ⛳️ team-iris

#1388 chore(be): modify problem model to get english informations
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/client/src/problem/dto/problem.response.dto.ts
  backend/apps/client/src/problem/dto/problems.response.dto.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/prisma/__fixtures__/problem/1-description-eng.html
  backend/prisma/__fixtures__/problem/1-input-eng.html
  backend/prisma/__fixtures__/problem/1-output-eng.html
  backend/prisma/migrations/20240215062711_add_english_information_to_problem_model/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Labels: ⛳️ team-backend

#1393 fix(cd): resolve cd pipeline errors
  .github/workflows/cd-prod.yml
  infra/modules/codedang-infra/db.tf
Labels: 🪰 bug, ⛳️ team-infra

#1397 fix(be): add problemTag and problemTestcase to Admin Problem GET API
  backend/apps/admin/src/problem/problem-tag.resolver.ts
  backend/apps/admin/src/problem/problem.module.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/prisma/seed.ts
  collection/admin/Problem/Get Problems/Succeed.bru
Labels: ⛳️ team-backend

#1310 fix(be): replace problem order pipe from zodvalidator
  backend/apps/client/src/problem/enum/problem-order.enum.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/problem/schema/problem-order.schema.ts
  backend/libs/pipe/src/index.ts
  backend/libs/pipe/src/problem-order.pipe.ts
  backend/libs/pipe/src/zod-validation.pipe.ts
Labels: ⛳️ team-backend

#1399 fix(infra): exclude host header for traffic to amplify
  infra/modules/codedang-infra/cloudfront.tf
  infra/modules/codedang-infra/ecs-api-asg.tf
  infra/modules/codedang-infra/ecs-iris-asg.tf
Labels: 🪰 bug, ⛳️ team-infra

#1394 feat: remove docs folder
  .github/workflows/documentation.yml
  .gitignore
  README.md
  docs/.vitepress/config.mts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/vars.css
  docs/group-admin/contest.md
  docs/group-admin/group.md
  docs/group-admin/login.md
  docs/group-admin/notice.md
  docs/group-admin/pic/group-approval.png
  docs/group-admin/pic/group-config-detail.png
  docs/group-admin/pic/group-create-detail.png
  docs/group-admin/pic/group-detail.png
  docs/group-admin/pic/group-member.png
  docs/group-admin/pic/management.png
  docs/group-admin/pic/myGroup.png
  docs/group-admin/pic/problem-create-detail.png
  docs/group-admin/pic/problem-create.png
  docs/group-admin/problem.md
  docs/group-admin/workbook.md
  docs/index.md
  docs/intro/backend-preview.png
  docs/intro/bruno-env.png
  docs/intro/bruno-select.png
  docs/intro/bruno-start.png
  docs/intro/bruno.md
  docs/intro/frontend-preview.png
  docs/intro/getting-started.md
  docs/intro/git-clone.png
  docs/intro/graphql-docs.png
  docs/intro/index.md
  docs/intro/new-wsl-window.png
  docs/intro/remote-containers.png
  docs/intro/remote-wsl.png
  docs/intro/reopen-in-container.png
  docs/intro/vscode-download.png
  docs/project/deploy-pipeline.png
  docs/project/deploy.md
  docs/project/github-actions-runner.png
  docs/project/github-projects.png
  docs/project/hierarchy.md
  docs/project/roadmap.md
  docs/project/stage-server.md
  docs/project/tech-stack.md
  docs/public/logo.png
  docs/public/logo.svg
  docs/user/contest.md
  docs/user/group.md
  docs/user/main.md
  docs/user/notice.md
  docs/user/problem.md
  knip.ts
  package.json
  pnpm-lock.yaml
  skkuding.code-workspace
Labels: 📘 documentation

#1213 feat(infra): add ECS tasks for log routing to Loki
  infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/ecs-api-admin.tf
  infra/modules/codedang-infra/ecs-api-client.tf
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
  infra/modules/codedang-infra/variables.tf
Labels: ⛳️ team-infra

#1379 feat(fe): add apollo vscode ext settings
  .devcontainer/devcontainer.json
  .github/actions/setup-pnpm/action.yml
  .gitpod.yml
  .prettierignore
  .vscode/extensions.json
  apollo.config.js
  frontend-client/.eslintrc.js
  frontend-client/.gitignore
  frontend-client/Dockerfile
  frontend-client/Dockerfile.dockerignore
  frontend-client/app/admin/_components/ApolloProvider.tsx
  frontend-client/app/admin/layout.tsx
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/app/admin/problem/utils.ts
  frontend-client/codegen.ts
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/DataTableAdmin.tsx
  frontend-client/components/DataTableTagsFilter.tsx
  frontend-client/lib/utils.ts
  frontend-client/package.json
  frontend-client/tsconfig.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#1405 fix(be): include sample data in admin problem query
  backend/apps/admin/src/problem/problem.service.ts
Labels: 🪰 bug, ⛳️ team-backend

#1408 feat(fe): delete hide
  frontend-client/components/DataTableColumnHeader.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1404 feat(fe): connect problem graphql
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/components/TextEditor.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1418 fix(be): replace input/output-examples with samples
  backend/apps/client/src/problem/problem.repository.ts
Labels: 🪰 bug, ⛳️ team-backend

#1419 fix(fe): edit sonner duration, message
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/layout.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1420 feat(fe): edit update column and visible column
  frontend-client/app/admin/layout.tsx
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1423 feat(fe): implement contest code editor page
  frontend-client/app/(main)/contest/[contestId]/@tabs/_components/ParticipateButton.tsx
  frontend-client/app/(main)/contest/[contestId]/@tabs/announcement/_components/Columns.tsx
  frontend-client/app/(main)/contest/[contestId]/@tabs/announcement/_components/styles.css
  frontend-client/app/(main)/contest/[contestId]/@tabs/announcement/page.tsx
  frontend-client/app/(main)/contest/[contestId]/@tabs/page.tsx
  frontend-client/app/(main)/contest/[contestId]/@tabs/problem/_components/Columns.tsx
  frontend-client/app/(main)/contest/[contestId]/@tabs/problem/page.tsx
  frontend-client/app/(main)/contest/[contestId]/@tabs/standings/page.tsx
  frontend-client/app/(main)/contest/[contestId]/layout.tsx
  frontend-client/app/(main)/contest/[contestId]/page.tsx
  frontend-client/app/(main)/contest/_components/FinishedContestTable.tsx
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
  frontend-client/app/contest/[contestId]/problem/[problemId]/layout.tsx
  frontend-client/app/contest/[contestId]/problem/[problemId]/page.tsx
  frontend-client/app/problem/[id]/_components/EditorHeader.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/SelectScrollable.tsx
  frontend-client/app/problem/[id]/_components/SubmitButton.tsx
  frontend-client/app/problem/[id]/_components/Tab.tsx
  frontend-client/app/problem/[problemId]/_components/DescriptionLoading.tsx
  frontend-client/app/problem/[problemId]/layout.tsx
  frontend-client/app/problem/[problemId]/loading.tsx
  frontend-client/app/problem/[problemId]/page.tsx
  frontend-client/app/problem/[problemId]/submission/[submissionId]/page.tsx
  frontend-client/app/problem/[problemId]/submission/_components/Columns.tsx
  frontend-client/app/problem/[problemId]/submission/_components/DataTable.tsx
  frontend-client/app/problem/[problemId]/submission/page.tsx
  frontend-client/components/DataTable.tsx
  frontend-client/components/EditorDescription.tsx
  frontend-client/components/EditorHeader.tsx
  frontend-client/components/EditorLayout.tsx
  frontend-client/components/EditorResizablePanel.tsx
  frontend-client/types/type.ts
Labels: 💡 feature-client

#1425 fix(be): python exec args
  iris/src/service/sandbox/langConfig.go
Labels: ⛳️ team-iris

#1426 feat(fe): edit submission page
  frontend-client/app/problem/[problemId]/submission/[submissionId]/page.tsx
  frontend-client/app/problem/[problemId]/submission/page.tsx
  frontend-client/components/Codeeditor.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1415 fix: fix minor bugs in notice page
  backend/apps/client/src/notice/notice.service.ts
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
Labels: ⛳️ team-backend, ⛳️ team-frontend

#1431 fix(be): modify get-problem, get-problems to return testcases from s3
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/prisma/seed.ts
  collection/admin/Problem/Get Problems/Succeed.bru
  collection/admin/Problem/Get a Problem/Succeed.bru
Labels: ⛳️ team-backend

#1436 fix(fe): change gql query and response type
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/page.tsx
Labels: 🪰 bug, ⛳️ team-frontend

#1437 fix(infra): turn keep-alive off for caddy backend
  Caddyfile
  frontend-client/app/admin/problem/[id]/page.tsx
Labels: 🪰 bug, ⛳️ team-infra

#1439 fix(be): modify getProblem sample field
  backend/apps/client/src/problem/dto/problem.response.dto.ts
  backend/apps/client/src/problem/problem.repository.ts
Labels: ⛳️ team-backend

#1443 fix(infra): graphql api cors not working
  Caddyfile
  backend/apps/admin/src/main.ts
  backend/apps/client/src/main.ts
Labels: 🪰 bug, ⛳️ team-backend, ⛳️ team-infra

#1445 feat(fe): hide submission page for uncorrected state
  frontend-client/app/problem/[problemId]/submission/[submissionId]/page.tsx
  frontend-client/app/problem/[problemId]/submission/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1444 feat(fe): problem editor add sample input and output
  frontend-client/components/EditorDescription.tsx
  frontend-client/package.json
  frontend-client/types/type.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client

#1446 fix(infra): use longer timeout value
  .github/workflows/cd-dev.yml
  Caddyfile
  backend/apps/admin/src/admin.module.ts
  backend/apps/client/src/app.module.ts
Labels: 🪰 bug, ⛳️ team-infra

#1447 fix(be): do not use type import for constructors
  backend/apps/admin/src/admin.module.ts
  backend/apps/client/src/app.module.ts
  frontend-client/components/DataTableLangFilter.tsx
Labels: 🪰 bug, ⛳️ team-infra

#1427 fix(fe): make compatible with code editor language types
  frontend-client/components/Codeeditor.tsx
  frontend-client/components/EditorHeader.tsx
  frontend-client/components/EditorResizablePanel.tsx
  frontend-client/stores/editor.ts
  frontend-client/types/type.ts
Labels: 🪰 bug, ⛳️ team-frontend, 💡 feature-client

#1449 fix(fe): fix solved percentage
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/_components/Columns.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1457 test(fe): show error message
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Labels: 🪰 bug, ⛳️ team-frontend

#1461 fix(fe): fix typo in api endpoint
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Labels: 🪰 bug, ⛳️ team-frontend

#1442 fix(fe): fix update problem bug
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/app/admin/problem/utils.ts
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/DataTableAdmin.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
  frontend-client/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#1440 feat(fe): add pagination to submission list
  frontend-client/app/problem/[problemId]/submission/page.tsx
  frontend-client/components/EditorResizablePanel.tsx
  frontend-client/components/Paginator.tsx
  frontend-client/components/ui/pagination.tsx
  frontend-client/lib/usePagination.ts
  frontend-client/tailwind.config.ts
Labels: ⛳️ team-frontend

#1462 feat(fe): add submission skeleton
  frontend-client/app/problem/[problemId]/_components/DescriptionLoading.tsx
  frontend-client/app/problem/[problemId]/loading.tsx
  frontend-client/app/problem/[problemId]/submission/[submissionId]/page.tsx
  frontend-client/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  frontend-client/app/problem/[problemId]/submission/loading.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1464 feat(fe): configure sentry monitor
  frontend-client/.gitignore
  frontend-client/app/(main)/error.tsx
  frontend-client/app/global-error.tsx
  frontend-client/app/sentry-example-page/page.tsx
  frontend-client/components/EditorLayout.tsx
  frontend-client/next.config.js
  frontend-client/package.json
  frontend-client/sentry.client.config.ts
  frontend-client/sentry.edge.config.ts
  frontend-client/sentry.server.config.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, ⛳️ team-infra

#1465 fix(fe): fix sentry url to resolve build error
  .github/workflows/cd-prod.yml
  frontend-client/next.config.js
Labels: 🪰 bug, ⛳️ team-frontend, ⛳️ team-infra

#1433 feat(be): implement business and unknown exception filter
  backend/apps/admin/src/admin.module.ts
  backend/apps/client/src/app.module.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
  backend/apps/client/src/workbook/workbook.controller.ts
  backend/apps/client/src/workbook/workbook.service.spec.ts
  backend/apps/client/src/workbook/workbook.service.ts
  backend/libs/exception/src/business.exception.ts
  backend/libs/exception/src/filter.ts
  backend/libs/exception/src/index.ts
Labels: ⛳️ team-backend, p2-nice-to-have 🚦

#1387 feat(be): implement the management of the user's sessions when using multiple clients
  backend/apps/client/src/auth/auth.controller.ts
  backend/apps/client/src/auth/auth.service.spec.ts
  backend/apps/client/src/auth/auth.service.ts
  backend/libs/cache/src/keys.ts
Labels: ⛳️ team-backend

#1476 fix(fe): use monospaced font for code elements
  frontend-client/app/admin/problem/_components/ExampleTextarea.tsx
  frontend-client/app/layout.tsx
  frontend-client/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  frontend-client/components/CodeEditor.tsx
  frontend-client/components/EditorDescription.tsx
  frontend-client/components/EditorResizablePanel.tsx
  frontend-client/components/ui/tooltip.tsx
  frontend-client/package.json
  frontend-client/tailwind.config.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#1468 feat(fe): add problem uploading ui with excel
  Caddyfile
  frontend-client/app/admin/_components/ApolloProvider.tsx
  frontend-client/app/admin/problem/_components/UploadDialog.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/package.json
  frontend-client/public/sample.xlsx
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#1479 fix(fe): fix create problem page
  frontend-client/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1483 fix(fe): replace code reset icon
  frontend-client/components/EditorHeader.tsx
Labels: ⛳️ team-frontend

#1432 chore(be): sort problem submission
  backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#1484 feat(infra): use wildcard matcher for cors
  Caddyfile
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-infra

#1473 feat(be): invalidate in memory cache when a problem test case is updated
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
Labels: ⛳️ team-backend, p2-nice-to-have 🚦

#1494 docs(be): fix send-pin-for-pw-reset-api docs
  collection/client/User/(TODO) Send Pin for Password Reset/401- Unauthorized.bru
  collection/client/User/(TODO) Send Pin for Password Reset/Succeed.bru
Labels: ⛳️ team-backend

#1501 fix(fe): remove delay at switching visible option
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/components/DataTableAdmin.tsx
Labels: ⛳️ team-frontend

#1488 feat(fe): add confetti effect on accepted
  frontend-client/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  frontend-client/components/EditorDescription.tsx
  frontend-client/components/EditorHeader.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#1502 fix(fe): fix line break problem and revalidation
  frontend-client/app/layout.tsx
  frontend-client/components/EditorDescription.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1500 feat(fe): change textarea and texteditor resizable
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/_components/ExampleTextarea.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/TextEditor.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1506 fix: downgrade @nestjs-modules/mailer
  backend/package.json
  pnpm-lock.yaml
  renovate.json
Labels: 🪰 bug, ⛳️ team-backend, dependencies

#1508 fix: allow email auth headers for cors
  Caddyfile
Labels: 🪰 bug, ⛳️ team-infra

#1512 fix(fe): prevent to go first page in admin data table
  frontend-client/app/admin/layout.tsx
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/components/DataTableAdmin.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1511 feat(fe): change input output whitespace visible
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/EditorDescription.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 💡 feature-client

#1520 fix(infra): expose email auth header with cors request
  Caddyfile
Labels: 🪰 bug, ⛳️ team-infra

#1523 feat(fe): apply pretendard font
  frontend-client/app/PretendardVariable.woff2
  frontend-client/app/layout.tsx
  frontend-client/next.config.js
  frontend-client/tailwind.config.ts
Labels: ⛳️ team-frontend

#1525 fix(fe): use only supported language packages
  frontend-client/components/CodeEditor.tsx
  frontend-client/next.config.js
  frontend-client/package.json
  pnpm-lock.yaml
Labels: 💡 feature-client
