Repository skkuding/codedang, pull requests merged in 2024-10, with the labels that each got.

#2103 feat(be): handle prisma exception in global exception filter
  apps/backend/libs/exception/src/filter.ts
Labels: ⛳️ team-backend

#2132 feat(infra): add lifecycle policy to ecr repositories
  apps/infra/production/codedang/codedang_service_admin.tf
  apps/infra/production/codedang/codedang_service_client.tf
  apps/infra/production/codedang/codedang_service_iris.tf
Labels: ⛳️ team-infra

#2131 chore(fe): change blind text color from red to neutral
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/Columns.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionDetail.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#2128 refactor(fe): refactor settings page
  apps/frontend/app/(main)/settings/_components/ConfirmNavigation.tsx
  apps/frontend/app/(main)/settings/_components/CurrentPwSection.tsx
  apps/frontend/app/(main)/settings/_components/IdSection.tsx
  apps/frontend/app/(main)/settings/_components/LogoSection.tsx
  apps/frontend/app/(main)/settings/_components/MajorSection.tsx
  apps/frontend/app/(main)/settings/_components/NameSection.tsx
  apps/frontend/app/(main)/settings/_components/NewPwSection.tsx
  apps/frontend/app/(main)/settings/_components/ReEnterNewPwSection.tsx
  apps/frontend/app/(main)/settings/_components/SaveButton.tsx
  apps/frontend/app/(main)/settings/_components/StudentIdSection.tsx
  apps/frontend/app/(main)/settings/_components/TopicSection.tsx
  apps/frontend/app/(main)/settings/page.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#2123 feat(infra): created gateway vpc endpoint for communication between ECS and S3
  apps/infra/production/storage/s3_gateway_vpc_endpoint.tf
Labels: ⛳️ team-infra

#2099 refactor(be): apply global exception filter to admin contest and admin group modules
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/group/group.resolver.ts
  apps/backend/apps/admin/src/group/group.service.ts
Labels: ⛳️ team-backend

#2137 feat(iris): pass run output when test submission
  apps/backend/apps/client/src/submission/class/judger-response.dto.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/iris/src/handler/judge-handler.go
Labels: ⛳️ team-backend

#2129 fix(fe): fix updateinfo modal
  apps/frontend/components/auth/UpdateInformation.tsx
  apps/frontend/playwright/test-results/.last-run.json
Labels: ⛳️ team-frontend

#2104 feat(fe): create submission detail modal
  apps/frontend/app/admin/contest/[id]/_components/SubmissionDetailAdmin.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/graphql/submission/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#2133 refactor(be): refactor client group and admin notice module
  apps/backend/apps/admin/src/notice/notice.resolver.ts
  apps/backend/apps/admin/src/notice/notice.service.spec.ts
  apps/backend/apps/admin/src/notice/notice.service.ts
  apps/backend/apps/client/src/group/group.controller.ts
  apps/backend/apps/client/src/group/group.service.ts
Labels: p1-chore 🧹

#2095 feat(fe): add code manually save button
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorResizablePanel.tsx
  apps/frontend/components/auth/SignIn.tsx
  apps/frontend/stores/editor.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#2093 feat(fe): implement test in code editor
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorLayout.tsx
  apps/frontend/components/EditorResizablePanel.tsx
  apps/frontend/components/EditorResizablePanelWithContext.tsx
  apps/frontend/components/TestcasePanel.tsx
  apps/frontend/components/TestcaseTable.tsx
  apps/frontend/stores/editor.ts
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#2139 fix(fe): show warning when editing contest if submission exists
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/graphql/submission/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, next-js

#2145 fix(fe): fix scrollbar
  apps/frontend/app/(main)/settings/_components/MajorSection.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2146 chore(fe): fix admin contest time format
  apps/frontend/app/admin/contest/_components/Columns.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2144 fix(fe): resolve code disappearing problem after test/submit
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorResizablePanel.tsx
  apps/frontend/stores/editor.ts
Labels: 🪰 bug, ⛳️ team-frontend, 💡 feature-client

#2136 feat(fe): poc - new data table for admin
  apps/frontend/app/admin/_components/table/DataTable.tsx
  apps/frontend/app/admin/_components/table/DataTableColumnHeader.tsx
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
  apps/frontend/app/admin/_components/table/DataTableFallback.tsx
  apps/frontend/app/admin/_components/table/DataTableLangFilter.tsx
  apps/frontend/app/admin/_components/table/DataTableLevelFilter.tsx
  apps/frontend/app/admin/_components/table/DataTableMultiSelectFilter.tsx
  apps/frontend/app/admin/_components/table/DataTablePagination.tsx
  apps/frontend/app/admin/_components/table/DataTableProblemFilter.tsx
  apps/frontend/app/admin/_components/table/DataTableRoot.tsx
  apps/frontend/app/admin/_components/table/DataTableSearchBar.tsx
  apps/frontend/app/admin/_components/table/constants.ts
  apps/frontend/app/admin/_components/table/context.ts
Labels: ⛳️ team-frontend

#2151 fix(fe): change language's storekey to include problemId and contestId
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorResizablePanel.tsx
  apps/frontend/stores/editor.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#2150 fix(fe): restore the score of the problems when the new problems are imported
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTableColumns.tsx
Labels: ⛳️ team-frontend

#2152 fix(fe): not show add/delete buttons when testcase cannot be edited
  apps/frontend/app/admin/problem/_components/ExampleTextarea.tsx
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Labels: ⛳️ team-frontend

#2148 fix(fe): fix test bugs
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorLayout.tsx
  apps/frontend/components/EditorResizablePanel.tsx
  apps/frontend/components/EditorResizablePanelWithContext.tsx
  apps/frontend/components/TestcasePanel.tsx
  apps/frontend/components/TestcaseTable.tsx
  apps/frontend/components/WhitespaceVisualizer.tsx
  apps/frontend/stores/editor.ts
Labels: ⛳️ team-frontend, next-js

#2158 fix(fe): block editing problem when contest has submission
  apps/frontend/app/admin/contest/[id]/_components/Columns.tsx
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/components/OptionSelect.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, next-js

#2157 fix(fe): prevent submission detail modal overflow
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/_components/Columns.tsx
  apps/frontend/app/admin/contest/[id]/_components/SubmissionDetailAdmin.tsx
  apps/frontend/app/admin/contest/[id]/participant/[userId]/_components/SubmissionColumns.tsx
  apps/frontend/components/DataTableAdmin.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2156 fix(fe): fix CreateProblem modal
  apps/frontend/app/admin/problem/create/_components/CreateProblemAlertDialog.tsx
Labels: ⛳️ team-frontend

#2143 chore(fe): create signup hover
  apps/frontend/components/auth/SignUpRegister.tsx
Labels: ⛳️ team-frontend

#2153 chore(fe): fix updatenow text
  apps/frontend/components/auth/UpdateInformation.tsx
Labels: ⛳️ team-frontend

#2155 fix(fe): fix contestdenied message
  apps/frontend/app/(main)/contest/[contestId]/@tabs/problem/page.tsx
Labels: ⛳️ team-frontend

#2160 fix(fe): hotfix build error
  apps/frontend/app/admin/contest/create/page.tsx
Labels: ⛳️ team-frontend

#2159 fix(fe): restore the imported problem order
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
Labels: ⛳️ team-frontend

#2161 fix(fe): differentiate toast messages for save and submit actions
  apps/frontend/components/EditorHeader.tsx
Labels: 💡 feature-client

#2138 feat(infra): created gateway vpc endpoint for communication between ECS and S3
  apps/infra/production/storage/s3_gateway_vpc_endpoint.tf
  apps/infra/production/storage/variables.tf
Labels: ⛳️ team-infra

#2167 fix(be): no not-found exception in get-score-summaries api
  apps/backend/apps/admin/src/contest/contest.service.ts
Labels: ⛳️ team-backend

#2169 fix(infra): set portgres version to 14 to avoid downgrade errors and ensure latest minor updates
  apps/infra/production/storage/database.tf
Labels: ⛳️ team-infra

#2173 fix(fe): fix submission take number
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/page.tsx
  apps/frontend/app/admin/contest/[id]/participant/[userId]/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin
