Repository skkuding/codedang, pull requests merged in 2024-03, with the labels that each got.

#1517 feat(fe): add katex to text editor
  frontend-client/components/TextEditor.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-admin

#1530 fix(fe): fix wrong output description
  frontend-client/components/EditorDescription.tsx
Labels: 🪰 bug, ⛳️ team-frontend

#1535 fix(be): include contest-id or workbook-id to submission if provided
  backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#1537 feat(fe): change to contest submit
  frontend-client/components/EditorHeader.tsx
  frontend-client/components/EditorResizablePanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1536 feat(infra): create media bucket
  infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  infra/modules/codedang-infra/ecs-api-admin.tf
  infra/modules/codedang-infra/s3-media.tf
  infra/modules/codedang-infra/s3-testcase.tf
Labels: ⛳️ team-infra

#1403 feat(fe): add admin contest list
  frontend-client/app/admin/contest/_components/Columns.tsx
  frontend-client/app/admin/contest/page.tsx
  iris/src/service/sandbox/langConfig.go
Labels: ⛳️ team-frontend, 💡 feature-admin

#1543 fix(infra): update context path for cd-dev pipeline
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
  apps/backend/Dockerfile
Labels: 🪰 bug, ⛳️ team-infra

#1544 fix(infra): update terraform dir in cd-prod
  .github/workflows/cd-prod.yml
Labels: 🪰 bug, ⛳️ team-infra

#1526 feat(fe): implement recover account modal
  apps/frontend/components/auth/AuthModal.tsx
  apps/frontend/components/auth/FindUserId.tsx
  apps/frontend/components/auth/RecoverAccount.tsx
  apps/frontend/components/auth/ResetPassword.tsx
  apps/frontend/components/auth/ResetPasswordEmailVerify.tsx
  apps/frontend/components/auth/SignIn.tsx
  apps/frontend/stores/authModal.ts
  apps/frontend/stores/recoverAccountModal.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#1545 feat(fe): add contest register deregister button
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/ParticipateButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1552 fix(fe): change login modal and main page contests
  apps/frontend/app/(main)/_components/ProblemCards.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/components/auth/SignIn.tsx
  apps/frontend/components/auth/SignUpWelcome.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1554 fix: delete terraform tf file
  apps/infra/modules/codedang-infra/testcase.tf
Labels: 🪰 bug, ⛳️ team-infra

#1555 fix(infra): add missing curly bracket in tftpl
  apps/infra/modules/codedang-infra/backend/admin-task-definition.tftpl
Labels: 🪰 bug, ⛳️ team-infra

#1540 feat(infra): add opentelemetry trace instrumentation
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/admin/src/tracer.ts
  apps/backend/apps/client/src/app.module.ts
  apps/backend/apps/client/src/main.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/tracer.ts
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  apps/infra/modules/codedang-infra/backend/client-task-definition.tftpl
  apps/infra/modules/codedang-infra/ecs-api-admin.tf
  apps/infra/modules/codedang-infra/ecs-api-client.tf
  apps/infra/modules/codedang-infra/ecs-iris.tf
  apps/infra/modules/codedang-infra/iris/task-definition.tftpl
  apps/infra/modules/codedang-infra/variables.tf
  apps/iris/go.mod
  apps/iris/go.sum
  apps/iris/main.go
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/observability/tracer.go
  pnpm-lock.yaml
Labels: ⛳️ team-infra

#1553 fix(fe): add hamburger button
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1557 chore(be): add resolve-field for contest-problem, workbook-problem
  apps/backend/apps/admin/src/problem/problem.module.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Get Contest Problems/Succeed.bru
  collection/admin/Problem/Get WorkbookProblems/Succeed.bru
Labels: ⛳️ team-backend

#1532 feat(fe): implement infinite scroll
  apps/frontend/app/(main)/problem/_components/ProblemInfiniteTable.tsx
  apps/frontend/app/(main)/problem/_components/ProblemTable.tsx
  apps/frontend/app/(main)/problem/page.tsx
  apps/frontend/lib/useInfiniteScroll.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#1563 fix: fix pnpm-lock file
  pnpm-lock.yaml
Labels: 🪰 bug

#1568 fix(infra): fix prisma instrumentation dependency issue
  apps/backend/package.json
  pnpm-lock.yaml
Labels: 🪰 bug, ⛳️ team-infra

#1562 feat(be): implement transaction rollback in unit test
  apps/backend/apps/client/src/group/group.service.spec.ts
  apps/backend/libs/prisma/src/index.ts
  apps/backend/libs/prisma/src/transaction.extension.ts
Labels: ⛳️ team-backend

#1565 feat(fe): fix hamburger button when not logged in
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1572 feat(fe): data table admin make filter search pagination delete functions optional
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/components/DataTableAdmin.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1574 fix(infra): change otel_endpoint env name
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/admin/src/metric.ts
  apps/backend/apps/admin/src/tracer.ts
  apps/backend/apps/client/src/main.ts
  apps/backend/apps/client/src/metric.ts
  apps/backend/apps/client/src/tracer.ts
  apps/infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  apps/infra/modules/codedang-infra/backend/client-task-definition.tftpl
  apps/infra/modules/codedang-infra/iris/task-definition.tftpl
  apps/iris/main.go
  apps/iris/src/observability/metric.go
  apps/iris/src/observability/tracer.go
Labels: 🪰 bug

#1583 chore(be): fix getProblems
  apps/backend/apps/client/src/problem/problem.repository.ts
  apps/backend/apps/client/src/problem/problem.service.ts
Labels: 🪰 bug

#1584 fix(be): add problem expose time change condition
  apps/backend/apps/admin/src/contest/contest.service.ts
Labels: 🪰 bug, ⛳️ team-backend

#1576 fix(fe): fix refetch on window focus option
  apps/frontend/app/(main)/problem/page.tsx
Labels: ⛳️ team-frontend

#1587 fix(be): resolves bug problems disappear when import problems to contest
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
Labels: 🪰 bug, ⛳️ team-backend

#1579 feat(fe): implement a admin user page
  apps/frontend/app/admin/user/_components/Columns.tsx
  apps/frontend/app/admin/user/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1585 feat(fe): create contest create page
  apps/frontend/app/admin/contest/[id]/_components/Columns.tsx
  apps/frontend/app/admin/contest/[id]/page.tsx
  apps/frontend/app/admin/contest/_components/Label.tsx
  apps/frontend/app/admin/contest/create/_components/Columns.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/OptionSelect.tsx
  apps/frontend/components/date-time-picker-demo.tsx
  apps/frontend/components/time-picker-demo.tsx
  apps/frontend/components/time-picker-input.tsx
  apps/frontend/components/time-picker-utils.tsx
  apps/frontend/components/ui/calendar.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-admin

#1586 feat(fe): edit contest buttons and tabs
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/page.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/[submissionId]/page.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/Columns.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/DataTable.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/dataIfError.ts
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/loading.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/page.tsx
  apps/frontend/lib/pagination.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#1588 fix(be): modify total problem calculating logic
  apps/backend/apps/client/src/problem/problem.repository.ts
Labels: 🪰 bug, ⛳️ team-backend

#1580 feat(be): create removeProblemsFromContest API
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  collection/admin/Contest/Remove Problems From Contest/Succeed.bru
  collection/admin/Contest/Remove Problems From Contest/[ERR] Nonexistent Contest.bru
Labels: ⛳️ team-backend

#1591 feat(fe): connect remove problem from contest api
  apps/frontend/app/admin/contest/[id]/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/components/DataTableAdmin.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1594 fix(fe): change a href in a contest's problems dropdown menu
  apps/frontend/app/contest/[contestId]/problem/[problemOrder]/layout.tsx
  apps/frontend/components/EditorLayout.tsx
Labels: 🪰 bug, ⛳️ team-frontend

#1589 fix(be): integrate get-submission and get-contest-submission
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  collection/client/Submission/Get Submission by ID/Succeed.bru
  collection/client/Submission/Get Submissions/Succeed.bru
Labels: 🪰 bug, ⛳️ team-backend

#1599 fix(be): remove expose-time condition for problem in contest
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#1602 fix(be): add user-id condition for get-contest-submissions
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#1609 fix(fe): allow ascending and descending order for admin contest list
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/components/DataTableColumnHeader.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1605 fix(fe): remove isRegistered state and add refreshing
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1603 feat(fe): edit contest submission
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/components/EditorHeader.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1612 feat(fe): handle visibility of contest and problem
  apps/frontend/app/admin/contest/[id]/page.tsx
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1513 feat(be): implement a feature of creating tags when creating a problem
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/problem-tag.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Create a Tag/CONFLICT.bru
  collection/admin/Problem/Create a Tag/Succeed.bru
  collection/admin/Problem/Delete a Tag/NOT_FOUND.bru
  collection/admin/Problem/Delete a Tag/Succeed.bru
Labels: ⛳️ team-backend

#1528 feat(be): change contest config nullability
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/prisma/migrations/20240325124437_unpack_config_column/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Create Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Create Contest/[ERR] Nonexistent Group.bru
  collection/admin/Contest/Update Contest/Succeed.bru
  collection/admin/Contest/Update Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Update Contest/[ERR] Nonexistent Contest.bru
Labels: ⛳️ team-backend

#1614 fix(fe): unpack contest config
  apps/frontend/app/admin/contest/[id]/page.tsx
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: 🪰 bug, ⛳️ team-frontend

#1615 feat(be): add mapping to RankVisible
  apps/backend/prisma/migrations/20240326030257_add_mapping_to_is_rank_visible/migration.sql
  apps/backend/prisma/schema.prisma
Labels: p1-chore 🧹, ⛳️ team-backend

#1619 fix(infra): change incorrect argument in private route table
  apps/infra/modules/codedang-infra/network.tf
Labels: ⛳️ team-infra

#1618 fix(infra): change task definition attribute from arn to family
  apps/infra/modules/codedang-infra/ecs-api-admin.tf
  apps/infra/modules/codedang-infra/ecs-api-client.tf
  apps/infra/modules/codedang-infra/ecs-iris.tf
Labels: ⛳️ team-infra

#1622 fix(fe): change contest time form
  apps/frontend/app/(main)/_components/TimeDiff.tsx
Labels: ⛳️ team-frontend, 💡 feature-client
