Repository skkuding/codedang, pull requests merged in 2024-04, with the labels that each got.

#1623 feat(fe): add DataTable empty message property
  apps/frontend/app/(main)/contest/_components/FinishedContestTable.tsx
  apps/frontend/components/DataTable.tsx
  apps/frontend/next.config.js
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1628 feat(fe): restrict non-existent contest problem
  apps/frontend/app/contest/[contestId]/problem/[problemId]/page.tsx
  apps/frontend/app/contest/error.tsx
  apps/frontend/components/EditorDescription.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1631 feat(infra): get ec2 instance id and send to monitoring system by using label
  apps/backend/apps/admin/src/metric.ts
  apps/backend/apps/client/src/metric.ts
  apps/iris/go.mod
  apps/iris/go.sum
  apps/iris/src/observability/metric.go
Labels: ⛳️ team-infra, p2-has-workaround 🚦

#1633 fix: disable create button while isCreating is true
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1641 chore: increase problem title length limit to 200
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1646 chore(infra): set exchange as durable
  apps/infra/modules/codedang-infra/rabbitmq.tf
Labels: 🪰 bug, ⛳️ team-infra

#1637 feat(be): apply test coverage
  .gitignore
  apps/backend/.nycrc
  apps/backend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-backend

#1651 fix(be): make admin to get all contest submissions
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#1652 fix(be): make admin to get all contest submissions
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#1654 fix(fe): change contest to startTime ascending order
  apps/frontend/app/(main)/contest/_components/ContestCardList.tsx
Labels: ⛳️ team-frontend, 💡 feature-client
