Repository skkuding/codedang, pull requests merged in 2024-01, with the labels that each got.

#1078 feat(fe): notice detail page
  .vscode/settings.json
  frontend-client/app/(default)/layout.tsx
  frontend-client/app/_components/Header.tsx
  frontend-client/app/_components/NavLink.tsx
  frontend-client/app/contest/page.tsx
  frontend-client/app/group/page.tsx
  frontend-client/app/layout.tsx
  frontend-client/app/notice/[id]/page.tsx
  frontend-client/app/notice/_components/NoticeTable.tsx
  frontend-client/app/notice/layout.tsx
  frontend-client/app/notice/page.tsx
  frontend-client/app/page.tsx
  frontend-client/app/problem/page.tsx
  frontend-client/components/Cover.tsx
  frontend-client/components/ui/pagination.tsx
  frontend-client/next.config.js
  frontend-client/package.json
  frontend-client/tailwind.config.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1098 feat(fe): implement footer
  frontend-client/app/_components/Footer.tsx
  frontend-client/app/layout.tsx
  frontend-client/components/ui/toast.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1085 feat(be): store problem accepted rate
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/problem/dto/problem.response.dto.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/prisma/migrations/20231228083547_add_ac_rate/migration.sql
  backend/prisma/schema.prisma
Labels: ⛳️ team-backend

#1111 fix(fe): cover style
  frontend-client/app/notice/layout.tsx
  frontend-client/components/Cover.tsx
  frontend-client/public/cover.jpg
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1112 feat(fe): change toaster to sonner
  frontend-client/app/_components/Footer.tsx
  frontend-client/app/_components/SignUp.tsx
  frontend-client/app/layout.tsx
  frontend-client/components/ui/sonner.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client

#1116 feat(fe): fixed notice
  frontend-client/app/notice/_components/NoticeTable.tsx
  frontend-client/app/notice/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1119 feat(fe): add writer section at notice table
  frontend-client/app/notice/_components/NoticeTable.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1124 fix(cd): create iam role for ecr push
  .github/workflows/cd-prod.yml
Labels: 🪰 bug, ⛳️ team-infra

#1075 feat(fe): implement main page
  .github/workflows/ci.yml
  backend/prisma/schema.prisma
  frontend-client/app/_components/Badge.tsx
  frontend-client/app/_components/Carousel.tsx
  frontend-client/app/_components/ContestCard.tsx
  frontend-client/app/_components/ProblemCard.tsx
  frontend-client/app/_components/TimeDiff.tsx
  frontend-client/app/page.tsx
  frontend-client/components/ui/card.tsx
  frontend-client/lib/utils.ts
  frontend-client/package.json
  frontend-client/tailwind.config.ts
  frontend-client/types/type.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client

#1125 fix(fe): fixed light theme in sonner
  frontend-client/components/ui/sonner.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1126 fix(infra): resolve invalid terraform lockfile
  infra/modules/codedang-infra/.terraform.lock.hcl
Labels: 🪰 bug, ⛳️ team-infra

#1104 feat(fe): change signup modal to new design
  frontend-client/app/_components/SignUp.tsx
  frontend-client/app/_components/SignUpEmailVerify.tsx
  frontend-client/app/_components/SignUpRegister.tsx
  frontend-client/app/_components/SignUpWelcome.tsx
  frontend-client/components/ui/dialog.tsx
  frontend-client/components/ui/toast.tsx
  frontend-client/components/ui/toaster.tsx
  frontend-client/components/ui/use-toast.ts
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1130 fix(be): do not skip during backward pagination
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/workbook/workbook.service.ts
Labels: ⛳️ team-backend

#1129 fix(infra): resolve broken lockfile (2nd try)
  infra/deploy/.terraform.lock.hcl
  infra/local/.terraform.lock.hcl
Labels: 🪰 bug, ⛳️ team-infra

#1132 fix(infra): set github token for oauth as sensitive in tfvars
  infra/modules/codedang-infra/variables.tf
Labels: 🪰 bug, ⛳️ team-infra

#1133 fix(infra): fix typo in ecs-iris-service-asg file
  infra/modules/codedang-infra/ecs-iris-service-asg.tf
Labels: 🪰 bug, ⛳️ team-infra

#1106 feat(fe): create admin layout
  .vscode/settings.json
  frontend-client/app/(main)/_components/Badge.tsx
  frontend-client/app/(main)/_components/Carousel.tsx
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/Footer.tsx
  frontend-client/app/(main)/_components/Header.tsx
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/NavLink.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUp.tsx
  frontend-client/app/(main)/_components/SignUpEmailVerify.tsx
  frontend-client/app/(main)/_components/SignUpRegister.tsx
  frontend-client/app/(main)/_components/SignUpWelcome.tsx
  frontend-client/app/(main)/_components/TimeDiff.tsx
  frontend-client/app/(main)/contest/page.tsx
  frontend-client/app/(main)/group/page.tsx
  frontend-client/app/(main)/layout.tsx
  frontend-client/app/(main)/notice/[id]/page.tsx
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
  frontend-client/app/(main)/notice/layout.tsx
  frontend-client/app/(main)/notice/page.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/app/(main)/problem/page.tsx
  frontend-client/app/admin/_components/GroupSelect.tsx
  frontend-client/app/admin/_components/SideBar.tsx
  frontend-client/app/admin/contest/page.tsx
  frontend-client/app/admin/layout.tsx
  frontend-client/app/admin/notice/page.tsx
  frontend-client/app/admin/page.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/app/admin/user/page.tsx
  frontend-client/app/layout.tsx
  frontend-client/components/ui/command.tsx
  frontend-client/components/ui/popover.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, next-js

#1148 feat(ci): apply object-shorthand eslint rule
  .eslintrc.js
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/apps/client/src/user/user.service.ts
  backend/libs/auth/src/roles/roles.service.ts
  frontend-client/app/(main)/_components/SignUpEmailVerify.tsx
  frontend/src/user/workbook/composables/workbook.ts
Labels: feat: ci

#1128 fix(fe): change main page to dynamic page
  frontend-client/app/(main)/page.tsx
Labels: 🪰 bug, ⛳️ team-frontend, next-js

#1151 feat(be): use strict null check
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/group/group.service.spec.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/storage/s3.provider.ts
  backend/apps/admin/src/storage/storage.service.ts
  backend/apps/admin/src/user/user.service.spec.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/auth/auth.service.spec.ts
  backend/apps/client/src/auth/auth.service.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
  backend/libs/auth/src/jwt/jwt-auth.service.spec.ts
  backend/libs/auth/src/roles/group-leader.guard.ts
  backend/libs/auth/src/roles/group-member.guard.ts
  backend/libs/auth/src/roles/roles.guard.ts
  backend/libs/auth/src/roles/roles.service.spec.ts
  backend/libs/auth/src/roles/roles.service.ts
  backend/libs/types/src/group-join-request.type.ts
  backend/libs/types/src/index.ts
  backend/libs/types/tsconfig.lib.json
  backend/nest-cli.json
  backend/package.json
  backend/tsconfig.json
  pnpm-lock.yaml
Labels: ⛳️ team-backend

#1153 refactor(be): use null value in cursor validation
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/contest-problem.controller.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/problem/workbook-problem.controller.ts
  backend/apps/client/src/workbook/workbook.controller.ts
  backend/apps/client/src/workbook/workbook.service.ts
  backend/libs/exception/src/controller.exception.ts
  backend/libs/exception/src/index.ts
  backend/libs/pipe/src/cursor-validation.pipe.ts
Labels: ⛳️ team-backend

#1154 feat(fe): change main page design
  frontend-client/app/(main)/_components/Badge.tsx
  frontend-client/app/(main)/_components/Carousel.tsx
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/_components/TimeDiff.tsx
  frontend-client/app/(main)/layout.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/package.json
  frontend-client/public/codedang.svg
  frontend-client/tailwind.config.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#1157 fix(be): remove default cursor value
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/group/group.service.spec.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/user/user.service.spec.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/workbook/workbook.service.spec.ts
  backend/apps/client/src/workbook/workbook.service.ts
  backend/libs/prisma/src/prisma.service.ts
Labels: 🪰 bug, ⛳️ team-backend

#1150 feat(be): add accept rate to problem api
  backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  collection/client/Problem/Get contest problems/Succeed.bru
  collection/client/Problem/Get group contest problem by ID/Succeed.bru
  collection/client/Problem/Get group contest problems/Succeed.bru
  collection/client/Problem/Get group workbook problem by ID/Succeed.bru
Labels: ⛳️ team-backend

#1161 feat(be): add order option to problem list api
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/problem/schema/problem-order.schema.ts
  backend/libs/pipe/src/index.ts
  backend/libs/pipe/src/zod-validation.pipe.ts
  backend/package.json
  collection/client/Problem/Get all problems/Succeed.bru
  pnpm-lock.yaml
Labels: ⛳️ team-backend

#1105 feat(be): implement api add problems to contest
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  collection/admin/Contest/Create Contest/Error: End Time Earlier than Start Time.bru
  collection/admin/Contest/Create Contest/Error: Nonexistent Group.bru
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Create Publicizing Request/Error: Duplicated Publicizing Request.bru
  collection/admin/Contest/Create Publicizing Request/Error: Request Publicizing to OpenSpace.bru
  collection/admin/Contest/Create Publicizing Request/Succeed.bru
  collection/admin/Contest/Delete Contest/Error: Nonexistent Contest.bru
  collection/admin/Contest/Delete Contest/Succeed.bru
  collection/admin/Contest/Get Contests/Succeed.bru
  collection/admin/Contest/Get Publicizing Requests/Succeed.bru
  collection/admin/Contest/Handle Publicizing Request/Error: Nonexistent Publicizing Request.bru
  collection/admin/Contest/Handle Publicizing Request/Succeed.bru
  collection/admin/Contest/Import Problems to Contest/Error: Nonexistent Contest.bru
  collection/admin/Contest/Import Problems to Contest/Succeed.bru
  collection/admin/Contest/Update Contest/404: Nonexistent Contest.bru
  collection/admin/Contest/Update Contest/422: End Time Earlier than Start Time.bru
  collection/admin/Contest/Update Contest/Succeed.bru
Labels: ⛳️ team-backend, p3-need-now 🧩

#1144 feat(be): add participants to contest api
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  iris/go.mod
Labels: ⛳️ team-backend

#1166 refactor(be): use consistant error variable name
  backend/apps/client/src/problem/contest-problem.controller.ts
  backend/apps/client/src/problem/workbook-problem.controller.ts
Labels: ⛳️ team-backend

#1143 feat(be): change submission id type
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/mock/submission.mock.ts
  backend/apps/client/src/submission/mock/submissionResult.mock.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/prisma/migrations/20240104063238_change_submission_id_type/migration.sql
  backend/prisma/migrations/20240104072555_change_submission_result_table_name/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Labels: ⛳️ team-backend

#1080 feat(be): implement user code temporary save api
  backend/apps/client/src/problem/code-draft.controller.ts
  backend/apps/client/src/problem/dto/code-draft.response.dto.ts
  backend/apps/client/src/problem/dto/create-code-draft.dto.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.module.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/prisma/migrations/20240107173556_code_draft/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  collection/client/Problem/Get Code Draft/404: NotFoundError.bru
  collection/client/Problem/Get Code Draft/Succeed.bru
  collection/client/Problem/Upsert Code Draft/404: NotFoundError.bru
  collection/client/Problem/Upsert Code Draft/Succeed.bru
  collection/client/bruno.json
Labels: ⛳️ team-backend

#1156 feat(fe): add metadata base option
  .github/workflows/ci.yml
  frontend-client/app/layout.tsx
  frontend-client/lib/vars.ts
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1138 feat(fe): implement authentication with next-auth@4
  frontend-client/app/(main)/_components/Header.tsx
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/app/next-auth/api/auth/[...nextauth]/route.ts
  frontend-client/lib/auth.ts
  frontend-client/lib/utils.ts
  frontend-client/lib/vars.ts
  frontend-client/middleware.ts
  frontend-client/next.config.js
  frontend-client/package.json
  frontend-client/types/next-auth.d.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1189 fix(fe): change metabase url
  frontend-client/app/layout.tsx
  frontend-client/next.config.js
  frontend-client/package.json
  pnpm-lock.yaml
Labels: 🪰 bug, ⛳️ team-frontend, 💡 feature-client

#1193 feat(fe): contest card, problem card design change
  frontend-client/app/(main)/_components/Badge.tsx
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/_components/TimeDiff.tsx
  frontend-client/app/(main)/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1192 feat(fe): change footer design
  frontend-client/app/(main)/_components/Footer.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1194 refactor(fe): change card and footer design
  frontend-client/app/(main)/_components/Badge.tsx
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/Footer.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/_components/TimeDiff.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/components.json
  frontend-client/components/ui/card.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1169 feat(fe): add problem list page
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.ts
  frontend-client/app/(main)/_components/NavLink.tsx
  frontend-client/app/(main)/notice/page.tsx
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
  frontend-client/app/(main)/problem/_components/SearchBar.tsx
  frontend-client/app/(main)/problem/_components/SortableHeader.tsx
  frontend-client/app/(main)/problem/_components/TagSwitch.tsx
  frontend-client/app/(main)/problem/_components/UpandDownButton.tsx
  frontend-client/app/(main)/problem/layout.tsx
  frontend-client/app/(main)/problem/page.tsx
  frontend-client/app/_components/Badge.tsx
  frontend-client/app/_components/Carousel.tsx
  frontend-client/app/_components/ContestCard.tsx
  frontend-client/app/_components/ProblemCard.tsx
  frontend-client/app/_components/SignUp.tsx
  frontend-client/app/_components/TimeDiff.tsx
  frontend-client/app/admin/layout.tsx
  frontend-client/components/Paginator.tsx
  frontend-client/components/ui/badge.tsx
  frontend-client/components/ui/pagination.tsx
  frontend-client/components/ui/switch.tsx
  frontend-client/lib/usePagination.ts
  frontend-client/package.json
  frontend-client/types/type.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1200 feat(fe): add contest list page
  frontend-client/app/(main)/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/[id]/page.tsx
  frontend-client/app/(main)/contest/_components/ContestTable.tsx
  frontend-client/app/(main)/contest/layout.tsx
  frontend-client/app/(main)/contest/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1198 fix(be): remove redundant problem controller handler
  backend/apps/client/src/problem/dto/problems.response.dto.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.ts
  collection/client/Problem/Search Problem Title/Succeed.bru
Labels: ⛳️ team-backend

#1201 feat(fe): add main page carousel
  frontend-client/app/(main)/_components/Carousel.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/public/dummy.png
  frontend-client/public/github.svg
  frontend-client/public/skkudingLogo.png
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1214 refactor(fe): integrate data table and add search bar
  frontend-client/app/(main)/contest/_components/Columns.tsx
  frontend-client/app/(main)/contest/_components/ContestTable.tsx
  frontend-client/app/(main)/contest/page.tsx
  frontend-client/app/(main)/notice/_components/Columns.tsx
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
  frontend-client/app/(main)/notice/page.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
  frontend-client/app/(main)/problem/_components/SearchBar.tsx
  frontend-client/app/(main)/problem/_components/SortableHeader.tsx
  frontend-client/app/(main)/problem/_components/TagSwitch.tsx
  frontend-client/app/(main)/problem/_components/UpandDownButton.tsx
  frontend-client/app/(main)/problem/page.tsx
  frontend-client/components/DataTable.tsx
  frontend-client/components/SearchBar.tsx
  frontend-client/components/SortButton.tsx
  frontend-client/components/ui/badge.tsx
  frontend-client/tailwind.config.ts
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1225 fix(fe): apply updated api style to home page
  frontend-client/app/(main)/page.tsx
Labels: 🪰 bug, ⛳️ team-frontend

#1210 feat(be): add kakao login
  .github/workflows/cd-prod.yml
  backend/apps/client/src/auth/auth.controller.ts
  backend/apps/client/src/auth/auth.module.ts
  backend/apps/client/src/auth/auth.service.ts
  backend/apps/client/src/auth/interface/social-user.interface.ts
  backend/apps/client/src/user/dto/social-signup.dto.ts
  backend/libs/auth/src/kakao/kakao.strategy.ts
  backend/libs/constants/src/oauth.constants.ts
  backend/package.json
  backend/prisma/migrations/20240118071939_change_user_oauth_id_to_string/migration.sql
  backend/prisma/schema.prisma
  infra/deploy/main.tf
  infra/deploy/variable.tf
  infra/local/main.tf
  infra/local/variable.tf
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/ecs-api-client.tf
  infra/modules/codedang-infra/variables.tf
  pnpm-lock.yaml
Labels: ⛳️ team-backend

#1205 feat(fe): edit contest list card with carousel
  frontend-client/app/(main)/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/page.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/components/ui/carousel.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1237 feat(be): add tags to getProblemById
  backend/apps/client/src/problem/dto/problem.response.dto.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
  collection/client/Problem/Get problem by ID/Succeed.bru
Labels: ⛳️ team-backend

#1239 docs(be): add submission creation api
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/mock/submissionResult.mock.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  collection/client/Submission/Create Submission/Succeed.bru
Labels: ⛳️ team-backend

#1235 feat(be): add and apply required-int pipe
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/problem/code-draft.controller.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/workbook/workbook.controller.ts
  backend/libs/pipe/src/cursor-validation.pipe.ts
  backend/libs/pipe/src/group-id.pipe.ts
  backend/libs/pipe/src/id-validation.pipe.ts
  backend/libs/pipe/src/index.ts
  backend/libs/pipe/src/required-int.pipe.ts
Labels: ⛳️ team-backend

#1145 feat(fe): add problem editor
  frontend-client/app/(main)/layout.tsx
  frontend-client/app/layout.tsx
  frontend-client/app/problem/[id]/_components/Description.tsx
  frontend-client/app/problem/[id]/_components/HeaderEditor.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/SelectScrollable.tsx
  frontend-client/app/problem/[id]/_components/Tab.tsx
  frontend-client/app/problem/[id]/layout.tsx
  frontend-client/app/problem/[id]/page.tsx
  frontend-client/app/problem/[id]/submission/page.tsx
  frontend-client/components/ui/resizable.tsx
  frontend-client/components/ui/select.tsx
  frontend-client/components/ui/tabs.tsx
  frontend-client/lib/hooks.ts
  frontend-client/package.json
  frontend-client/types/images.d.ts
  frontend-client/types/type.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1245 feat(fe): contest detail page
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/standings/page.tsx
  frontend-client/app/(main)/contest/[id]/layout.tsx
  frontend-client/app/(main)/contest/_components/ContestTable.tsx
  frontend-client/app/(main)/contest/_components/ContestTabs.tsx
  frontend-client/components/StandingsTable.tsx
  frontend-client/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1233 feat(be): implement contest participant standings
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/prisma/migrations/20240124143020_add_score_field_in_contest_record/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  collection/client/Contest/Get contest by ID/Succeed.bru
Labels: ⛳️ team-backend

#1253 fix(fe): edit username password conditions
  frontend-client/app/(main)/_components/SignUpRegister.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, next-js

#1249 feat(fe): add logout dropdown
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/UserDropdown.tsx
  frontend-client/components/ui/dropdown-menu.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, next-js
