Repository skkuding/codedang, pull requests merged in 2024-05, with the labels that each got.

#1659 fix: upgrade renovate golang constraint version
  apps/frontend/app/(main)/_components/Footer.tsx
  renovate.json
Labels: dependencies, ⛳️ team-iris

#1661 fix(infra): change env variables from dev to stage
  .env.stage
  .envrc
  .github/workflows/cd-stage.yml
  .github/workflows/ci.yml
  .github/workflows/reset-seed.yml
  .gitignore
  apollo.config.js
  apps/frontend/codegen.ts
  apps/grafana-logs/promtail/promtail-config.yml
  apps/infra/stage/Caddyfile
  apps/iris/main.go
  apps/iris/src/common/constants/constants.go
  apps/iris/src/service/logger/logger.go
  collection/admin/environments/Development.bru
  collection/admin/environments/Stage.bru
  collection/client/environments/Development.bru
  collection/client/environments/Stage.bru
  docker-compose.yml
  scripts/deploy.sh
  scripts/setup.sh
Labels: ⛳️ team-infra

#1666 fix(infra): rebuild vercel
  .gitignore
Labels: ⛳️ team-infra

#1667 fix(infra): rebuild vercel
  .gitignore
Labels: ⛳️ team-infra

#1663 fix(fe): add CommandList
  apps/frontend/app/admin/_components/GroupSelect.tsx
  apps/frontend/components/CheckboxSelect.tsx
  apps/frontend/components/DataTableLangFilter.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1668 fix(fe): disable register button
  apps/frontend/components/auth/SignUpRegister.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1675 fix(infra): change promtail path
  docker-compose.yml
Labels: 🪰 bug

#1676 fix(infra): update checkout directory for promtail
  .github/workflows/cd-stage.yml
Labels: 🪰 bug

#1679 feat(cd): edit iris dockerfile to run sh to get containerId
  apps/iris/Dockerfile
  apps/iris/entrypoint.sh
  apps/iris/main.go
  apps/iris/src/observability/metric.go
Labels: ⛳️ team-infra, p3-need-now 🧩, feat: cd

#1677 feat(be): add username, email, pin for load test
  apps/backend/apps/client/src/user/user.service.ts
  apps/backend/libs/logger/src/pino-option.logger.ts
Labels: ⛳️ team-backend, ⛳️ team-infra

#1682 feat(infra): update asg in api cluster
  apps/infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  apps/infra/modules/codedang-infra/backend/client-task-definition.tftpl
  apps/infra/modules/codedang-infra/ecs-api-admin-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-admin.tf
  apps/infra/modules/codedang-infra/ecs-api-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client.tf
  apps/infra/modules/codedang-infra/ecs-iris-service-asg.tf
Labels: ⛳️ team-infra

#1683 fix(infra): add metricAggregationType in asg
  apps/infra/modules/codedang-infra/ecs-api-admin-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client-service-asg.tf
Labels: ⛳️ team-infra

#1688 chore: disable vscode extension verifySignature
  .devcontainer/devcontainer.json
Labels: 🪰 bug

#1693 fix(fe): prevent unnecessary rerenders in editor page
  apps/frontend/components/EditorResizablePanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#1697 feat(ci): run ci depending on code change
  .github/workflows/ci.yml
Labels: feat: ci

#1698 fix(fe): update commandlist
  apps/frontend/components/ui/command.tsx
Labels: ⛳️ team-frontend

#1695 feat(fe): add vitest for frontend unit testing
  apps/frontend/__tests__/components.test.tsx
  apps/frontend/__tests__/utils.test.ts
  apps/frontend/package.json
  apps/frontend/vitest.config.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client

#1700 fix(be): add argon2 hash options
  apps/backend/apps/client/src/user/user.service.ts
  apps/backend/libs/constants/src/argon2.constants.ts
  apps/backend/libs/constants/src/index.ts
Labels: ⛳️ team-backend

#1507 chore(be): standardize the return format of 'get' apis
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/group/group.service.spec.ts
  apps/backend/apps/client/src/group/group.service.ts
  apps/backend/apps/client/src/notice/notice.service.spec.ts
  apps/backend/apps/client/src/notice/notice.service.ts
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/workbook/workbook.service.spec.ts
  apps/backend/apps/client/src/workbook/workbook.service.ts
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get registered finished contests/Succeed.bru
  collection/client/Group/Get Groups/Succeed.bru
  collection/client/Notice/Get all notices/Succeed.bru
  collection/client/Problem/Get problems/Succeed.bru
  collection/client/Submission/Get Submissions/Succeed.bru
  collection/client/Workbook/Get Workbooks/Succeed.bru
Labels: ⛳️ team-backend

#1704 chore: add resize attribute to text editor
  apps/frontend/components/TextEditor.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#1694 fix(infra): fix tf lockfile
  .github/workflows/cd-prod.yml
  apps/infra/deploy/.terraform.lock.hcl
Labels: ⛳️ team-infra

#1708 feat(fe): change codes for changed get api return
  apps/frontend/app/(main)/_components/ProblemCards.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/problem/page.tsx
  apps/frontend/app/(main)/contest/_components/FinishedContestTable.tsx
  apps/frontend/app/(main)/notice/_components/NoticeTable.tsx
  apps/frontend/lib/pagination.ts
  apps/frontend/lib/useInfiniteScroll.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 💡 feature-client

#1713 refactor(fe): refactor graphql query files
  apps/frontend/app/admin/contest/[id]/page.tsx
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/[id]/page.tsx
  apps/frontend/app/admin/problem/_components/Columns.tsx
  apps/frontend/app/admin/problem/_components/UploadDialog.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/app/admin/problem/utils.ts
  apps/frontend/app/admin/user/page.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/graphql/problem/queries.ts
  apps/frontend/graphql/user/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, next-js

#1723 fix(be): redact password-again
  apps/backend/libs/logger/src/pino-option.logger.ts
Labels: ⛳️ team-backend

#1720 feat(fe): persist language and code datas
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorResizablePanel.tsx
  apps/frontend/lib/storage.ts
  apps/frontend/stores/editor.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#1514 feat(be): implement image upload
  .devcontainer/devcontainer.json
  .env.stage
  .gitpod.yml
  apps/backend/apps/admin/src/problem/model/image.output.ts
  apps/backend/apps/admin/src/problem/problem.module.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/admin/src/storage/s3.provider.ts
  apps/backend/apps/admin/src/storage/storage.module.ts
  apps/backend/apps/admin/src/storage/storage.service.spec.ts
  apps/backend/apps/admin/src/storage/storage.service.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/libs/exception/src/business.exception.ts
  apps/backend/prisma/migrations/20240406140833_add_image_model/migration.sql
  apps/backend/prisma/schema.prisma
  apps/iris/src/loader/s3/source.go
  collection/admin/Problem/Delete Image/NOT_FOUND.bru
  collection/admin/Problem/Delete Image/Succeed.bru
  collection/admin/Problem/Upload Image/Succeed.bru
  collection/admin/Problem/Upload Image/sample.png
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  scripts/init-storage.ts
  scripts/setup.sh
Labels: ⛳️ team-backend

#1714 refactor(infra): create new terraform project to prepare refactoring
  apps/infra/deploy/main.tf
  apps/infra/local/.terraform.lock.hcl
  apps/infra/local/main.tf
  apps/infra/local/provider.tf
  apps/infra/local/variable.tf
  apps/infra/production/codedang/README.md
  apps/infra/production/codedang/main.tf
  apps/infra/production/codedang/variables.tf
  apps/infra/production/network/README.md
  apps/infra/production/network/main.tf
  apps/infra/production/network/variables.tf
  apps/infra/production/storage/README.md
  apps/infra/production/storage/main.tf
  apps/infra/production/storage/variables.tf
  apps/infra/production/terraform-configuration/README.md
  apps/infra/production/terraform-configuration/backend.tf
  apps/infra/production/terraform-configuration/main.tf
  apps/infra/production/terraform-configuration/variables.tf
  lefthook.yml
Labels: ⛳️ team-infra
