Repository skkuding/codedang, pull requests merged in 2025-01, with the labels that each got.

#2261 feat(fe): confirm modal when leaving settings page
  apps/frontend/app/(client)/(main)/settings/_components/ConfirmModal.tsx
  apps/frontend/app/(client)/(main)/settings/_libs/utils.ts
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/components/BaseModal.tsx
  apps/frontend/components/shadcn/alert-dialog.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2271 fix(fe): change dashboard image alignment
  apps/frontend/app/admin/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2270 fix(fe): fix mouse scroll cursor problem
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2272 fix(fe): fix drop down button rotate
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Labels: ⛳️ team-frontend

#2250 refactor(fe): use tanstack query for MySubmission
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/problem/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/problem/_components/MySubmission.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/problem/_components/SubmissionDetailContent.tsx
  apps/frontend/app/(client)/_libs/apis/submission.ts
  apps/frontend/app/(client)/_libs/queries/submission.ts
Labels: ⛳️ team-frontend

#2273 style(fe): delete the title if no data
  apps/frontend/app/(client)/(main)/_components/ContestCards.tsx
  apps/frontend/app/(client)/(main)/_components/ProblemCards.tsx
  apps/frontend/app/(client)/(main)/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2238 fix(be): apply runtime typecheck on create-usertest-submission-dto
  apps/backend/apps/client/src/submission/class/create-submission.dto.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
Labels: ⛳️ team-backend

#2274 refactor(fe): refactor settings page using context and hooks
  apps/frontend/app/(client)/(main)/settings/_components/CurrentPwSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/IdSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/MajorSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/NameSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/NewPwSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/ReEnterNewPwSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/SaveButton.tsx
  apps/frontend/app/(client)/(main)/settings/_components/StudentIdSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/TopicSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/context.ts
  apps/frontend/app/(client)/(main)/settings/_libs/hooks/useCheckPassword.ts
  apps/frontend/app/(client)/(main)/settings/_libs/schemas.ts
  apps/frontend/app/(client)/(main)/settings/_libs/utils.ts
  apps/frontend/app/(client)/(main)/settings/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2290 chore(fe): apply error boundary in code editor and admin
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/[submissionId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/submission/[submissionId]/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/submission/page.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/[contestId]/participant/[userId]/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/app/admin/user/page.tsx
Labels: ⛳️ team-frontend

#2296 chore: add promise eslint plugin
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/components/auth/FindUserId.tsx
  apps/frontend/components/auth/ResetPasswordEmailVerify.tsx
  apps/frontend/components/auth/SignUpEmailVerify.tsx
  apps/frontend/components/auth/SignUpRegister.tsx
  apps/frontend/libs/utils.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#2281 docs(be): add jsdoc on client submission service
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#2286 chore: migration from zod to valibot
  apps/frontend/app/(client)/(main)/settings/_libs/schemas.ts
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_libs/schemas.ts
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/_libs/schemas.ts
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/components/auth/FindUserId.tsx
  apps/frontend/components/auth/ResetPassword.tsx
  apps/frontend/components/auth/ResetPasswordEmailVerify.tsx
  apps/frontend/components/auth/SignUpEmailVerify.tsx
  apps/frontend/components/auth/SignUpRegister.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#2284 fix(iris): python parameter change
  apps/iris/src/service/sandbox/langConfig.go
Labels: ⛳️ squad-채점핑

#2300 fix(fe): add temporary tabs for contest page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/notice/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/page.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTabs.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2297 feat(iris): use local when compiling submitted code
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/service/sandbox/compiler.go
Labels: ⛳️ squad-채점핑

#2303 fix(fe): resolve bug blocking contest creation without invitation code
  apps/frontend/app/admin/contest/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2119 refactor(be): improve client user & notice module error handling logic
  apps/backend/apps/client/src/notice/notice.controller.ts
  apps/backend/apps/client/src/notice/notice.service.ts
  apps/backend/apps/client/src/user/user.controller.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/apps/client/src/user/user.service.ts
Labels: ⛳️ team-backend

#2306 feat(fe): add sentry custom error
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/error.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/error.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/error.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/submission/error.tsx
  apps/frontend/app/(client)/(main)/contest/error.tsx
  apps/frontend/app/(client)/(main)/error.tsx
  apps/frontend/app/(client)/(main)/notice/error.tsx
  apps/frontend/app/(client)/(main)/problem/error.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/error.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/error.tsx
  apps/frontend/app/admin/contest/create/error.tsx
  apps/frontend/app/admin/contest/error.tsx
  apps/frontend/app/admin/error.tsx
  apps/frontend/app/admin/notice/error.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/error.tsx
  apps/frontend/app/admin/problem/[problemId]/error.tsx
  apps/frontend/app/admin/problem/create/error.tsx
  apps/frontend/app/admin/problem/error.tsx
  apps/frontend/app/admin/user/error.tsx
  apps/frontend/app/global-error.tsx
  apps/frontend/instrumentation.ts
  apps/frontend/libs/apiError.ts
  apps/frontend/libs/captureError.ts
  apps/frontend/libs/utils.ts
  apps/frontend/sentry.client.config.ts
Labels: ⛳️ team-frontend

#2288 chore: add admin table barrel file
  apps/frontend/app/admin/_components/table/index.ts
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/_components/ParticipantTable.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/submission/_components/SubmissionTable.tsx
  apps/frontend/app/admin/contest/[contestId]/participant/[userId]/_components/ScoreTable.tsx
  apps/frontend/app/admin/contest/[contestId]/participant/[userId]/_components/SubmissionTable.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemTable.tsx
  apps/frontend/app/admin/contest/_components/ContestTable.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/notice/create/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTable.tsx
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/user/_components/UserTable.tsx
  apps/frontend/package.json
Labels: ⛳️ team-frontend

#2309 fix(fe): add valibot to dependecies
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#2307 refactor(fe): refactor admin contest form
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/ImportDialog.tsx
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2314 chore(fe): fix build error and add analyze script
  apps/frontend/.gitignore
  apps/frontend/app/admin/contest/_components/ImportDialog.tsx
  apps/frontend/package.json
Labels: ⛳️ team-frontend

#2305 feat(be): add priority on submisison queue
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/libs/constants/src/rabbitmq.constants.ts
  apps/infra/production/codedang/message_queue.tf
  apps/infra/production/codedang/variables.tf
  apps/infra/rc/codedang/message_queue.tf
  apps/infra/rc/codedang/variables.tf
  scripts/setup.sh
Labels: ⛳️ team-backend, ⛳️ squad-채점핑

#2319 chore(fe): use turbo
  apps/frontend/next.config.js
  apps/frontend/package.json
Labels: ⛳️ team-frontend

#2317 chore(fe): split server-side module and apply sentry tree shaking
  apps/frontend/libs/auth.ts
  apps/frontend/libs/auth/getServerSession.ts
  apps/frontend/next.config.js
  apps/frontend/package.json
Labels: ⛳️ team-frontend

#2324 chore(be): rename sort key for contest submission
  apps/backend/apps/admin/src/submission/submission.service.ts
Labels: ⛳️ team-backend

#2329 chore(fe): remove replay function in sentry
  apps/frontend/sentry.client.config.ts
Labels: ⛳️ team-frontend

#2326 feat(fe): modify the layout of the overview page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/ContestSummary.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/layout.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTabs.tsx
  apps/frontend/app/(client)/(main)/contest/layout.tsx
  apps/frontend/next.config.js
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2325 feat(be): create api for contest overview page
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20250122091627_add_overview_fields_to_contest/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2193 refactor(be): client function parameter typing
  apps/backend/apps/admin/src/assignment/assignment.resolver.ts
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/admin/src/storage/storage.service.ts
  apps/backend/apps/admin/src/user/user.resolver.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  collection/admin/Assignment/Create Publicizing Request/Succeed.bru
  collection/admin/Assignment/Get Publicizing Requests/Succeed.bru
  collection/admin/Assignment/Handle Publicizing Request/Succeed.bru
  collection/admin/Contest/Create Publicizing Request/Succeed.bru
Labels: ⛳️ team-backend

#2198 feat(be): merge client problem repository into service
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/problem/dto/code-draft.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.module.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Labels: ⛳️ team-backend

#2294 feat(iris): improve judge result handling
  apps/backend/apps/client/src/submission/class/judger-response.dto.ts
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/router/response.go
  apps/iris/src/service/sandbox/sandboxArgs.go
Labels: ⛳️ squad-채점핑

#2331 feat(be): add logic for contest leaderboard
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/submission/mock/contest.mock.ts
  apps/backend/apps/client/src/submission/mock/contestProblem.mock.ts
  apps/backend/apps/client/src/submission/mock/contestRecord.mock.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20250123114853_contest_leaderboard/migration.sql
  apps/backend/prisma/migrations/20250125081617_edit_contest_problem_record_table/migration.sql
  apps/backend/prisma/migrations/20250127143044_add_firstsolver_column_in_contestproblemrecord/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/client/Contest/Get Leaderboard/succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2320 feat(fe): migrate contest to class
  apps/frontend/app/(client)/(main)/_components/Cover.tsx
  apps/frontend/app/(client)/(main)/_components/Header.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentOverview.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Header.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/RecentNotice.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/RecentUpdate.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Sidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/exam/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/qna/page.tsx
  apps/frontend/app/(client)/(main)/course/_components/AssignmentCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/AssignmentCardList.tsx
  apps/frontend/app/(client)/(main)/course/_components/CalendarTable.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseStatusTimeDiff.tsx
  apps/frontend/app/(client)/(main)/course/_components/Dashboard.tsx
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
  apps/frontend/app/(client)/(main)/course/_components/EventDialog.tsx
  apps/frontend/app/(client)/(main)/course/_components/FinishedAssignmentTable.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/app/(client)/(main)/course/style.css
  apps/frontend/app/(client)/(main)/group/page.tsx
  apps/frontend/components/AssignmentStatusTimeDiff.tsx
  apps/frontend/components/auth/SignIn.tsx
  apps/frontend/components/shadcn/progress.tsx
  apps/frontend/package.json
  apps/frontend/public/icons/assignment.svg
  apps/frontend/public/icons/exam.svg
  apps/frontend/public/icons/home.svg
  apps/frontend/public/icons/maximize.svg
  apps/frontend/public/icons/notice.svg
  apps/frontend/types/type.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2335 feat(be): add get-submissions in admin submission model
  apps/backend/apps/admin/src/submission/model/submissions-with-total.output.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  collection/admin/Submission/Get Submissions/Succeed.bru
  collection/admin/Submission/Get Submissions/[404] Nonexistent Problem.bru
Labels: ⛳️ team-backend, ⛳️ squad-채점핑
