Repository skkuding/codedang, pull requests merged in 2025-08, with the labels that each got.

#2914 feat(be): prevent users from changing own role
  apps/backend/apps/admin/src/user/user.resolver.spec.ts
  apps/backend/apps/admin/src/user/user.resolver.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2924 feat(be): add user role in JWT token
  apps/backend/apps/client/src/auth/auth.service.ts
  apps/backend/libs/auth/src/jwt/jwt.interface.ts
Labels: ⛳️ team-backend

#2890 feat(fe): make middle contest banner
  apps/frontend/app/(client)/(main)/_components/MiddleContestBanner.tsx
  apps/frontend/public/banners/mainpage_middle_banner.png
  apps/frontend/public/icons/arrow-right-white.svg
Labels: ⛳️ team-frontend, 💡 feature-client

#2915 fix(fe): fix assignment edit description not showing when empty
  apps/frontend/app/admin/course/[courseId]/_components/CreateAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/_components/EditAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/edit/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2917 feat(fe): update colors
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/tailwind.config.ts
Labels: ⛳️ team-frontend, next-js

#2935 feat(fe): add n of m row(s) selected to course list and members list
  apps/frontend/app/admin/course/[courseId]/user/_components/GroupTable.tsx
  apps/frontend/app/admin/course/_components/GroupTable.tsx
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2921 feat(fe): show scoreweight in assessment table
  apps/frontend/app/admin/_components/code-editor/AssignmentProblemDropdown.tsx
  apps/frontend/app/admin/_components/code-editor/EditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentOverallTabs.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionAssessment.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionTestcase.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/UpdateAssignmentProblemRecordForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/page.tsx
  apps/frontend/graphql/submission/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2950 feat(infra): use argocd multiple sources instead of relative path
  apps/k8s/argocd/applications/redis-prod.yaml
  apps/k8s/argocd/applications/redis-stage.yaml
  apps/k8s/redis/Chart.yaml
  apps/k8s/redis/values-staging.yaml
Labels: ⛳️ team-infra

#2898 feat(infra): migrate client api to on premise k8s
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/client-api/aws-credentials.yaml
  apps/k8s/client-api/client-api-credentials.yaml
  apps/k8s/client-api/deployment.yaml
  apps/k8s/client-api/external-secret.yaml
  apps/k8s/client-api/ingress.yaml
  apps/k8s/client-api/service.yaml
Labels: ⛳️ team-infra

#2969 fix(infra): correct server field to use production name in redis-prod
  apps/k8s/argocd/applications/redis-prod.yaml
Labels: 🪰 bug, ⛳️ team-infra

#2981 chore(fe): modify service worker to use backend sent icon and badge
  apps/frontend/app/manifest.webmanifest
  apps/frontend/public/android-maskable-1024x1024.png
  apps/frontend/public/android-maskable-192x192.png
  apps/frontend/public/android-maskable-512x512.png
  apps/frontend/worker/index.js
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2982 feat(be): add url field on web push payload
  apps/backend/apps/admin/src/notification/notification.service.spec.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
  apps/frontend/public/logos/transparent.png
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2984 feat(be): add readBy Schema in ContestQnA
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/prisma/migrations/20250815085553_add_read_by_in_contest_qna/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/schema.gql
Labels: ⛳️ team-backend, 🍊squad-유자차

#2954 feat(fe): make login page
  apps/frontend/app/(client)/login/page.tsx
  apps/frontend/middleware.ts
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2985 feat(be): add affiliation column
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.ts
  apps/backend/apps/client/src/auth/auth.service.spec.ts
  apps/backend/apps/client/src/group/mock/group.mock.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/apps/client/src/user/dto/signup.dto.ts
  apps/backend/apps/client/src/user/dto/social-signup.dto.ts
  apps/backend/apps/client/src/user/dto/updateUser.dto.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/apps/client/src/user/user.service.ts
  apps/backend/libs/auth/src/jwt/jwt-auth.service.spec.ts
  apps/backend/libs/auth/src/roles/roles.service.spec.ts
  apps/backend/prisma/migrations/20250818150736_add_college_to_user/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/frontend/libs/constants.ts
  collection/client/User/Sign Up/Succeed.bru
  collection/client/User/Update User/Optionally update.bru
  collection/client/User/Update User/Update All Fields of User.bru
  collection/client/User/Update User/[401] Incorrect current password.bru
  collection/client/User/Update User/[422] current password needed to change password.bru
Labels: ⛳️ team-backend

#2994 chore(be): modify seed data
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/assignment/assignment.service.spec.ts
  apps/backend/prisma/seed.ts
Labels: ⛳️ team-backend

#3002 fix(fe): update config for creating course
  apps/frontend/app/admin/course/_components/CreateCourseForm.tsx
Labels: 🪰 bug, ⛳️ team-frontend, 🌊 squad-__init__

#3001 fix(be): change Request Body to Query in getContestQnAs
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/contest/dto/contest-qna.dto.ts
  collection/client/Contest/Get Contest QnAs/Succeed.bru
  collection/client/Contest/Get Contest QnAs/[404] Nonexistent Contest.bru
Labels: 🪰 bug, ⛳️ team-backend, 🍊squad-유자차

#2957 feat(fe): redesign text editor
  apps/frontend/app/admin/_components/FullScreenTextEditor.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/CodeBlockComponent.tsx
  apps/frontend/app/admin/_components/tiptap/CommandsList.tsx
  apps/frontend/app/admin/_components/tiptap/HeadingStyleBar.tsx
  apps/frontend/app/admin/_components/tiptap/InsertBar.tsx
  apps/frontend/app/admin/_components/tiptap/InsertNodeBar.tsx
  apps/frontend/app/admin/_components/tiptap/ListStyleBar.tsx
  apps/frontend/app/admin/_components/tiptap/TextStyleBar.tsx
  apps/frontend/app/admin/_components/tiptap/UndoRedoBar.tsx
  apps/frontend/app/admin/_components/tiptap/items.tsx
  apps/frontend/app/admin/_components/tiptap/styles.css
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/components/InsertDialog.tsx
  apps/frontend/components/KatexContent.tsx
  apps/frontend/components/shadcn/toggle.tsx
  apps/frontend/public/icons/texteditor-bold.svg
  apps/frontend/public/icons/texteditor-bulletlist.svg
  apps/frontend/public/icons/texteditor-code.svg
  apps/frontend/public/icons/texteditor-codeblock.svg
  apps/frontend/public/icons/texteditor-equation.svg
  apps/frontend/public/icons/texteditor-expand.svg
  apps/frontend/public/icons/texteditor-file.svg
  apps/frontend/public/icons/texteditor-h1.svg
  apps/frontend/public/icons/texteditor-h2.svg
  apps/frontend/public/icons/texteditor-h3.svg
  apps/frontend/public/icons/texteditor-image.svg
  apps/frontend/public/icons/texteditor-italic.svg
  apps/frontend/public/icons/texteditor-link.svg
  apps/frontend/public/icons/texteditor-numberedlist.svg
  apps/frontend/public/icons/texteditor-redo.svg
  apps/frontend/public/icons/texteditor-shrink.svg
  apps/frontend/public/icons/texteditor-stikethrough.svg
  apps/frontend/public/icons/texteditor-table.svg
  apps/frontend/public/icons/texteditor-underline.svg
  apps/frontend/public/icons/texteditor-undo.svg
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2999 chore(fe): update course accordion design
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ExerciseAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ResultBadge.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2880 feat(fe): make Preview for Create/Edit Contest
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/ContestOverviewLayout.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RenderProblemList.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/page.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/PreviewOverviewLayout.tsx
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/components/ContestStatusTimeDiff.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#3003 chore(be): add username in comments
  apps/backend/apps/client/src/contest/contest.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#3005 feat(be): add courseInfo to getAssignmentsByProblemId
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  collection/instructor/Assignment/Get Belonged Assignments by Problem ID/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#3010 feat(be): add search filter in contestQnA
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/contest/dto/contest-qna.dto.ts
  collection/client/Contest/Get Contest QnAs/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#3009 feat(be): implement BullMQ
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/apps/admin/src/contest/contest.module.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/notification/interface/notification.interface.ts
  apps/backend/apps/admin/src/notification/notification.listener.ts
  apps/backend/apps/admin/src/notification/notification.module.ts
  apps/backend/apps/admin/src/notification/notification.processor.ts
  apps/backend/apps/admin/src/notification/notification.scheduler.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
  apps/backend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-backend, 🍊squad-유자차

#3018 feat(be): modify assignment graded notification condition
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/notification/notification.listener.ts
  apps/backend/apps/admin/src/notification/notification.service.spec.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#3026 fix(fe): remove test modal
  apps/frontend/app/(client)/(main)/page.tsx
Labels: 🪰 bug, ⛳️ team-frontend

#3021 fix(fe): prevent infinite refetch when refresh
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/(overall)/@tabs/page.tsx
Labels: 🪰 bug, ⛳️ team-frontend, p5-urgent 🧨

#3031 feat(be): send assignment remind push
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/notification/interface/notification.interface.ts
  apps/backend/apps/admin/src/notification/notification.listener.ts
  apps/backend/apps/admin/src/notification/notification.processor.ts
  apps/backend/apps/admin/src/notification/notification.scheduler.ts
  apps/backend/apps/admin/src/notification/notification.service.spec.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/mocha-fixture.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2987 feat(fe): add splash screens for iOS PWA
  apps/frontend/app/layout.tsx
  apps/frontend/public/apple_splash_screens/10.2__iPad_landscape.png
  apps/frontend/public/apple_splash_screens/10.2__iPad_portrait.png
  apps/frontend/public/apple_splash_screens/10.5__iPad_Air_landscape.png
  apps/frontend/public/apple_splash_screens/10.5__iPad_Air_portrait.png
  apps/frontend/public/apple_splash_screens/10.9__iPad_Air_landscape.png
  apps/frontend/public/apple_splash_screens/10.9__iPad_Air_portrait.png
  apps/frontend/public/apple_splash_screens/11__iPad_Pro_M4_landscape.png
  apps/frontend/public/apple_splash_screens/11__iPad_Pro_M4_portrait.png
  apps/frontend/public/apple_splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png
  apps/frontend/public/apple_splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png
  apps/frontend/public/apple_splash_screens/12.9__iPad_Pro_landscape.png
  apps/frontend/public/apple_splash_screens/12.9__iPad_Pro_portrait.png
  apps/frontend/public/apple_splash_screens/13__iPad_Pro_M4_landscape.png
  apps/frontend/public/apple_splash_screens/13__iPad_Pro_M4_portrait.png
  apps/frontend/public/apple_splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png
  apps/frontend/public/apple_splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png
  apps/frontend/public/apple_splash_screens/8.3__iPad_Mini_landscape.png
  apps/frontend/public/apple_splash_screens/8.3__iPad_Mini_portrait.png
  apps/frontend/public/apple_splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png
  apps/frontend/public/apple_splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png
  apps/frontend/public/apple_splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png
  apps/frontend/public/apple_splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png
  apps/frontend/public/apple_splash_screens/iPhone_11__iPhone_XR_landscape.png
  apps/frontend/public/apple_splash_screens/iPhone_11__iPhone_XR_portrait.png
  apps/frontend/public/apple_splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png
  apps/frontend/public/apple_splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png
  apps/frontend/public/apple_splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png
  apps/frontend/public/apple_splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png
  apps/frontend/public/apple_splash_screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png
  apps/frontend/public/apple_splash_screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png
  apps/frontend/public/apple_splash_screens/iPhone_16_Pro_Max_landscape.png
  apps/frontend/public/apple_splash_screens/iPhone_16_Pro_Max_portrait.png
  apps/frontend/public/apple_splash_screens/iPhone_16_Pro_landscape.png
  apps/frontend/public/apple_splash_screens/iPhone_16_Pro_portrait.png
  apps/frontend/public/apple_splash_screens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_landscape.png
  apps/frontend/public/apple_splash_screens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_portrait.png
  apps/frontend/public/apple_splash_screens/iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png
  apps/frontend/public/apple_splash_screens/iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png
  apps/frontend/public/apple_splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png
  apps/frontend/public/apple_splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png
  apps/frontend/public/apple_splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png
  apps/frontend/public/apple_splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#3043 chore(fe): change main banner resolution
  apps/frontend/public/banners/main_banner.png
Labels: ⛳️ team-frontend, 💡 feature-client

#3036 fix(be): correct scoreWeight conversion logic
  apps/backend/apps/admin/src/problem/model/testcase.input.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/libs/constants/src/score-calculation.constants.ts
  apps/backend/prisma/migrations/20250827171457_set_score_weight_as_not_null/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/schema.gql
  collection/admin/Problem/Create Testcases/Succeed.bru
Labels: ⛳️ team-backend, 💡 feature-admin, 🌊 squad-__init__

#3004 feat(fe): make course page responsive
  apps/frontend/app/(client)/(main)/_components/Carousel.tsx
  apps/frontend/app/(client)/(main)/_components/Header.tsx
  apps/frontend/app/(client)/(main)/_contexts/HeaderTitleContext.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseInfoBox.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseSidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ExerciseAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeStatisticsModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ProblemCard.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/exercise/[exerciseId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/exercise/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/app/(client)/(main)/layout.tsx
  apps/frontend/components/auth/MobileMenu.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#3044 fix(infra): update targetRevision to 0.16.5 in redis.yaml
  apps/k8s/argocd/applications/redis.yaml
Labels: 🪰 bug, ⛳️ team-infra

#2973 feat(fe): implement qna create page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/Content.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/ProblemDropdown.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/ProblemSelector.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/QnaForm.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/SubmitButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/Title.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
  apps/frontend/public/icons/pen.svg
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client, 🍊squad-유자차

#2958 feat(fe): impl qna detail page and comment
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentPostArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaContentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaDeleteButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaErrorPage.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaSingleComment.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/context/QnaCommentStoreProvider.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
  apps/frontend/components/DeleteButton.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#3000 feat(fe): make create qna in codeEditor
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/context/RefetchingQnaCommentsStoreProvider.tsx
  apps/frontend/app/(client)/(code-editor)/_libs/hooks/useSubmissionPolling.ts
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CommentsArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateComments.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateQnaTextArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/FullHeightAccordionContent.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QnaAccordion.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QuestionAnswerArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/page.tsx
  apps/frontend/components/ContestStatusTimeDiff.tsx
  apps/frontend/components/shadcn/textarea.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend

#3052 fix(be): do no allow autoFinalizeScore before dueTime
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  pnpm-workspace.yaml
Labels: ⛳️ team-backend, 🌊 squad-__init__

#3061 fix(infra): add aws-credentials.yaml to stage client api
  apps/k8s/client-api/overlays/stage/kustomization.yaml
Labels: 🪰 bug

#3022 feat(fe): make qna main page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/LoginButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnACategoryFilter.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnADataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAMainTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAPostButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/SearchBar.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
  apps/frontend/public/icons/arrow-down.svg
Labels: ⛳️ team-frontend, 🍊squad-유자차

#3069 fix(be): separate cache db
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/libs/cache/src/cache-config.service.ts
Labels: ⛳️ team-backend

#3013 fix(be): disable admin guard instead filter submissions with managing groups and contests
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/libs/auth/src/roles/group-leader.guard.ts
Labels: ⛳️ team-backend, 💡 feature-admin

#3070 feat(fe): make course dashboard responsive
  apps/frontend/app/(client)/(main)/course/_components/Dashboard.tsx
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/components/shadcn/drawer.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#3032 feat(fe): implement testcase equal distribution with fraction
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/app/admin/problem/_libs/schemas.ts
  apps/frontend/app/admin/problem/_libs/utils.ts
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#3062 feat(fe): change course code system
  apps/frontend/app/admin/course/_components/CourseFormFields.tsx
  apps/frontend/app/admin/course/_components/CreateCourseButton.tsx
  apps/frontend/app/admin/course/_components/CreateCourseForm.tsx
  apps/frontend/app/admin/course/_components/InputForm.tsx
  apps/frontend/app/admin/course/_components/UpdateCourseButton.tsx
  apps/frontend/app/admin/course/_libs/schema.ts
  apps/frontend/components/Modal.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#3045 feat(fe): add auto finalize button
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTable.tsx
  apps/frontend/graphql/assignment/mutations.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#3071 fix(be): modify permission of user without logging in for contest
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Create Contest QnA Comment/[401] Cannot comment without logging in.bru
  collection/client/Contest/Create Contest QnA/[401] Cannot post QnA without logging in.bru
  collection/client/Contest/Delete Contest QnA Comment/[401] Cannot delete Comment without logging in.bru
  collection/client/Contest/Delete Contest QnA/[401] Cannot delete QnA without logging in.bru
  collection/client/Contest/Get Contest QnAs/[403] Cannot access QnAs in ongoing contest without logging in.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#3080 fix(infra): connect monitoring
  apps/backend/libs/instrumentation.ts
  apps/infra/production/dns/.terraform.lock.hcl
  apps/infra/production/dns/monitoring.tf
  apps/infra/stage/server2/Caddyfile
  apps/iris/src/instrumentation.go
  apps/k8s/admin-api/base/configmap.yaml
  apps/k8s/client-api/base/configmap.yaml
  apps/k8s/iris/base/configmap.yaml
Labels: ⛳️ team-infra

#3077 feat(infra): setup loki
  apps/k8s/argocd/applications/monitoring/loki.yaml
  apps/k8s/monitoring/loki/values.yaml
Labels: ⛳️ team-infra

#3085 feat(be): implement notice notification
  apps/backend/apps/admin/src/notice/notice.resolver.ts
  apps/backend/apps/admin/src/notice/notice.service.spec.ts
  apps/backend/apps/admin/src/notice/notice.service.ts
  apps/backend/apps/admin/src/notification/notification.listener.ts
  apps/backend/apps/admin/src/notification/notification.service.spec.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#3095 fix(fe): fix course invitation whitelist sample csv download
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteByCode.tsx
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#3101 chore(be): add username and comments in get Contest QnA/QnAs of admin module
  apps/backend/apps/admin/src/contest/contest.service.ts
  collection/admin/Contest/Get Contest QnA/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#3057 fix(fe): revise qna detail page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentPostArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaContentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaDetailDeleteButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaSingleComment.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
  apps/frontend/components/DeleteButton.tsx
  apps/frontend/graphql/contest/queries.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#3097 chore(fe): prevent isPasswordVisible activation when pressing enter on signIn modal
  apps/frontend/components/auth/SignIn.tsx
Labels: ⛳️ team-frontend

#3093 feat(fe): add notification settings
  apps/frontend/app/(client)/(main)/settings/_components/PushNotificationSection.tsx
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/components/notification/NotificationDropdown.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#3081 fix(fe): revise qna main page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAAlertModal.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnACategoryFilter.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAPostButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
  apps/frontend/public/icons/info-blue.svg
Labels: ⛳️ team-frontend, 🍊squad-유자차

#3104 feat(fe): implement responsive notice page for mobile
  apps/frontend/app/(client)/(main)/notice/layout.tsx
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#3033 feat(fe): make testcase scoring overview
  apps/frontend/app/admin/_components/table/constants.ts
  apps/frontend/app/admin/_components/tiptap/TextStyleBar.tsx
  apps/frontend/app/admin/course/[courseId]/_components/DataTableProblemFilterMini.tsx
  apps/frontend/app/admin/course/[courseId]/_components/SubmissionColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsOverall.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/CommentCell.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/DataTableProblemFilterSingle.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableOverall.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/page.tsx
  apps/frontend/graphql/assignment/queries.ts
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#3112 fix(fe): enable to access detail page even when logout
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
Labels: 🪰 bug, ⛳️ team-frontend, 🍊squad-유자차

#3115 fix(fe): revise qna main page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnACategoryFilter.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnADataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAMainTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#3108 fix(fe): fix solution manually infinite error
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentSolutionColumns.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentSolutionTable.tsx
  apps/frontend/components/shadcn/date-time-picker-demo.tsx
Labels: 🪰 bug, ⛳️ team-frontend, p5-urgent 🧨, 💡 feature-admin, 🌊 squad-__init__

#3120 feat(fe): let modifying affliation and major
  apps/frontend/app/(client)/(main)/settings/_components/MajorSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/context.ts
  apps/frontend/app/(client)/(main)/settings/_libs/schemas.ts
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/app/(client)/_libs/apis/profile.ts
Labels: ⛳️ team-frontend, 💡 feature-client
