Repository skkuding/codedang, pull requests merged in 2025-06, with the labels that each got.

#2787 refactor(fe): remove duplicate api call in code editor
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/context/ProblemContext.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/solution/page.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/exercise/[exerciseId]/problem/[problemId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2815 fix(infra): correct resource label
  apps/backend/libs/instrumentation.ts
  apps/backend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-infra

#2824 feat(fe): conceal status diff when being infinite duetime
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentStatus.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__
