Repository skkuding/codedang, pull requests merged in 2025-04, with the labels that each got.

#2634 fix(be): fix finalScore not visible on management page bug
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2631 fix(be): fix unfreeze error
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  collection/admin/Contest/Update Contest/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2632 feat(be): make ProblemTestcase input/output field optional for migration
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/prisma/migrations/20250331141128_optional_problem_testcase_io_field/migration.sql
  apps/backend/prisma/schema.prisma
Labels: ⛳️ team-backend, ⛳️ squad-채점핑

#2635 feat(fe): preview hide hint if empty
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/admin/_components/code-editor/EditorDescription.tsx
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2636 fix(be): add role validation for contest problem
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/prisma/seed.ts
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Participate Contest/Succeed.bru
  collection/client/Contest/Participate Contest/[404] Nonexistent Contest.bru
  collection/client/Contest/Participate Contest/[409] Already Participated.bru
  collection/client/Contest/Participate Contest/[409] Ended Contest.bru
  collection/client/Contest/Participate Contest/[409] Invalid Invitation Code.bru
  collection/client/Contest/Participate group contest/Succeed.bru
  collection/client/Problem/Get Contest Problem by ID/Succeed.bru
  collection/client/Problem/Get Contest Problems/Succeed.bru
  collection/client/login.js
Labels: ⛳️ team-backend, 🍊squad-유자차

#2638 feat(fe): activate leaderboard unfreeze
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/_components/LeaderboardUnfreezeSwitchDialog.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2640 fix(fe): prevent toggle change when template is cleared
  apps/frontend/app/admin/problem/_components/CodeForm.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2646 feat(fe): impl hide panel button
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/components/CodeEditor.tsx
Labels: 💡 feature-client

#2651 fix(fe): route to assignment detail when click exit
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/finished/problem/[problemId]/page.tsx
Labels: 💡 feature-client, 🌊 squad-__init__

#2641 feat(fe): improve datatable link
  apps/frontend/app/(client)/(code-editor)/_components/SubmissionTable.tsx
  apps/frontend/app/(client)/(main)/_components/DataTable.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2647 docs(fe): make another getUsers query for setManager
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/graphql/user/queries.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2649 feat(fe): add zoom in/out button to code editor
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/components/CodeEditor.tsx
  apps/frontend/components/shadcn/scroll-area.tsx
Labels: ⛳️ team-frontend

#2652 fix(fe): resolve contest poster problem
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/app/admin/contest/create/_components/PosterUploadForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2639 feat(be): replace cron job with inviteAllCourseMembersToAssignment
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/group/group.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/libs/prisma/src/prisma.test.service.ts
  apps/backend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2653 fix(fe): break through contest problems by contest role
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RenderProblemList.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🍊squad-유자차

#2648 feat(be): implement getAssignmentSubmissionSummary
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  collection/client/Submission/Get Assignment Submission Summary/Succeed.bru
  collection/client/Submission/Get Assignment Submission Summary/[403] Non participating assignment.bru
  collection/client/Submission/Get Assignment Submission Summary/folder.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2659 fix(be): fix summary field problem
  apps/backend/apps/admin/src/contest/contest.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2643 feat(fe): add toggle on admin-user-createpermission
  apps/frontend/FETCH_HEAD
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/user/_components/Columns.tsx
  apps/frontend/app/admin/user/_components/UpdatePermissionSwitch.tsx
  apps/frontend/app/admin/user/_components/UserTable.tsx
  apps/frontend/git
  apps/frontend/graphql/user/mutation.ts
  apps/frontend/graphql/user/queries.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2642 chore(fe): set checkbox default background transparent
  apps/frontend/app/admin/contest/_components/ContestTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/Columns.tsx
  apps/frontend/app/admin/course/_components/Columns.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTableColumns.tsx
  apps/frontend/components/shadcn/checkbox.tsx
Labels: 💡 feature-admin, 🌊 squad-__init__

#2645 fix(fe): handle default start time of assignment
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/admin/_components/TimeForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/grade/_components/GradeAssignmentTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/page.tsx
  apps/frontend/components/AssignmentStatusTimeDiff.tsx
  apps/frontend/components/shadcn/date-time-picker-demo.tsx
  apps/frontend/libs/constants.ts
  apps/frontend/libs/utils.ts
Labels: 💡 feature-admin, 🌊 squad-__init__

#2655 feat(fe): update management course assignment create and edit
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/admin/_components/FormSection.tsx
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/_components/code-editor/EditorDescription.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentProblemListLabel.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/WeekComboBox.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/components/shadcn/date-time-picker-demo.tsx
Labels: 💡 feature-admin, 🌊 squad-__init__

#2613 feat(be): implement function for downloading source code
  apps/backend/apps/admin/src/submission/enum/language-extensions.enum.ts
  apps/backend/apps/admin/src/submission/submission.controller.ts
  apps/backend/apps/admin/src/submission/submission.module.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/package.json
  collection/admin/Submission/Download SourceCode from URL/Succeed.bru
  collection/admin/Submission/Get URL for downloading SourceCode/Succeed.bru
  collection/admin/environments/Local.bru
  pnpm-lock.yaml
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2656 fix(fe): fix leaderboard display on client leaderboard page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/error.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2661 fix(fe): resolve edit contest problems
  apps/frontend/app/admin/_components/SummaryForm.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2666 chore(fe): unactivate unfreeze tooltip
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2650 fix(fe): let route to assignment or contest list when click each from…
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
Labels: 💡 feature-client, 🌊 squad-__init__

#2660 feat(be): use isJudgeResultVisible as isHiddenTestcaseVisible
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2575 feat(fe): improve contest all submission
  apps/frontend/app/admin/_components/table/DataTable.tsx
  apps/frontend/app/admin/_components/table/DataTableProblemFilter.tsx
  apps/frontend/app/admin/_components/table/DataTableRoot.tsx
  apps/frontend/app/admin/_components/table/DataTableSortButton.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/submission/_components/Columns.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/submission/_components/SubmissionTable.tsx
  apps/frontend/app/admin/contest/[contestId]/_components/SubmissionDetailAdmin.tsx
  apps/frontend/app/admin/contest/[contestId]/participant/[userId]/_components/SubmissionColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/_components/SubmissionTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/participant/[userId]/_components/SubmissionColumns.tsx
  apps/frontend/graphql/submission/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2669 fix(fe): manager reviewer modal problems
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/AddManagerReviewerDialog.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2670 feat: add rc amplify terraform
  apps/infra/rc/codedang/amplify.tf
  apps/infra/rc/codedang/cloudfront.tf
Labels: ⛳️ team-infra

#2671 fix(be): filter hidden testcases from submission results
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2672 fix(be): fix gql error when trying to grade with finalScore 0
  apps/backend/apps/admin/src/assignment/model/assignment-problem-record-input.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2673 fix(fe): editor text color theme
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/_libs/apis/assignmentSubmission.ts
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/components/CodeEditor.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2676 fix(be): fix contest leaderboard frozen
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/admin/User/Get Users/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2589 feat(fe): implement runner websocket terminal
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/RunTestButton.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/RunnerTab.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useRunner.ts
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/xterm.css
  apps/frontend/libs/constants.ts
  apps/frontend/package.json
  apps/frontend/stores/editorTabs.ts
  apps/frontend/types/type.ts
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, ⛳️ squad-채점핑

#2654 feat(be): remove group id from notice
  apps/backend/apps/admin/src/notice/notice.resolver.ts
  apps/backend/apps/admin/src/notice/notice.service.spec.ts
  apps/backend/apps/admin/src/notice/notice.service.ts
  apps/backend/apps/client/src/notice/notice.controller.ts
  apps/backend/apps/client/src/notice/notice.service.spec.ts
  apps/backend/apps/client/src/notice/notice.service.ts
  apps/backend/prisma/migrations/20250403092824_remove_group_id_from_notice/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/frontend/app/(client)/(main)/notice/[noticeId]/page.tsx
  apps/frontend/app/(client)/(main)/notice/_components/NoticeTable.tsx
  apps/frontend/app/admin/notice/[noticeId]/page.tsx
  apps/frontend/app/admin/notice/_components/CreateNoticeForm.tsx
  apps/frontend/graphql/notice/mutation.ts
  apps/frontend/graphql/notice/queries.ts
  collection/admin/Notice/Create Notice/NOT_FOUND.bru
  collection/admin/Notice/Create Notice/Succeed.bru
  collection/admin/Notice/Delete Notice/NOT_FOUND.bru
  collection/admin/Notice/Delete Notice/Succeed.bru
  collection/admin/Notice/Get Notices/Succeed.bru
  collection/admin/Notice/Get a Notice/NOT_FOUND.bru
  collection/admin/Notice/Get a Notice/Succeed.bru
  collection/admin/Notice/Update Notice/Succeed.bru
  collection/client/Notice/Get all notices/Succeed.bru
  collection/client/Notice/Get notice by ID/Succeed.bru
Labels: ⛳️ team-backend, ⛳️ team-frontend

#2683 feat(infra): rc acm validation automation
  .github/workflows/rc-acm-validation.yml
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/acm-validation/main.tf
  apps/infra/rc/acm-validation/outputs.tf
  apps/infra/rc/acm-validation/variables.tf
  apps/infra/rc/network/outputs.tf
  apps/infra/rc/network/route53.tf
Labels: ⛳️ team-infra

#2684 fix(infra): acm validation workflow fix
  .github/workflows/rc-acm-validation.yml
Labels: ⛳️ team-infra

#2686 fix(infra): fix rc acm validation workflow
  .github/workflows/rc-acm-validation.yml
Labels: ⛳️ team-infra

#2687 fix(infra): fix rc acm validation workflow3
  .github/workflows/rc-acm-validation.yml
Labels: ⛳️ team-infra

#2689 fix(infra): fix rc acm validation workflow5
  .github/workflows/rc-acm-validation.yml
Labels: ⛳️ team-infra

#2690 fix(infra): fix rc acm validation workflow6
  .github/workflows/rc-acm-validation.yml
Labels: ⛳️ team-infra

#2680 feat(be): admin get contests order
  apps/backend/apps/admin/src/contest/contest.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2692 fix(infra): fix rc acm validation workflow
  .github/workflows/rc-acm-validation.yml
Labels: ⛳️ team-infra

#2693 fix(infra): fix acm validation workflow
  .github/workflows/rc-acm-validation.yml
Labels: ⛳️ team-infra

#2694 fix(infra): fix rc acm validation workflow
  .github/workflows/rc-acm-validation.yml
Labels: ⛳️ team-infra

#2695 fix(infra): fix acm validation workflow
  .github/workflows/rc-acm-validation.yml
  apps/infra/rc/acm-validation/.terraform.lock.hcl
  apps/infra/rc/acm-validation/main.tf
  apps/infra/rc/network/route53.tf
Labels: ⛳️ team-infra

#2696 fix(infra): fix acm validation backend config
  apps/infra/rc/acm-validation/main.tf
Labels: ⛳️ team-infra

#2697 fix(infra): fix acm validation workflow
  .github/workflows/rc-deploy.yml
Labels: ⛳️ team-infra

#2699 fix(infra): fix cloudfront.tf typo
  apps/infra/rc/codedang/cloudfront.tf
Labels: ⛳️ team-infra

#2701 fix(be): fix permission issues on getSubmission
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차, 🌊 squad-__init__

#2704 feat(infra): add destroy acm-validation folder functionality in destroy workflows
  .github/workflows/rc-destroy-target.yml
  .github/workflows/rc-destroy.yml
Labels: ⛳️ team-infra

#2713 feat(be): implement exercise
  apps/backend/apps/admin/src/assignment/assignment.resolver.ts
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/assignment/model/assignment.input.ts
  apps/backend/apps/client/src/assignment/assignment.controller.ts
  apps/backend/apps/client/src/assignment/assignment.service.spec.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/package.json
  apps/backend/prisma/migrations/20250429053044_add_exercise/migration.sql
  apps/backend/prisma/schema.prisma
  collection/client/Assignment/Get My Assignments Summary/._Succeed.bru
  collection/client/Assignment/Get My Assignments Summary/Succeed.bru
  collection/client/Assignment/Get assignments/._Succeed.bru
  collection/client/Assignment/Get assignments/Succeed.bru
  collection/instructor/Assignment/Create Assignment/._Succeed.bru
  collection/instructor/Assignment/Create Assignment/Succeed.bru
  collection/instructor/Assignment/Get Assignments/._Succeed.bru
  collection/instructor/Assignment/Get Assignments/Succeed.bru
  collection/instructor/Assignment/Update Assignment/._Succeed.bru
  collection/instructor/Assignment/Update Assignment/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__
