Repository skkuding/codedang, pull requests merged in 2025-10, with the labels that each got.

#3208 fix(infra): replace bitnami/minio with lazybit/minio
  .github/workflows/ci.yml
Labels: 🪰 bug, feat: ci

#3203 fix(infra): update AWS region with enhanced error handling
  apps/frontend/libs/instagram.ts
Labels: 🪰 bug, ⛳️ team-frontend

#3176 feat(fe): add mobile main banners publishing
  apps/frontend/app/(client)/(main)/_components/Carousel.tsx
  apps/frontend/app/(client)/(main)/_components/MiddleContestBanner.tsx
  apps/frontend/app/(client)/(main)/page.tsx
Labels: ⛳️ team-frontend

#3198 feat(infra): tempo k8s monitoring
  infra/k8s/argocd/applications/monitoring/tempo.yaml
  infra/k8s/monitoring/grafana/values.yaml
  infra/k8s/monitoring/otel-collector/otel-collector.yaml
  infra/k8s/monitoring/tempo/values.yaml
Labels: ⛳️ team-infra

#3210 fix(fe): match submission badge with according problem
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ExerciseAccordion.tsx
Labels: 🪰 bug, 💡 feature-client, 🌊 squad-__init__
