Repository skkuding/codedang, pull requests merged in 2025-05, with the labels that each got.

#2719 fix(fe): fix switch toggle
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/_components/LeaderboardUnfreezeSwitchDialog.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2675 fix(fe): fix test editor tiptap warning
  apps/frontend/app/admin/_components/FullScreenTextEditor.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/commands.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2714 chore(be): specify last accepted time for contest
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2723 chore(be): get participation info to admin get contest
  apps/backend/apps/admin/src/contest/contest.service.ts
  collection/admin/Contest/Get Contest/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2710 chore(fe): disable enter key for hide panel button
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2730 fix(fe): allow empty description assignment
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_libs/schemas.ts
  apps/frontend/app/admin/course/[courseId]/assignment/create/_components/CreateAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2718 chore(fe): remove cursor pointer and hover from user list
  apps/frontend/app/admin/user/_components/UserTable.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2720 fix(fe): create edit contest error
  apps/frontend/app/admin/_components/SummaryForm.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/AddManagerReviewerDialog.tsx
  apps/frontend/app/admin/contest/_components/EnableCopyPasteForm.tsx
  apps/frontend/app/admin/contest/_components/FreezeForm.tsx
  apps/frontend/app/admin/contest/_components/PosterUploadForm.tsx
  apps/frontend/app/admin/contest/_components/SampleTestcaseForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/libs/constants.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#2711 refactor(fe): redesign invite code section and invite email form
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
  apps/frontend/app/globals.css
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2733 feat(be): implement dueTime
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/assignment/model/assignment.input.ts
  apps/backend/apps/client/src/assignment/assignment.service.spec.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20250506225054_add_duetime/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/instructor/Assignment/Create Assignment/Succeed.bru
  collection/instructor/Assignment/Create Assignment/[ERR] End Time Earlier than Start Time.bru
  collection/instructor/Assignment/Create Assignment/[ERR] Nonexistent Group.bru
  collection/instructor/Assignment/Delete Assignment/Succeed.bru
  collection/instructor/Assignment/Delete Assignment/[ERR] Nonexistent Assignment.bru
  collection/instructor/Assignment/Duplicate Assignment/Succeed.bru
  collection/instructor/Assignment/Get Assignments/Succeed.bru
  collection/instructor/Assignment/Update Assignment/Succeed.bru
  collection/instructor/Assignment/Update Assignment/[404] Nonexistent Assignment.bru
  collection/instructor/Assignment/Update Assignment/[422] End Time Earlier than Start Time.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2740 fix(be): set duetime as endtime for existing records
  apps/backend/prisma/migrations/20250506225054_add_duetime/migration.sql
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2735 chore(fe): remove hidden tc from default value
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2725 refactor(fe): integrate grade page into assignment page
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
  apps/frontend/app/admin/_components/code-editor/EditorLayout.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/_components/ParticipantTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/GradeAssignmentTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/GradeAssignmentTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/FinalScoreForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionAssessment.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionSummary.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionTestcase.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/UpdateAssignmentProblemRecordForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_libs/schemas.ts
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/layout.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/statictics/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/_components/AssignmentOverallTabs.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/error.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/page.tsx
  apps/frontend/app/admin/course/[courseId]/grade/error.tsx
  apps/frontend/app/admin/course/[courseId]/grade/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2743 feat(iris): add support for judging pypy3
  .devcontainer/Dockerfile
  apps/backend/libs/constants/src/submission.constants.ts
  apps/backend/prisma/migrations/20250509042559_add_pypy3_on_langauge_enum/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/problem/_components/editor/editorConfig.ts
  apps/frontend/app/admin/problem/_components/editor/formatConfigs.ts
  apps/frontend/app/admin/problem/_components/editor/formatters.ts
  apps/frontend/app/admin/problem/_libs/schemas.ts
  apps/frontend/components/CodeEditor.tsx
  apps/frontend/libs/constants.ts
  apps/frontend/types/type.ts
  apps/iris/Dockerfile
  apps/iris/src/service/sandbox/judger/langConfig.go
  apps/iris/src/service/sandbox/langConfig.go
Labels: ⛳️ squad-채점핑

#2742 fix(fe): duplicated participant managerreviewer error
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/AddManagerReviewerDialog.tsx
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2746 fix(fe): set dueTime to be equal to endTime temporarily
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/_components/EditAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_libs/schemas.ts
  apps/frontend/app/admin/course/[courseId]/assignment/create/_components/CreateAssignmentForm.tsx
Labels: 💡 feature-admin, 🌊 squad-__init__

#2741 feat(fe): add refresh button on submission tab
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/context/ReFetchingSubmissionStoreProvider.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionPaginatedTable.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2728 feat(be): add createdBy in contest resolver
  apps/backend/apps/admin/src/contest/contest.module.ts
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  collection/admin/Contest/Get Contests/Succeed.bru
  collection/admin/Notice/Get Notices/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2738 feat(be): implement solution
  apps/backend/apps/admin/src/assignment/assignment.resolver.ts
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/assignment/model/assignment-problem.input.ts
  apps/backend/apps/admin/src/assignment/model/problem-score.input.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/model/problem.input.ts
  apps/backend/apps/admin/src/problem/model/solution.input.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/mock/problem.mock.ts
  apps/backend/prisma/migrations/20250505075207_add_solution_to_problem/migration.sql
  apps/backend/prisma/migrations/20250508075803_add_solution_release_time_to_assignment_problem/migration.sql
  apps/backend/prisma/schema.prisma
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/_components/EditAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentSolutionColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentSolutionTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_libs/type.ts
  apps/frontend/app/admin/course/[courseId]/assignment/_libs/utils.ts
  apps/frontend/app/admin/course/[courseId]/assignment/create/_components/CreateAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/graphql/assignment/mutations.ts
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/graphql/problem/queries.ts
  collection/admin/Problem/Create Problem/._Succeed.bru
  collection/admin/Problem/Create Problem/Succeed.bru
  collection/admin/Problem/Get AssignmentProblems/._NOT_FOUND.bru
  collection/admin/Problem/Get AssignmentProblems/._Succeed.bru
  collection/admin/Problem/Get AssignmentProblems/NOT_FOUND.bru
  collection/admin/Problem/Get AssignmentProblems/Succeed.bru
  collection/admin/Problem/Get Problems/._Succeed.bru
  collection/admin/Problem/Get Problems/Succeed.bru
  collection/admin/Problem/Get a Problem/._Succeed.bru
  collection/admin/Problem/Get a Problem/Succeed.bru
  collection/admin/Problem/Update AssignmentProblems Score/._Succeed.bru
  collection/admin/Problem/Update AssignmentProblems Score/._folder.bru
  collection/admin/Problem/Update AssignmentProblems Score/Succeed.bru
  collection/admin/Problem/Update AssignmentProblems Score/folder.bru
  collection/admin/Problem/Update a Problem/._Succeed.bru
  collection/admin/Problem/Update a Problem/Succeed.bru
  collection/instructor/Assignment/Import Problems to Assignment/._Succeed.bru
  collection/instructor/Assignment/Import Problems to Assignment/Succeed.bru
  collection/instructor/Assignment/Remove Problems From Assignment/._Succeed.bru
  collection/instructor/Assignment/Remove Problems From Assignment/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2734 feat(be): extend import problem authority
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Get Problems/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2760 feat(fe): improve management assignment detail
  apps/frontend/app/admin/_components/code-editor/AssignmentProblemDropdown.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/_components/DataTableProblemFilterMini.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/_components/ParticipantTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/_components/ParticipationColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/_components/SubmissionColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/_components/SubmissionTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/_components/AssignmentOverallTabs.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2767 feat(fe): make enableCopyPaste UI to disableCopyPaste UI in contest create/edit
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/DisableCopyPasteForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2768 feat(fe): change code editor header buttons position
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2758 fix(fe): contest ongoing edit available
  apps/frontend/app/admin/_components/FormSection.tsx
  apps/frontend/app/admin/_components/Label.tsx
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/layout.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/_components/ContestEditEndTimeForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/_components/date-time-picker-ongoing-contest.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/DisableCopyPasteForm.tsx
  apps/frontend/app/admin/contest/_components/FreezeForm.tsx
  apps/frontend/app/admin/contest/_components/PosterUploadForm.tsx
  apps/frontend/app/admin/contest/_components/SampleTestcaseForm.tsx
  apps/frontend/graphql/contest/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2761 fix(fe): import problem modal
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/ImportDialog.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/graphql/problem/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2769 feat(fe): add due time field in assignment edit
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseSidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/DetailButton.tsx
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentProblemListLabel.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentSolutionColumns.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentSolutionTable.tsx
  apps/frontend/app/admin/course/[courseId]/_components/CreateAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/_components/EditAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/_components/WeekComboBox.tsx
  apps/frontend/app/admin/course/[courseId]/_libs/schemas.ts
  apps/frontend/app/admin/course/[courseId]/_libs/type.ts
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentProblemColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/create/page.tsx
  apps/frontend/app/admin/course/_components/TimeFormPopover.tsx
  apps/frontend/components/Icons.tsx
  apps/frontend/graphql/assignment/queries.ts
  apps/frontend/graphql/problem/queries.ts
Labels: 💡 feature-admin, 🌊 squad-__init__

#2773 feat(be): only superadmin can see all contest
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/libs/auth/src/roles/contest-roles.guard.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2772 feat(fe): show solution icon in assignment information
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2759 refactor(be): admin problem module
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/apps/admin/src/assignment/assignment-problem.resolver.ts
  apps/backend/apps/admin/src/assignment/assignment-problem.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment-problem.service.ts
  apps/backend/apps/admin/src/assignment/assignment.module.ts
  apps/backend/apps/admin/src/contest/contest-problem.resolver.ts
  apps/backend/apps/admin/src/contest/contest-problem.service.spec.ts
  apps/backend/apps/admin/src/contest/contest-problem.service.ts
  apps/backend/apps/admin/src/contest/contest.module.ts
  apps/backend/apps/admin/src/problem/problem.module.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/admin/src/problem/resolvers/file.resolver.ts
  apps/backend/apps/admin/src/problem/resolvers/index.ts
  apps/backend/apps/admin/src/problem/resolvers/problem-tag.resolver.ts
  apps/backend/apps/admin/src/problem/resolvers/problem.resolver.spec.ts
  apps/backend/apps/admin/src/problem/resolvers/problem.resolver.ts
  apps/backend/apps/admin/src/problem/resolvers/testcase.resolver.ts
  apps/backend/apps/admin/src/problem/services/file.service.ts
  apps/backend/apps/admin/src/problem/services/index.ts
  apps/backend/apps/admin/src/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/admin/src/problem/services/tag.service.spec.ts
  apps/backend/apps/admin/src/problem/services/tag.service.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.spec.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
  apps/backend/apps/admin/src/workbook/workbook-problem.resolver.ts
  apps/backend/apps/admin/src/workbook/workbook-problem.service.spec.ts
  apps/backend/apps/admin/src/workbook/workbook-problem.service.ts
  apps/backend/apps/admin/src/workbook/workbook.module.ts
  apps/frontend/app/admin/contest/_components/ImportDialog.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/problem/shared/_components/SharedProblemTable.tsx
  apps/frontend/graphql/problem/queries.ts
  collection/admin/Problem/Get Problems/Succeed.bru
Labels: ⛳️ team-backend

#2776 fix(fe): email finished contest error
  apps/frontend/app/admin/_components/FormSection.tsx
  apps/frontend/app/admin/_components/Label.tsx
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/AddManagerReviewerDialog.tsx
  apps/frontend/app/admin/contest/_components/DisableCopyPasteForm.tsx
  apps/frontend/app/admin/contest/_components/FreezeForm.tsx
  apps/frontend/app/admin/contest/_components/SampleTestcaseForm.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2779 chore(fe): modify assignment detail assessment ui
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTable.tsx
Labels: 🌊 squad-__init__

#2778 feat(fe): implement due in exercise
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentStatus.tsx
  apps/frontend/app/admin/course/[courseId]/_components/ImportDialog.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/create/page.tsx
  apps/frontend/components/StatusTimeDiff.tsx
  apps/frontend/public/icons/calendar.svg
  apps/frontend/public/icons/clock.svg
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2786 fix(be): extend contest problem visible authority
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/client/src/contest/contest.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2781 feat(fe): remove test case in contest code editor
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionDetail.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2789 chore(fe): change default sort algorithm
  apps/frontend/app/admin/contest/_components/ContestTable.tsx
  apps/frontend/app/admin/contest/_components/ContestTableColumns.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2790 feat(fe): add PyPy3 documentation and change document modal design
  apps/frontend/app/(client)/(code-editor)/_components/ReferenceDialog.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2792 chore(be): return user role to contest leaderboard
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get Leaderboard/succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2801 feat(fe): allow contest admin and manager to see the client leaderboard before finish
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/apis/getContestLeaderboard.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2802 feat(fe): remove string cheeze
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2803 feat(fe): show real name on admin table
  apps/frontend/app/admin/user/_components/UserTable.tsx
  apps/frontend/graphql/user/queries.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2805 chore(be): leaderboard userid optional
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get Leaderboard/succeed.bru
Labels: 🍊squad-유자차

#2806 chore(fe): change variable name
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/apis/getContestLeaderboard.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2807 feat(fe): no contest no visible toggle
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2810 fix(infra): enable instrumentation for default
  .env.development
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/client/src/main.ts
  apps/iris/main.go
Labels: 🪰 bug, ⛳️ team-infra

#2808 feat(fe): add statistics introducing page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/error.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/page.tsx
  apps/frontend/public/captures/statistics-chart.gif
  apps/frontend/public/captures/statistics-leaderboard.gif
  apps/frontend/public/captures/statistics-submissions.gif
Labels: ⛳️ team-frontend
