Repository skkuding/codedang, pull requests merged in 2025-09, with the labels that each got.

#3090 feat(infra): setup grafana
  apps/k8s/argocd/applications/monitoring/grafana.yaml
  apps/k8s/argocd/applications/monitoring/minio.yaml
  apps/k8s/monitoring/grafana/admin-user.yaml
  apps/k8s/monitoring/grafana/kustomization.yaml
  apps/k8s/monitoring/grafana/namespace.yaml
  apps/k8s/monitoring/grafana/values.yaml
Labels: ⛳️ team-infra

#3119 fix(infra): correct path in otel-collector configuration
  apps/k8s/argocd/applications/monitoring/otel-collector.yaml
Labels: ⛳️ team-infra

#3109 feat(infra): setup prometheus
  apps/k8s/argocd/applications/monitoring/prometheus.yaml
  apps/k8s/monitoring/prometheus/README.md
  apps/k8s/monitoring/prometheus/values.yaml
Labels: ⛳️ team-infra

#3126 chore(be): add groupId to getAssignmentsByProblemId
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  collection/instructor/Assignment/Get Belonged Assignments by Problem ID/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#3125 feat(infra): launch grafana.codedang.com
  apps/infra/production/dns/monitoring.tf
  apps/k8s/monitoring/grafana/values.yaml
Labels: ⛳️ team-infra

#3124 fix(infra): use loki chart minio instead of custom minio
  apps/k8s/monitoring/grafana/values.yaml
  apps/k8s/monitoring/loki/values.yaml
  apps/k8s/monitoring/otel-collector/otel-collector.yaml
Labels: ⛳️ team-infra

#2937 feat(fe): refactor add contest manager/reviewer modal
  apps/frontend/app/admin/contest/_components/AddManagerReviewerDialog.tsx
  apps/frontend/app/admin/contest/_components/InputFieldTab.tsx
  apps/frontend/app/admin/contest/_components/SelectedUserTab.tsx
  apps/frontend/components/shadcn/command.tsx
Labels: ⛳️ team-frontend

#3131 fix(be): sanitize push notification message
  apps/backend/apps/admin/src/notification/notification.service.ts
  apps/backend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-backend

#2940 fix(fe): update course invite modal design
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteByCode.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteManually.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteUserButton.tsx
  apps/frontend/public/icons/email-symbol.svg
  apps/frontend/public/icons/plus-line.svg
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#3139 fix(be): allow get assignment and problem before startTime for instructor
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#3142 fix(fe): restore button cursor;pointer
  apps/frontend/app/globals.css
Labels: ⛳️ team-frontend

#3146 feat(fe): allow instructor access assignment before start time
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ExerciseAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/exercise/[exerciseId]/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#3141 feat(infra): append ga env var
  apps/k8s/argocd/applications/admin-api.yaml
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/argocd/applications/frontend.yaml
  apps/k8s/argocd/applications/internal.yaml
  apps/k8s/argocd/applications/iris.yaml
  apps/k8s/argocd/applications/rabbitmq.yaml
  apps/k8s/argocd/applications/redis.yaml
  apps/k8s/frontend/overlays/production/secrets.yaml
Labels: ⛳️ team-infra

#3154 feat(infra): enable grafana GitHub oauth
  infra/k8s/argocd/applications/monitoring/grafana.yaml
  infra/k8s/monitoring/grafana/github-credentials.yaml
  infra/k8s/monitoring/grafana/kustomization.yaml
  infra/k8s/monitoring/grafana/values.yaml
Labels: ⛳️ team-infra

#3167 fix(be): modify folder name error
  collection/client/Contest/Get Contest QnA/Succeed.bru
  collection/client/Contest/Get Contest QnA/[403] Cannot access to others QnA during contest.bru
Labels: 🪰 bug, ⛳️ team-backend

#3051 fix(fe): apply problem usage modal design
  apps/frontend/app/admin/problem/_components/ProblemUsage.tsx
  apps/frontend/graphql/assignment/queries.ts
  apps/frontend/public/icons/arrow-bottom.svg
  apps/frontend/public/icons/file-pen.svg
  apps/frontend/public/icons/info-gray.svg
  apps/frontend/public/icons/mail-line.svg
  apps/frontend/public/icons/prize.svg
  apps/frontend/public/icons/task-complete.svg
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#3173 chore(be): refactor announcement bruno
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Problem.bru
  collection/admin/Announcement/Create Announcement/[ERR] Nonexistent Contest.bru
  collection/admin/Announcement/Create Announcement/[ERR] Nonexistent Problem.bru
  collection/admin/Announcement/Get Announcement By Id/Succeed.bru
  collection/admin/Announcement/Get Announcement By Id/[ERR] Nonexistent Announcement.bru
  collection/admin/Announcement/Get Announcements By ContestId/Succeed.bru
  collection/admin/Announcement/Get Announcements By ContestId/[ERR] Nonexistent Contest.bru
  collection/admin/Announcement/Remove Announcement/Succeed.bru
  collection/admin/Announcement/Remove Announcement/[ERR] Nonexistent Announcement.bru
  collection/admin/Announcement/Update Announcement/Succeed.bru
  collection/admin/Announcement/Update Announcement/[ERR] Nonexistent Announcement.bru
  collection/admin/Announcement/folder.bru
  collection/client/Announcement/Get Announcements/Succeed.bru
  collection/client/Announcement/Get Announcements/[400] Related ID Not Given.bru
  collection/client/Announcement/Get Announcements/[404] Nonexistent Contest.bru
  collection/client/Announcement/Get Announcements/[422] Contest ID Not Given.bru
Labels: ⛳️ team-backend

#3163 fix(fe): update qna main page alert modal design
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAAlertModal.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAPostButton.tsx
  apps/frontend/public/icons/info-blue.svg
Labels: ⛳️ team-frontend, 🍊squad-유자차

#3182 fix(fe): match each submission with according problem based on problemId
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ExerciseAccordion.tsx
Labels: 🪰 bug, ⛳️ team-frontend, 🌊 squad-__init__

#3180 fix(fe): modify problem sorting and add title sorting
  apps/frontend/app/admin/_components/table/DataTableColumnHeader.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/graphql/problem/queries.ts
Labels: ⛳️ team-frontend

#3187 fix(be): add SuperAdmin bypass to getProblem
  apps/backend/apps/admin/src/problem/services/problem.service.ts
Labels: 🪰 bug, ⛳️ team-backend

#3189 chore(fe): edit main page gap
  apps/frontend/app/(client)/(main)/page.tsx
Labels: ⛳️ team-frontend

#3191 fix(fe): hotfix incorrect merge
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
Labels: 🪰 bug, ⛳️ team-frontend

#3193 feat(infra): inject aws credentials to frontend for instagram key rework
  .gitignore
  apps/frontend/libs/instagram.ts
  eslint.config.mjs
  infra/aws/instagram-token-refresh/.terraform.lock.hcl
  infra/aws/instagram-token-refresh/main.tf
  infra/aws/instagram-token-refresh/refresh-lambda.tf
  infra/aws/instagram-token-refresh/refresh_instagram_token.mjs
  infra/aws/instagram-token-refresh/secrets-manager.tf
  infra/aws/k8s-iam/frontend.tf
  infra/aws/k8s-iam/main.tf
  infra/k8s/frontend/base/deployment.yaml
  infra/k8s/frontend/overlays/production/kustomization.yaml
  infra/k8s/frontend/overlays/production/secrets.yaml
  infra/k8s/frontend/overlays/production/secrets/aws-credentials.yaml
  infra/k8s/frontend/overlays/production/secrets/security-keys.yaml
  infra/k8s/frontend/overlays/stage/kustomization.yaml
  infra/k8s/frontend/overlays/stage/secrets.yaml
  infra/k8s/frontend/overlays/stage/secrets/aws-credentials.yaml
  infra/k8s/frontend/overlays/stage/secrets/security-keys.yaml
Labels: ⛳️ team-frontend, ⛳️ team-infra
