Repository skkuding/codedang, pull requests merged in 2025-07, with the labels that each got.

#2835 chore(fe): unify management title text
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/page.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/GroupTable.tsx
  apps/frontend/app/admin/course/[courseId]/user/page.tsx
  apps/frontend/app/admin/course/page.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/app/admin/problem/shared/page.tsx
  apps/frontend/app/admin/user/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2839 fix(fe): fix submission message
  apps/frontend/components/StatusTimeDiff.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2847 refactor(fe): integrate SideBar between client and admin
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseSidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/DetailButton.tsx
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
  apps/frontend/app/admin/_components/SideBar.tsx
  apps/frontend/components/Icons.tsx
  apps/frontend/components/SideBar.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 💡 feature-client, 🌊 squad-__init__

#2849 refactor(fe): improve header auth
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2856 fix(fe): resolve testcaseTable sample-testcase ordering issue
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2857 feat(be): add contest unregister in admin
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/schema.gql
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Remove User From Contest/Succeed.bru
  collection/admin/Contest/Remove User From Contest/[ERR] Nonexistent Contest.bru
  collection/admin/Contest/Remove User From Contest/[ERR] Nonexistent ContestRecord.bru
  collection/admin/Contest/Remove User From Contest/[ERR] Not Having Permission.bru
  collection/admin/Contest/Remove User From Contest/[ERR] Ongoing - Ended Contest.bru
  collection/admin/Contest/Remove User From Contest/folder.bru
  collection/client/Contest/Participate Contest/Succeed.bru
  collection/client/Contest/Unregister Contest/Succeed.bru
  collection/client/Contest/Unregister Contest/[403] Cannot unregister ongoing or ended contest.bru
  collection/client/Contest/Unregister Contest/[404] No Contest found.bru
  collection/client/Contest/Unregister Contest/[404] No ContestRecord found.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2833 fix(be): disable adminGuard on fileResolver
  apps/backend/apps/admin/src/problem/resolvers/file.resolver.ts
  apps/backend/libs/auth/src/guard.decorator.ts
  apps/backend/libs/auth/src/roles/manager.guard.ts
  apps/backend/libs/auth/src/roles/roles.service.ts
Labels: ⛳️ team-backend

#2864 feat(be): collect submission and accepted statistics
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/prisma/migrations/20250713104040_add_submission_and_accepted_count/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2862 refactor(fe): use refactored Modal for course registration flow
  apps/frontend/app/(client)/(main)/_components/Modal.tsx
  apps/frontend/app/(client)/(main)/_components/ModalInput.tsx
  apps/frontend/app/(client)/(main)/course/_components/RegisterCourseButton.tsx
  apps/frontend/components/shadcn/button.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2868 fix(be): add solution field to problem creation
  apps/backend/apps/admin/src/problem/services/problem.service.ts
Labels: ⛳️ team-backend, 💡 feature-admin, 🌊 squad-__init__

#2867 chore(fe): make empty components to prevent crash
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
  apps/frontend/app/(client)/(main)/_components/MiddleContestBanner.tsx
  apps/frontend/app/(client)/(main)/_components/NewProblemCards.tsx
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
  apps/frontend/app/(client)/(main)/page.tsx
Labels: ⛳️ team-frontend

#2859 fix(fe): update color palette
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/tailwind.config.ts
Labels: ⛳️ team-frontend, next-js

#2870 feat(infra): add 'latest' tag for each service image in CD stage workflow
  .github/workflows/cd-stage.yml
Labels: 🪰 bug, ⛳️ team-infra

#2876 fix(be): set register due time default
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/prisma/migrations/20250712001015_add_register_due_date_to_contest/migration.sql
  apps/backend/prisma/migrations/20250718141441_add_register_due_time/migration.sql
  apps/backend/prisma/migrations/20250719052507_set_register_due_date_default/migration.sql
  apps/backend/prisma/schema.prisma
Labels: ⛳️ team-backend

#2872 refactor(fe): impl modal unification v2
  apps/frontend/app/(client)/(main)/course/_components/RegisterCourseButton.tsx
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
  apps/frontend/app/admin/course/_components/DeleteCourseButton.tsx
  apps/frontend/app/admin/course/_components/GroupTable.tsx
  apps/frontend/components/AlertModal.tsx
  apps/frontend/components/Modal.tsx
  apps/frontend/components/ModalInput.tsx
  apps/frontend/components/ModalList.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2889 feat(be): impl UseDisableGroupLeaderGuard
  apps/backend/apps/admin/src/assignment/assignment.resolver.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/libs/auth/src/guard.decorator.ts
  apps/backend/libs/auth/src/roles/group-leader.guard.ts
  apps/backend/package.json
  collection/admin/login.js
  collection/instructor/Assignment/Get Belonged Assignments by Problem ID/Succeed.bru
  collection/instructor/login.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: ⛳️ team-backend, 💡 feature-admin

#2827 fix(fe): improve time validation toast message in contest and assignment forms
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/app/admin/course/[courseId]/_components/CreateAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/_components/EditAssignmentForm.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2891 docs(be): write JSdoc in client assignment module
  apps/backend/apps/client/src/assignment/assignment.controller.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
Labels: p1-chore 🧹, ⛳️ team-backend, 📘 documentation

#2888 refactor(fe): impl modal unification v3
  apps/frontend/app/(client)/(main)/course/[courseId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/_components/RegisterCourseButton.tsx
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentProblemColumns.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/_components/ExerciseProblemColumns.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/DeleteUserButton.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/GroupTable.tsx
  apps/frontend/app/admin/problem/_components/ContainedContests.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/ProblemUsage.tsx
  apps/frontend/components/AlertModal.tsx
  apps/frontend/components/Modal.tsx
  apps/frontend/components/ModalList.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2892 fix(fe): fix mainlayout hidden
  apps/frontend/app/(client)/(main)/_components/Header.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client

#2871 fix(be): add groupleader condition in submit on submission.service.ts
  apps/backend/apps/client/src/submission/class/judge-request.ts
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/router/router.go
Labels: ⛳️ team-backend

#2754 feat(be): contest qna
  apps/backend/apps/admin/src/contest/contest.module.ts
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-qna.input.ts
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/contest/dto/contest-qna.dto.ts
  apps/backend/prisma/migrations/20250512114517_contest_qna/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/admin/Contest/Get Contest QnA/Succeed.bru
  collection/admin/Contest/Get Contest QnA/folder.bru
  collection/admin/Contest/Get Contest QnAs/Succeed.bru
  collection/admin/Contest/Get Contest QnAs/folder.bru
  collection/admin/Contest/Update Contest QnA/Succeed copy.bru
  collection/admin/Contest/Update Contest QnA/folder.bru
  collection/client/Contest/ Get Contest QnA/Succeed.bru
  collection/client/Contest/Create Contest QnA/Succeed.bru
  collection/client/Contest/Get Contest QnAs/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2874 fix(fe): set initial value of solution reveal option
  apps/frontend/app/admin/_components/FormSection.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentSolutionColumns.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentSolutionTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/create/page.tsx
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2897 fix(be): modify hidden testcase condition to contest staff
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2902 feat(be): add contest problem permission to superadmin
  apps/backend/apps/admin/src/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/schema.gql
  collection/admin/Problem/Get Problems/._Succeed.bru
  collection/admin/Problem/Get Problems/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2907 feat(be): add isHidden and scoreWeight field
  apps/backend/apps/admin/src/submission/model/submission-detail.output.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/schema.gql
Labels: ⛳️ team-backend, 💡 feature-admin, 🌊 squad-__init__

#2846 docs: update contributing guide
  CONTRIBUTING.md
Labels: 📘 documentation

#2906 refactor(fe): impl modal unification v4
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/exercise/[exerciseId]/problem/[problemId]/submission/[submissionId]/_components/SubmissionDetail.tsx
  apps/frontend/app/(client)/(main)/course/_components/RegisterCourseButton.tsx
  apps/frontend/app/admin/_components/ImportProblemButton.tsx
  apps/frontend/app/admin/_components/ImportProblemDescription.tsx
  apps/frontend/app/admin/_components/table/DataTable.tsx
  apps/frontend/app/admin/_components/table/DataTableColumnHeader.tsx
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
  apps/frontend/app/admin/_components/table/DataTableMultiSelectFilter.tsx
  apps/frontend/app/admin/_components/table/DataTableSearchBar.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/ImportDialog.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemButton.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemDialog.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/_components/ImportDialog.tsx
  apps/frontend/app/admin/course/[courseId]/_components/ImportProblemDialog.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
  apps/frontend/components/AlertModal.tsx
  apps/frontend/components/Modal.tsx
  apps/frontend/components/shadcn/dialog.tsx
  apps/frontend/components/shadcn/table.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#2903 feat(be): implement notification
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/apps/admin/src/assignment/assignment.module.ts
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/notification/notification.listener.ts
  apps/backend/apps/admin/src/notification/notification.module.ts
  apps/backend/apps/admin/src/notification/notification.service.spec.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
  apps/backend/apps/client/src/app.module.ts
  apps/backend/apps/client/src/notification/notification.controller.spec.ts
  apps/backend/apps/client/src/notification/notification.controller.ts
  apps/backend/apps/client/src/notification/notification.module.ts
  apps/backend/apps/client/src/notification/notification.service.spec.ts
  apps/backend/apps/client/src/notification/notification.service.ts
  apps/backend/package.json
  apps/backend/prisma/migrations/20250726051717_add_notification/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  collection/client/Notification/Delete Notification/Succeed.bru
  collection/client/Notification/Delete Notification/[404] NotificationRecord Not Found.bru
  collection/client/Notification/Get Notifications/Succeed.bru
  collection/client/Notification/Mark All As Read/Succeed.bru
  collection/client/Notification/Mark As Read/Succeed.bru
  collection/client/Notification/Mark As Read/[404] NotificationRecord Not Found.bru
  collection/client/Notification/folder.bru
  pnpm-lock.yaml
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2855 feat(fe): implement test in assignment assessment
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcaseTable.tsx
  apps/frontend/app/admin/_components/code-editor/EditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/_components/code-editor/TestcasePanel.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2908 feat(fe): implement ga
  apps/frontend/app/layout.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#2911 refactor(fe): impl modal unification v5
  apps/frontend/app/(client)/(main)/course/_components/RegisterCourseButton.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteByCode.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteManually.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteUserButton.tsx
  apps/frontend/app/admin/course/[courseId]/user/page.tsx
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/components/Modal.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2905 feat(fe): adjust login success toast position
  apps/frontend/components/auth/SignIn.tsx
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2919 feat(be): implement notification filtering and unread count api
  apps/backend/apps/client/src/group/group.service.spec.ts
  apps/backend/apps/client/src/notification/notification.controller.ts
  apps/backend/apps/client/src/notification/notification.service.spec.ts
  apps/backend/apps/client/src/notification/notification.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/prisma/seed.ts
  apps/backend/schema.gql
  collection/client/Notification/Get Notifications/Succeed.bru
  collection/client/Notification/Get Unread Count/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__
