Repository skkuding/codedang, pull requests merged in 2025-03, with the labels that each got.

#2449 feat(fe): make visible Register Button when upcoming
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2452 feat(be): edit getAssignmentGradeSummary API for grade page
  apps/backend/apps/client/src/group/group.service.ts
  apps/backend/apps/client/src/problem/problem.service.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2455 chore(fe): modify user course assignment UI
  apps/frontend/app/(client)/(main)/_components/ContestCard.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseInfoBox.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseSidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/AssignmentTabs.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/page.tsx
  apps/frontend/app/(client)/(main)/course/_components/AssignmentCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/layout.tsx
  apps/frontend/app/admin/group/[groupId]/page.tsx
  apps/frontend/components/AssignmentStatusTimeDiff.tsx
  apps/frontend/components/ContestStatusTimeDiff.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/public/icons/calendar-default.svg
  apps/frontend/public/icons/calendar-fill.svg
  apps/frontend/public/icons/calendar.svg
  apps/frontend/public/icons/clock.svg
  apps/frontend/public/icons/period.svg
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2457 feat(be): add instructor get assignment problem record api
  apps/backend/apps/admin/src/assignment/assignment.resolver.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  collection/instructor/Assignment/Get Assignment Problem Record (Grade)/Succeed.bru
Labels: 🌊 squad-__init__

#2401 feat(be): permission editing
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/apps/admin/src/assignment/assignment.resolver.ts
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/group/group.resolver.ts
  apps/backend/apps/admin/src/notice/notice.resolver.ts
  apps/backend/apps/admin/src/problem/problem.module.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/admin/src/submission/submission.module.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/user/user.resolver.spec.ts
  apps/backend/apps/admin/src/user/user.resolver.ts
  apps/backend/apps/client/src/assignment/assignment.service.spec.ts
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/group/group.service.spec.ts
  apps/backend/libs/auth/src/guard.decorator.ts
  apps/backend/libs/auth/src/index.ts
  apps/backend/libs/auth/src/roles/admin.guard.ts
  apps/backend/libs/auth/src/roles/contest-roles.decorator.ts
  apps/backend/libs/auth/src/roles/contest-roles.guard.ts
  apps/backend/libs/auth/src/roles/group-leader.guard.ts
  apps/backend/libs/auth/src/roles/roles.decorator.ts
  apps/backend/libs/auth/src/roles/roles.service.ts
  apps/backend/prisma/migrations/20250201030022_permission_of_contest/migration.sql
  apps/backend/prisma/migrations/20250201073706_rename_contest_user_to_user_contest/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/infra/rc/codedang/cloudfront.tf
  collection/admin/login.js
  collection/instructor/Submission/Get Assignment Submission/Succeed.bru
  collection/instructor/Submission/Get Assignment Submissions/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2450 feat(fe): impl management grade detail code editor
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/_components/SubmissionTable.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/AssignmentProblemDropdown.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/EditorLayout.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/EditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/SubmissionAssesment.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/SubmissionSummary.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/SubmissionTestcase.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/layout.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/page.tsx
  apps/frontend/graphql/problem/queries.ts
  apps/frontend/graphql/submission/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2453 feat(be): admin announcement module
  apps/backend/apps/admin/src/announcement/announcement.module.ts
  apps/backend/apps/admin/src/announcement/announcement.resolver.ts
  apps/backend/apps/admin/src/announcement/announcement.service.spec.ts
  apps/backend/apps/admin/src/announcement/announcement.service.ts
  apps/backend/apps/admin/src/announcement/dto/create-announcement.input.ts
  apps/backend/apps/admin/src/announcement/dto/update-announcement.input.ts
  apps/backend/apps/admin/src/announcement/model/ announcement.output.ts
  apps/backend/apps/admin/src/announcement/model/create-announcement.input.ts
  apps/backend/apps/admin/src/announcement/model/update-announcement.input.ts
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Create Announcement/[ERR] Has No Contest Id.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Contest.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Problem.bru
  collection/admin/Announcement/Get Announcement By Id/Succeed.bru
  collection/admin/Announcement/Get Announcement By Id/[ERR] Nonexistent Announcement.bru
  collection/admin/Announcement/Get Announcements By ContestId/Succeed.bru
  collection/admin/Announcement/Get Announcements By ContestId/[ERR] Contest Nonexistent.bru
  collection/admin/Announcement/Remove Announcement/Succeed.bru
  collection/admin/Announcement/Remove Announcement/[ERR] Nonexistent Announcement.bru
  collection/admin/Announcement/Update Announcement/Succeed.bru
  collection/admin/Announcement/Update Announcement/[ERR] Nonexistent Announcement.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2458 feat(be): contest management pannel api
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get Contest Roles/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2456 feat(fe): fix instructor management course table
  apps/frontend/app/admin/_components/ErrorMessage.tsx
  apps/frontend/app/admin/_components/table/DataTableColumnHeader.tsx
  apps/frontend/app/admin/course/_components/Columns.tsx
  apps/frontend/app/admin/course/_components/CreateCourseButton.tsx
  apps/frontend/app/admin/course/_components/GroupTable.tsx
  apps/frontend/app/admin/course/_components/UpdateCourseButton.tsx
  apps/frontend/app/admin/course/_libs/schema.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2460 fix(be): delete assignment from announcement
  apps/backend/apps/client/src/announcement/announcement.controller.ts
  apps/backend/apps/client/src/announcement/announcement.service.spec.ts
  apps/backend/apps/client/src/announcement/announcement.service.ts
  apps/backend/prisma/migrations/20250301180523_delete_assignment_from_announcement/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/client/Announcement/Get Announcements/Succeed.bru
  collection/client/Announcement/Get Announcements/[422] Contest ID Not Given.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2464 feat(be): disable contest problems auth guard
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  collection/client/Problem/Get Contest Problems/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2454 feat(fe): complete to make prevnextContestButton
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/PrevNextProblemButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/_libs/apis.ts
  apps/frontend/app/(client)/(main)/contest/_components/ContestDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainTable.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2465 fix(fe): fix error when access to ended contest problem without login
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2466 feat(fe): modify imgModalDesign
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/BiggerImageButton.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2459 feat(fe): show test case type
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2469 feat(fe): modify announcement column to match new api
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/announcement/_components/Columns.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2461 feat(be): set contest role when update and create
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Update Contest/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2473 feat(fe): change init design qa
  apps/frontend/app/(client)/(main)/_components/StatusBadge.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseInfoBox.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseMainBanner.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/components/shadcn/carousel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2470 feat(fe): impl grade detail assessment panel
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/EditorLayout.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/FinalScoreForm.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/SubmissionAssesment.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/SubmissionAssessment.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/UpdateAssignmentProblemRecordForm.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_libs/schemas.ts
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/layout.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/page.tsx
  apps/frontend/components/TextEditor.tsx
  apps/frontend/graphql/assignment/mutations.ts
  apps/frontend/graphql/assignment/queries.ts
  collection/instructor/Assignment/Get Assignment Problem Record (Grade)/Succeed.bru
Labels: 💡 feature-admin, 🌊 squad-__init__

#2475 feat(fe): change contestsummary to match new api
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/page.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2480 fix(fe): resolve assignment code editor bug
  apps/frontend/app/(client)/(code-editor)/_components/AssignmentProblemDropdown.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/app/(client)/_libs/apis/assignmentProblem.ts
  collection/client/login.js
Labels: 💡 feature-client, 🌊 squad-__init__

#2476 fix(fe): error handling when assignment is not started, allow assignment participation when finished
  apps/backend/apps/client/src/assignment/assignment.service.spec.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
Labels: ⛳️ team-backend, ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2463 feat(fe): improve management sidebar
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Icons.tsx
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2472 feat(fe): improve management course grade table link
  apps/frontend/app/admin/_components/table/DataTable.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/_components/ParticipantTable.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2467 feat(fe): improve course invite member modal
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
  apps/frontend/graphql/course/mutation.ts
  apps/frontend/graphql/user/mutation.ts
  apps/frontend/public/Whitelist_Sample.csv
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2471 feat(be): fix grade related functions
  apps/backend/apps/admin/src/assignment/assignment.resolver.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  collection/instructor/Submission/Get Assignment Latest Submission/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2483 chore(fe): change query name to latest submission
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/EditorLayout.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/page.tsx
  apps/frontend/graphql/assignment/queries.ts
  apps/frontend/graphql/submission/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#2486 chore(fe): modify management course assignment create design
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportDialog.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2431 feat(fe): create course detail grade assignment modal
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/GradeDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/_libs/apis/assignmentSubmission.ts
  apps/frontend/app/(client)/_libs/queries/assignmentSubmission.ts
  apps/frontend/app/globals.css
  apps/frontend/components/shadcn/chart.tsx
  apps/frontend/package.json
  apps/frontend/types/type.ts
  collection/client/Assignment/Get Anonymized Scores/Succeed.bru
  collection/client/Assignment/Get My Assignment Problem Record/Succeed.bru
  collection/client/Group/Get assignments grade summary/Succeed.bru
  collection/client/Problem/Get Assignment Problem by ID/Succeed.bru
  collection/client/Problem/Get problem by ID/Succeed.bru
  collection/client/Submission/Get Assignment Submissions/Succeed.bru
  collection/client/Submission/Get Submission by ID/Succeed.bru
  collection/client/Submission/Get Submissions/Succeed.bru
  collection/client/User/Get Username by Email/Succeed.bru
  collection/instructor/Assignment/Update Assignment Problem Record (Grade)/Succeed.bru
  collection/instructor/Assignment/Update Assignment/Succeed.bru
  collection/instructor/Course/Create Course/Succeed.bru
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2493 chore(fe): change sentry dsn
  apps/frontend/instrumentation.ts
  apps/frontend/sentry.client.config.ts
Labels: ⛳️ team-frontend

#2495 chore(fe): remove sentry
  apps/frontend/next.config.js
Labels: ⛳️ team-frontend

#2496 fix(fe): add image if there is no contest and remove unused codes
  apps/frontend/app/(client)/(main)/contest/[contestId]/layout.tsx
  apps/frontend/public/logos/please.png
Labels: ⛳️ team-frontend, 💡 feature-client, 🍊squad-유자차

#2484 feat(fe): admin contest management
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/_libs/utils.ts
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
  apps/frontend/app/admin/_components/table/DataTable.tsx
  apps/frontend/app/admin/_components/table/DataTableColumnHeader.tsx
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
  apps/frontend/app/admin/_components/table/DataTablePagination.tsx
  apps/frontend/app/admin/_components/table/DataTableSearchBar.tsx
  apps/frontend/app/admin/contest/_components/ContestTable.tsx
  apps/frontend/app/admin/contest/_components/ContestTableColumns.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/components/shadcn/checkbox.tsx
  apps/frontend/components/shadcn/input.tsx
  apps/frontend/components/shadcn/table.tsx
  apps/frontend/libs/utils.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2489 feat(be): evaluate with sample testcase included
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20250303221903_evaluate_with_sample_testcase_included/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2497 feat(be): add client getLatestAssignmentProblemSubmission
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  collection/client/Submission/Get Latest Assignment Problem Submission/Succeed.bru
  collection/client/Submission/Get Latest Assignment Problem Submission/[404] Nonexistent Submission.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2499 feat(fe): refetch whitelist and invitation code on modal reopen
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
Labels: duplicate, ⛳️ team-frontend

#2501 feat(fe): lock problem isvisible false when not admin
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2504 fix(fe): modify user table query from group members to users
  apps/frontend/app/admin/user/_components/Columns.tsx
  apps/frontend/app/admin/user/_components/UserTable.tsx
  apps/frontend/graphql/user/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin

#2500 feat(be): change assignmentProblemRecord create logic & manage nonparticipants when assignment ends
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2505 fix(fe): resolve import assignment problem bug
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/_components/ConfirmModal.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/_components/EditAssignmentForm.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2507 chore(fe): get assignment problem max score
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/SubmissionAssessment.tsx
  apps/frontend/graphql/problem/queries.ts
Labels: 💡 feature-admin, 🌊 squad-__init__

#2509 feat(fe): add course and fix management menu in mobile authModal
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Labels: ⛳️ team-frontend

#2508 feat(be): add assignmentProblem in getAssignmentSubmissions
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  collection/client/Submission/Get Assignment Submissions/Succeed.bru
Labels: ⛳️ team-backend

#2510 fix(fe): modify description and apply marign
  apps/frontend/app/admin/course/[courseId]/assignment/page.tsx
  apps/frontend/app/admin/course/[courseId]/grade/page.tsx
Labels: 💡 feature-admin, 🌊 squad-__init__

#2514 fix(fe): impl grade code editor without user submission
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/submission/[submissionId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/submission/_components/SubmissionPaginatedTable.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/submission/page.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/_components/ParticipantTable.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/EditorLayout.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/EditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/SubmissionSummary.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/SubmissionTestcase.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/page.tsx
Labels: 💡 feature-admin, 🌊 squad-__init__

#2513 feat(fe): integrate api for course assignment detail
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/GradeDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/SubmissionDetailModal.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentTable.tsx
  collection/client/Assignment/Get Anonymized Scores/Succeed.bru
  collection/client/Assignment/Get My Assignment Problem Record/Succeed.bru
  collection/client/Assignment/Get assignment by ID/Succeed.bru
  collection/client/Problem/Get Assignment Problem by ID/Succeed.bru
  collection/client/Problem/Get Assignment Problems/Succeed.bru
  collection/instructor/Assignment/Create Assignment/Succeed.bru
  collection/instructor/Assignment/Update Assignment Problem Record (Grade)/Succeed.bru
  collection/instructor/Assignment/Update Assignment/Succeed.bru
Labels: 💡 feature-client, 🌊 squad-__init__

#2512 feat(be): ensure score related logic consistency
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/assignment/assignment.controller.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/TotalScoreLabel.tsx
  collection/client/Assignment/Get My Assignment Problem Record/Succeed.bru
  collection/client/Course/Get assignments grade summary/Succeed.bru
  collection/client/Problem/Get Assignment Problem by ID/Succeed.bru
  collection/client/Problem/Get Assignment Problems/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2330 feat(be): make and get problem update history
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/prisma/migrations/20250301163819_add_update_history_model/migration.sql
  apps/backend/prisma/schema.prisma
  collection/admin/Problem/Get a Problem/Succeed.bru
  collection/admin/Problem/Update a Problem/Succeed.bru
  collection/client/Problem/Get problem by ID/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2517 fix(fe): change alphabet indexing method
  apps/frontend/app/(client)/(code-editor)/_components/SubmissionTable.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/[submissionId]/_components/SubmissionDetailTitle.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/[submissionId]/_libs/constants.ts
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2518 fix(fe): change margin for first contest at contest list
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/PrevNextProblemButton.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🍊squad-유자차

#2522 fix(be): use createTime instead of updateTime as submissionTime
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2523 fix(fe): switch last submission api
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/_libs/apis/assignmentSubmission.ts
  apps/frontend/app/(client)/_libs/queries/assignmentSubmission.ts
Labels: 💡 feature-client, 🌊 squad-__init__

#2520 feat(fe): try to fix bug Confetti-add-setIsSubmitting
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
Labels: ⛳️ team-frontend

#2526 fix(fe): fix codedang-with-text logo cursor bug
  apps/frontend/app/(client)/(main)/_components/Header.tsx
Labels: ⛳️ team-frontend

#2527 feat(be): update contest input
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20250313061215_add_unfreeze_column/migration.sql
  apps/backend/prisma/schema.prisma
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Import Problems to Contest/Succeed.bru
  collection/admin/Contest/Update Contest/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2528 chore(be): remove useless functions in contest moudule
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/duplicated-contest-response.output.ts
  apps/backend/apps/admin/src/contest/model/publicizing-request.model.ts
  apps/backend/apps/admin/src/contest/model/publicizing-response.output.ts
  apps/backend/apps/client/src/auth/auth.service.ts
  collection/admin/Contest/Create Publicizing Request/Succeed.bru
  collection/admin/Contest/Create Publicizing Request/[ERR] Duplicated Publicizing Request.bru
  collection/admin/Contest/Create Publicizing Request/[ERR] Request Publicizing to OpenSpace.bru
  collection/admin/Contest/Duplicate Contest/Succeed.bru
  collection/admin/Contest/Get Publicizing Requests/Succeed.bru
  collection/admin/Contest/Handle Publicizing Request/Succeed.bru
  collection/admin/Contest/Handle Publicizing Request/[ERR] Nonexistent Publicizing Request.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2530 fix(fe): delete unused component-duplicateContestButton
  apps/frontend/app/admin/contest/_components/DuplicateContestButton.tsx
  apps/frontend/graphql/contest/mutations.ts
Labels: ⛳️ team-frontend

#2529 feat(be): add problem update history on contest
  apps/backend/apps/admin/src/announcement/announcement.resolver.ts
  apps/backend/apps/admin/src/announcement/model/announcement.output.ts
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-update-histories.model.ts
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/prisma/seed.ts
  collection/admin/Contest/Get Contest Update Histories/Succeed.bru
  collection/client/Problem/Get Contest Problem by ID/Succeed.bru
  collection/client/Problem/Get Contest Problem by ID/[403] Registered but not started.bru
  collection/client/Problem/Get Contest Problem by ID/[403] Unregistered and not finished.bru
  collection/client/Problem/Get Contest Problem by ID/[404] Nonexistent Contest Problem.bru
  collection/client/Problem/Get Contest Problems/Succeed.bru
  collection/client/Problem/Get Contest Problems/[403] Registered but Not Started.bru
  collection/client/Problem/Get Contest Problems/[403] Unregistered and Not Finished.bru
  collection/client/Problem/Get Contest Problems/[404] Nonexistent Contest.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2531 fix(fe): fix border style
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/AssignmentTabs.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
Labels: 💡 feature-client, 🌊 squad-__init__

#2535 fix(be): fix problem update error
  apps/backend/prisma/migrations/20250318172841_fix_problem_field_enum_typo/migration.sql
  apps/backend/prisma/schema.prisma
Labels: 🪰 bug, ⛳️ team-backend

#2537 feat(fix): update rc workflow and change DB launch snapshot
  .github/workflows/rc-build-image.yml
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/storage/database.tf
Labels: ⛳️ team-infra

#2532 feat(fe): create client leaderboard page on contest page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardColumns.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardSolvedList.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTableHeader.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/utils.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/public/icons/file-info-gray.svg
  apps/frontend/public/icons/medal-bronze.svg
  apps/frontend/public/icons/medal-gold.svg
  apps/frontend/public/icons/medal-silver.svg
  apps/frontend/public/icons/search.svg
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2539 feat(fix): fix rc workflow update
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/network/README.md
Labels: ⛳️ team-infra

#2541 feat(fix): fixing rc workflow update
  .github/workflows/rc-deploy.yml
Labels: ⛳️ team-infra

#2536 fix(be): change input format from id to order
  apps/backend/apps/admin/src/announcement/announcement.service.spec.ts
  apps/backend/apps/admin/src/announcement/announcement.service.ts
  apps/backend/apps/admin/src/announcement/model/create-announcement.input.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/prisma/seed.ts
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Create Announcement/[ERR] Has No Contest Id.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Contest.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Problem.bru
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Import Problems to Contest/[ERR] Nonexistent Contest.bru
  collection/admin/Contest/Remove Problems From Contest/Succeed.bru
  collection/admin/Contest/Remove Problems From Contest/[ERR] Nonexistent Contest.bru
  collection/admin/Problem/Update ContestProblems Order/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2542 feat(fix): fix update rc workflow
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
Labels: ⛳️ team-infra

#2533 fix(iris): handle compile error message
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/service/sandbox/judger/compiler.go
  apps/iris/src/service/sandbox/judger/langConfig.go
Labels: ⛳️ team-backend, ⛳️ squad-채점핑

#2524 feat(fe): switch api to get my assignment problem record
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/GradeDetailModal.tsx
  apps/frontend/app/(client)/_libs/apis/assignmentSubmission.ts
  apps/frontend/app/admin/_components/table/DataTableMultiSelectFilter.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/types/type.ts
  collection/client/Assignment/Get My Assignment Problem Record/Succeed.bru
  collection/client/Assignment/Get assignment by ID/Succeed.bru
  collection/client/Problem/Get Assignment Problems/Succeed.bru
Labels: 💡 feature-client, 🌊 squad-__init__

#2544 chore(fe): move admin code editor folder
  apps/frontend/app/admin/_components/code-editor/AssignmentProblemDropdown.tsx
  apps/frontend/app/admin/_components/code-editor/EditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/layout.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2548 feat(fix): fix update rc workflow (4)
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
Labels: ⛳️ team-infra

#2546 feat(fe): add problem preview when creating or editting
  apps/frontend/app/admin/_components/ConfirmNavigation.tsx
  apps/frontend/app/admin/_components/code-editor/CopyButton.tsx
  apps/frontend/app/admin/_components/code-editor/EditorDescription.tsx
  apps/frontend/app/admin/_components/code-editor/EditorSampleField.tsx
  apps/frontend/app/admin/_components/code-editor/ReferenceDialog.tsx
  apps/frontend/app/admin/_components/code-editor/WhitespaceVisualizer.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/PreviewEditorLayout.tsx
  apps/frontend/app/admin/problem/_components/PreviewEditorResizablePanel.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2540 feat(fe): allow problem creation with empty io
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/app/admin/problem/_libs/schemas.ts
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2551 feat(fix): fix update rc workflow (5) and remove repeated db replacement
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/storage/database.tf
Labels: ⛳️ team-infra

#2552 fix(infra): fix rc-mask-db workflow and terraform
  .github/workflows/rc-mask-db.yml
  apps/infra/rc/codedang/.terraform.lock.hcl
  apps/infra/rc/codedang/cloudfront.tf
  apps/infra/rc/storage/.terraform.lock.hcl
  apps/infra/rc/storage/database.tf
Labels: ⛳️ team-infra

#2553 fix(infra): fix rc-mask-db workflow(2)
  .github/workflows/rc-mask-db.yml
Labels: ⛳️ team-infra

#2556 fix(infra): fix rc-mask-db workflow(3)
  .github/workflows/rc-mask-db.yml
Labels: ⛳️ team-infra

#2557 fix(infra): fix rc-mask-db workflow(4)
  .github/workflows/rc-mask-db.yml
Labels: ⛳️ team-infra

#2558 feat(infra): update rc workflow (6)
  .github/workflows/rc-deploy-target.yml
Labels: ⛳️ team-infra

#2559 fix(infra): fix rc-mask-db workflow(5)
  .github/workflows/rc-mask-db.yml
Labels: ⛳️ team-infra

#2550 feat(be): upload pdf on problem description
  apps/backend/apps/admin/src/problem/model/file.output.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/admin/src/storage/storage.service.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/prisma/migrations/20250321184121_rename_image_to_file/migration.sql
  apps/backend/prisma/schema.prisma
  collection/admin/Problem/Delete File/NOT_FOUND.bru
  collection/admin/Problem/Delete File/Succeed.bru
  collection/admin/Problem/Upload File/Succeed.bru
  collection/admin/Problem/Upload File/sample.pdf
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2561 fix(infra): fix rc-mask-db workflow
  .github/workflows/rc-mask-db.yml
Labels: ⛳️ team-infra

#2555 feat(fe): change delete member modal design
  apps/frontend/app/admin/course/[courseId]/user/_components/DeleteUserButton.tsx
Labels: 💡 feature-admin, 🌊 squad-__init__

#2565 fix(infra): fix rc-mask-db workflow(6)
  .github/workflows/rc-destroy-target.yml
  .github/workflows/rc-mask-db.yml
Labels: ⛳️ team-infra

#2566 fix(infra): fix rc-deploy and rc-deploy-target workflow
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
  .github/workflows/rc-destroy-target.yml
Labels: ⛳️ team-infra

#2554 feat(fe): add updatetime and align column widths
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/UseInfoModal.tsx
Labels: 💡 feature-admin, 🌊 squad-__init__

#2571 revert(fe): add updatetime and align column widths
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/UseInfoModal.tsx
Labels: 💡 feature-admin, 🌊 squad-__init__

#2569 chore(fe): implement hide panel button in code editor
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
Labels: 💡 feature-client, 🌊 squad-__init__

#2567 feat(fe): limit assignment create week
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/WeekComboBox.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2568 feat(fe): redesign datatable delete modal
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
  apps/frontend/libs/utils.ts
Labels: 💡 feature-admin, 🌊 squad-__init__

#2560 feat(fe): parse indentation in template code
  apps/frontend/app/admin/problem/_components/CodeForm.tsx
  apps/frontend/app/admin/problem/_components/TemplateField.tsx
  apps/frontend/app/admin/problem/_components/editor/CodeEditor.tsx
  apps/frontend/app/admin/problem/_components/editor/editorConfig.ts
  apps/frontend/app/admin/problem/_components/editor/formatConfigs.ts
  apps/frontend/app/admin/problem/_components/editor/formatters.ts
  apps/frontend/app/admin/problem/_components/editor/index.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: 💡 feature-admin, 🌊 squad-__init__

#2563 feat(fe): add problem preview page
  apps/frontend/app/admin/_components/code-editor/PreviewEditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/PreviewEditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/[problemId]/page.tsx
  apps/frontend/app/admin/problem/[problemId]/preview/page.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin

#2349 feat(fe): improve text editor
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/_components/FullScreenTextEditor.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/CodeBlockComponent.tsx
  apps/frontend/app/admin/_components/tiptap/CommandsList.tsx
  apps/frontend/app/admin/_components/tiptap/FileDownloadNode.tsx
  apps/frontend/app/admin/_components/tiptap/InsertBar.tsx
  apps/frontend/app/admin/_components/tiptap/TextStyleBar.tsx
  apps/frontend/app/admin/_components/tiptap/commands.tsx
  apps/frontend/app/admin/_components/tiptap/items.tsx
  apps/frontend/app/admin/_components/tiptap/renderItems.tsx
  apps/frontend/app/admin/_components/tiptap/styles.css
  apps/frontend/components/InsertDialog.tsx
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2572 fix(be): logging submit result output
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/prisma/migrations/20250323164730_add_output_on_submission_result_table/migration.sql
  apps/backend/prisma/schema.prisma
Labels: ⛳️ squad-채점핑

#2577 fix(be): throw error when contest problemId is missing from orders
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2581 fix(infra): fix RC's superuser password problem
  .github/workflows/rc-mask-db.yml
Labels: ⛳️ team-infra

#2587 fix(infra): fix terraform existing resource checking
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
Labels: ⛳️ team-infra

#2585 fix(be): rename return value
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-with-participants.model.ts
  apps/backend/apps/admin/src/user/model/creationPermission.model.ts
  apps/backend/apps/admin/src/user/model/user.output.ts
  apps/backend/apps/admin/src/user/user.resolver.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.ts
  collection/admin/User/Update Creation Permission/Succeed.bru
  collection/admin/User/Update Creation Permission/folder.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2588 fix(infra): fix rc workflow and rabbitmq username mismatch
  .github/workflows/rc-build-image.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/storage/variables.tf
Labels: ⛳️ team-infra

#2592 fix(infra): remove db ignore attr checking exception
  .github/workflows/rc-build-image.yml
  apps/infra/rc/storage/database.tf
Labels: ⛳️ team-infra

#2590 fix(be): return all problems record on admin leaderboard
  apps/backend/apps/admin/src/contest/contest.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2582 feat(be): update creation permission
  apps/backend/apps/admin/src/user/model/user.output.ts
  apps/backend/apps/admin/src/user/user.resolver.ts
  collection/admin/User/Update Creation Permission/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2596 fix(be): rename contest inputs
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-with-participants.model.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Update Contest/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2538 feat(fe): create client leaderboard page ver.2
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardSolvedList.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/apis/getContesLeaderboard.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/utils.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/libs/hooks/useWindowSize.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2519 feat(fe): admin contest create
  apps/frontend/app/admin/_components/CautionDialog.tsx
  apps/frontend/app/admin/_components/FormSection.tsx
  apps/frontend/app/admin/_components/FullScreenTextEditor.tsx
  apps/frontend/app/admin/_components/Label.tsx
  apps/frontend/app/admin/_components/OptionSelect.tsx
  apps/frontend/app/admin/_components/SummaryForm.tsx
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/_components/table/DataTable.tsx
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
  apps/frontend/app/admin/_components/table/DataTableLangFilter.tsx
  apps/frontend/app/admin/_components/table/DataTableSearchBar.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/AddManagerReviewerDialog.tsx
  apps/frontend/app/admin/contest/_components/ContestManagerReviewerColumns.tsx
  apps/frontend/app/admin/contest/_components/ContestManagerReviewerTable.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemColumns.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemListLabel.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemTable.tsx
  apps/frontend/app/admin/contest/_components/CreateEditContestLabel.tsx
  apps/frontend/app/admin/contest/_components/DeleteManagerReviewerAlert.tsx
  apps/frontend/app/admin/contest/_components/ImportDialog.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemButton.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemDescription.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/contest/_libs/schemas.ts
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/app/admin/contest/create/_components/FreezeForm.tsx
  apps/frontend/app/admin/contest/create/_components/PosterUploadForm.tsx
  apps/frontend/app/admin/contest/create/_components/SampleTestcaseForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/components/TextEditor.tsx
  apps/frontend/components/shadcn/command.tsx
  apps/frontend/components/shadcn/date-time-picker-demo.tsx
  apps/frontend/components/shadcn/select.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/graphql/problem/queries.ts
  apps/frontend/libs/constants.ts
  apps/frontend/public/icons/image-upload.svg
  apps/frontend/tailwind.config.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2576 feat(fe): make announcement Page completely
  apps/frontend/app/admin/_components/AdminContestStatusTimeDiff.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/statistics/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/layout.tsx
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
  apps/frontend/app/admin/contest/_libs/schemas.ts
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/public/icons/redclock.svg
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2600 feat(fe): client leaderboard - final
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/utils.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2599 feat(infra): append w3c context for tracing
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/iris/go.mod
  apps/iris/go.sum
  apps/iris/src/connector/rabbitmq/connector.go
  apps/iris/src/connector/rabbitmq/converter.go
  apps/iris/src/connector/rabbitmq/producer.go
Labels: ⛳️ team-backend, ⛳️ team-infra, ⛳️ squad-채점핑

#2602 fix(fe): change default score to 1 when importing problem to contest
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2603 fix(fe): change get to post
  apps/frontend/app/(client)/_libs/apis/assignment.ts
Labels: 💡 feature-client, 🌊 squad-__init__

#2605 fix(fe): change admin problem and course assignment create edit layout
  apps/frontend/app/admin/_components/FormSection.tsx
  apps/frontend/app/admin/_components/TimeForm.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/_components/VisibleForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/components/shadcn/date-time-picker-demo.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차, 🌊 squad-__init__

#2604 fix(fe): change summary form name
  apps/frontend/app/admin/_components/SummaryForm.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2609 fix(be): contest delete bug fix
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/prisma/migrations/20250329172028_delete_contest_cascade_bug/migration.sql
  apps/backend/prisma/schema.prisma
Labels: ⛳️ team-backend, 🍊squad-유자차

#2611 fix(be): contest description nullable
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/prisma/migrations/20250330014034_contest_description_nullable/migration.sql
  apps/backend/prisma/schema.prisma
  collection/admin/Contest/Create Contest/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2608 fix(be): first solver concurrency issue
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/prisma/migrations/20250329135318_first_solver/migration.sql
  apps/backend/prisma/schema.prisma
Labels: ⛳️ team-backend, 🍊squad-유자차

#2614 chore(be): return username on getProblems
  apps/backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Get Problems/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2612 fix(fe): make contest create more description optional
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/ContestTableColumns.tsx
  apps/frontend/app/admin/contest/_libs/schemas.ts
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2610 fix(be): contest roles guard bug
  apps/backend/apps/admin/src/announcement/announcement.resolver.ts
  apps/backend/apps/admin/src/announcement/announcement.service.spec.ts
  apps/backend/apps/admin/src/announcement/announcement.service.ts
  apps/backend/apps/admin/src/announcement/model/create-announcement.input.ts
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/submission/model/get-submissions.input.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/libs/auth/src/roles/contest-roles.guard.ts
  apps/backend/prisma/migrations/20250329203150_contest_description_nullable/migration.sql
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Create Announcement/[ERR] Has No Contest Id.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Contest.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Problem.bru
  collection/admin/Announcement/Get Announcement By Id/Succeed.bru
  collection/admin/Announcement/Get Announcement By Id/[ERR] Nonexistent Announcement.bru
  collection/admin/Announcement/Remove Announcement/Succeed.bru
  collection/admin/Announcement/Remove Announcement/[ERR] Nonexistent Announcement.bru
  collection/admin/Announcement/Update Announcement/Succeed.bru
  collection/admin/Announcement/Update Announcement/[ERR] Nonexistent Announcement.bru
  collection/admin/Contest/Delete Contest/Succeed.bru
  collection/admin/Contest/Get Contest/Succeed.bru
  collection/admin/Contest/Get Contests/Succeed.bru
  collection/admin/Contest/Update Contest/Succeed.bru
  collection/admin/Contest/Update Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Update Contest/[ERR] Nonexistent Contest.bru
  collection/admin/Submission/Get Contest Submissions/Succeed.bru
  collection/admin/collection.bru
Labels: 🪰 bug, ⛳️ team-backend, 🍊squad-유자차

#2615 fix(fe): change contestId graphql change
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/_components/LeaderboardUnfreezeSwitchDialog.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/submission/_components/SubmissionTable.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/_libs/schemas.ts
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/submission/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2617 fix(fe): contest more description cover with katex
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2618 feat(fe): make default of select
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/layout.tsx
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
  apps/frontend/app/admin/contest/_libs/schemas.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2619 chore(fe): change text size
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/announcement/_components/Columns.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2616 feat(fe): [2nd QA] fix admin leaderboard and client leaderboard
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionPaginatedTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/apis/getContest.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/apis/getContestLeaderboard.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/error.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/error.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/page.tsx
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2620 feat(fe): resolve code editor blind in contest
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2564 feat(fe): add whitespace visualizer to io fields
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
  apps/frontend/tsconfig.json
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2622 feat(fe): make error handling of client leaderboard
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/error.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2625 fix(iris): convert judger result-code to sandbox status-code
  apps/iris/src/service/sandbox/judger/exec.go
  apps/iris/src/service/sandbox/judger/resultCode.go
Labels: ⛳️ team-iris, ⛳️ squad-채점핑

#2624 feat(fe): add leaderboard freeze on code editor
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionPaginatedTable.tsx
  apps/frontend/public/icons/bottom-center.svg
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2621 feat(fe): hide hidden tescases in preview
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/[problemId]/preview/page.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Labels: ⛳️ team-frontend, 💡 feature-admin, 🌊 squad-__init__

#2607 refactor(fe): update design of client assignment detail
  apps/frontend/app/(client)/(main)/_components/DataTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/TotalScoreLabel.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/page.tsx
  apps/frontend/app/(client)/_libs/apis/assignment.ts
  apps/frontend/app/(client)/_libs/apis/assignmentSubmission.ts
  apps/frontend/app/(client)/_libs/queries/assignment.ts
  apps/frontend/public/icons/calendar.svg
  apps/frontend/public/icons/clock.svg
  apps/frontend/types/type.ts
Labels: 💡 feature-client, 🌊 squad-__init__

#2626 fix(fe): resolve notice auth problem and link read more
  apps/frontend/app/(client)/(main)/contest/_components/ContestSubBanner.tsx
  apps/frontend/app/(client)/(main)/notice/[noticeId]/page.tsx
  apps/frontend/app/(client)/(main)/notice/_components/NoticeTable.tsx
  apps/frontend/libs/constants.ts
Labels: ⛳️ team-frontend, 💡 feature-client, 🍊squad-유자차

#2627 fix(fe): resolve resizableEditor problem
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2623 feat(be): contest management pannel  access
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
  apps/frontend/app/admin/layout.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/types/type.ts
  collection/admin/Contest/Get Contest Roles/Succeed.bru
  collection/admin/Contest/Get Contest Roles/folder.bru
  collection/admin/collection.bru
Labels: ⛳️ team-frontend, 🍊squad-유자차
