Repository skkuding/codedang, pull requests merged in 2025-02, with the labels that each got.

#2339 feat(be): leaderboard freeze feature
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20250128062105_add_columns_for_freeze_feature/migration.sql
  apps/backend/prisma/schema.prisma
Labels: ⛳️ team-backend, 🍊squad-유자차

#2344 chore(fe): add posthog
  apps/frontend/app/layout.tsx
  apps/frontend/app/posthog.tsx
  apps/frontend/components/auth/SignIn.tsx
  apps/frontend/libs/hooks/useFeatureFlag.ts
  apps/frontend/libs/posthog.server.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend

#2316 feat(be): log test submission data in db
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/prisma/migrations/20250203082532_add_test_submission_tables/migration.sql
  apps/backend/prisma/schema.prisma
Labels: ⛳️ team-backend, ⛳️ squad-채점핑

#2346 fix(fe): fix login playwright
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/playwright/pages/auth.page.ts
  apps/frontend/playwright/tests/auth/login.spec.ts
  apps/frontend/playwright/tests/auth/login.test.ts
  apps/frontend/playwright/tests/auth/signup.test.ts
  apps/frontend/vitest.config.ts
Labels: ⛳️ team-frontend

#2353 fix(be): using npm when install pnpm on build image
  apps/backend/Dockerfile
Labels: ⛳️ team-backend

#2332 feat(fe): add testcase result color
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, ⛳️ squad-채점핑

#2355 chore(fe): update playwright config and add some tests
  apps/frontend/.gitignore
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/RunTestButton.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/components/auth/AuthProvider.tsx
  apps/frontend/components/auth/SignIn.tsx
  apps/frontend/libs/hooks/useSession.ts
  apps/frontend/playwright.config.ts
  apps/frontend/playwright/pages/auth.page.ts
  apps/frontend/playwright/pages/home.page.ts
  apps/frontend/playwright/tests/admin/auth.setup.ts
  apps/frontend/playwright/tests/admin/home.test.ts
  apps/frontend/playwright/tests/auth/login.spec.ts
  apps/frontend/playwright/tests/home/home.test.ts
  apps/frontend/playwright/tests/non-auth/problem.test.ts
  apps/frontend/playwright/tests/user/auth.setup.ts
Labels: ⛳️ team-frontend

#2358 feat(fe): copy FinishedTableColumns.tsx from contest to course
  apps/frontend/app/(client)/(main)/course/_components/FinishedAssignmentTable.tsx
  apps/frontend/app/(client)/(main)/course/_components/FinishedTableColumns.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2340 feat(fe): modify course dashboard design
  apps/frontend/app/(client)/(main)/course/_components/Dashboard.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🌊 squad-__init__

#2359 chore(be): make contest search case insensitive
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2352 fix(iris): decoupling sandbox from judge-handler
  apps/iris/main.go
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/handler/resultCode.go
  apps/iris/src/router/response.go
  apps/iris/src/router/router.go
  apps/iris/src/service/sandbox/compiler.go
  apps/iris/src/service/sandbox/judger/compiler.go
  apps/iris/src/service/sandbox/judger/exec.go
  apps/iris/src/service/sandbox/judger/impl.go
  apps/iris/src/service/sandbox/judger/langConfig.go
  apps/iris/src/service/sandbox/judger/runner.go
  apps/iris/src/service/sandbox/judger/statusCode.go
  apps/iris/src/service/sandbox/langConfig.go
  apps/iris/src/service/sandbox/runner.go
  apps/iris/src/service/sandbox/sandbox.go
  apps/iris/src/service/sandbox/statusCode.go
Labels: ⛳️ team-iris, ⛳️ squad-채점핑

#2345 feat(fe): new contest main page
  apps/frontend/app/(client)/(main)/_components/Cover.tsx
  apps/frontend/app/(client)/(main)/_components/Header.tsx
  apps/frontend/app/(client)/(main)/_components/SearchBar.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/layout.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestFeatureCard.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestFeatureList.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainBanner.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestSubBanner.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTitleFilter.tsx
  apps/frontend/app/(client)/(main)/contest/_components/FinishedContestTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/RegisteredContestTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/RegisteredTableColumns.tsx
  apps/frontend/app/(client)/(main)/contest/_components/TableSwitchButton.tsx
  apps/frontend/app/(client)/(main)/contest/_libs/utils.ts
  apps/frontend/app/(client)/(main)/contest/layout.tsx
  apps/frontend/app/(client)/(main)/contest/page.tsx
  apps/frontend/app/(client)/(main)/layout.tsx
  apps/frontend/app/(client)/(main)/page.tsx
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/components/shadcn/carousel.tsx
  apps/frontend/libs/constants.ts
  apps/frontend/public/banners/computer.png
  apps/frontend/public/banners/trophy-main.png
  apps/frontend/public/banners/trophy-sub.png
  apps/frontend/public/icons/check-darkgray.svg
Labels: ⛳️ team-frontend, 💡 feature-client, 🍊squad-유자차

#2363 fix(fe): testcase button background color
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
Labels: ⛳️ team-frontend, ⛳️ squad-채점핑

#2364 fix(fe): resolve bug at contest filter
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/FinishedTableColumns.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🍊squad-유자차

#2362 chore(fe): remove handle from resizable panel
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, ⛳️ squad-채점핑

#2365 fix(fe): fix contest tab layout
  apps/frontend/app/(client)/(main)/contest/_components/ContestTabs.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🍊squad-유자차

#2354 chore(be): remove group from contest
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/announcement/announcement.controller.ts
  apps/backend/apps/client/src/announcement/announcement.service.spec.ts
  apps/backend/apps/client/src/announcement/announcement.service.ts
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20250130102040_delete_group_from_contest/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2342 chore(infra): record coolify caddy changes and apply dns-01 challenge as acme protocol
  apps/infra/stage/coolify/caddy/Dockerfile
  apps/infra/stage/coolify/caddy/acme-challenge.caddy
  apps/infra/stage/coolify/caddy/docker-compose.yml
Labels: ⛳️ team-infra

#2369 fix(fe): change mutations and queries file for gql
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/_components/ContestTable.tsx
  apps/frontend/app/admin/contest/_components/ContestTableColumns.tsx
  apps/frontend/app/admin/contest/_components/DuplicateContestButton.tsx
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
Labels: ⛳️ team-frontend, 💡 feature-admin, 🍊squad-유자차

#2366 feat(fe): make image modal and problem table
  apps/frontend/app/(client)/(main)/_components/DataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/BiggerImageButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/ContestSummary.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RenderProblemColumn.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RenderProblemList.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/page.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTabs.tsx
  apps/frontend/app/admin/problem/[problemId]/_components/DataTable.tsx
  apps/frontend/components/BaseModal.tsx
  apps/frontend/next.config.js
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2376 chore(fe): fix infinite rerender
  apps/frontend/app/admin/_components/MangementSidebar.tsx
Labels: ⛳️ team-frontend

#2333 feat(fe): add leaderboard tab in contest code editor
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(code-editor)/_components/context/ReFetchingLeaderboardStoreProvider.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/Columns.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/LeaderboardPaginatedTable.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/error.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/loading.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/page.tsx
  apps/frontend/libs/hooks/usePaginationV2.ts
  apps/frontend/public/icons/info-icon.svg
  apps/frontend/public/icons/sync.svg
  apps/frontend/tailwind.config.ts
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2371 feat(fe): make contest paginator
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/GotoContestListButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/PrevNextProblemButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RenderProblemList.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/page.tsx
  apps/frontend/next.config.js
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2375 fix(be): use user-id for test, user-test api
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend, ⛳️ squad-채점핑

#2381 fix(be): change announcement orderby
  apps/backend/apps/client/src/announcement/announcement.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2380 fix(be): use test-submission id for test, user-test api
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/cache/src/keys.ts
Labels: ⛳️ team-backend, ⛳️ squad-채점핑

#2385 fix(infra): upgrade version rabbitMQ
  apps/infra/production/codedang/message_queue_aws.tf
  apps/infra/rc/storage/message_queue_aws.tf
  docker-compose.yml
Labels: ⛳️ team-infra

#2389 fix(infra): resolve terraform ci-cd
  .github/workflows/rc-deploy.yml
Labels: ⛳️ team-infra

#2392 fix(infra): delete lock false and update ci-cd
  .github/workflows/rc-deploy.yml
Labels: ⛳️ team-infra

#2393 fix(infra): update mq version to execute terraform
  apps/infra/production/codedang/message_queue_aws.tf
  apps/infra/rc/storage/message_queue_aws.tf
Labels: ⛳️ team-infra

#2394 fix(infra): set MQ minor_verision_upgrade
  apps/infra/production/codedang/message_queue_aws.tf
  apps/infra/rc/storage/message_queue_aws.tf
Labels: ⛳️ team-infra

#2396 chore(fe): temporary image for contest leaderboard statistics and qna
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/page.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTabs.tsx
  apps/frontend/public/logos/coming-soon.png
Labels: ⛳️ team-frontend, 💡 feature-client, 🍊squad-유자차

#2372 fix(fe): change contest list to pagination
  apps/frontend/app/(client)/(main)/contest/_components/ContestDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainTable.tsx
  apps/frontend/app/(client)/(main)/contest/page.tsx
  apps/frontend/components/shadcn/pagination.tsx
  apps/frontend/libs/hooks/usePaginationV2.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2395 feat(be): add course duplicate api
  apps/backend/apps/admin/src/group/group.resolver.ts
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/admin/src/group/model/group.output.ts
  apps/backend/prisma/migrations/20250222113752_add_ondelete_cascade_to_workbook_and_assignment/migration.sql
  apps/backend/prisma/schema.prisma
  collection/instructor/Course/Duplicate Course/Succeed.bru
  collection/instructor/Course/Update Course/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2399 fix(be): infinite judging when compile error occurs
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Labels: ⛳️ team-backend

#2386 feat(fe): impl assignment accordion
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/_components/FinishedAssignmentTable.tsx
  apps/frontend/components/shadcn/accordion.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2378 refactor(be): writing test code for admin group
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2403 feat(fe): impl assignment detail page
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/OngoingAssignments.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/_components/MySubmission.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/_components/SubmissionDetailContent.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/AssignmentTabs.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/(client)/_libs/apis/assignmentSubmission.ts
  apps/frontend/app/(client)/_libs/queries/assignmentSubmission.ts
  apps/frontend/types/type.ts
Labels: 💡 feature-client, 🌊 squad-__init__

#2407 chore(fe): modify course info box UI
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseInfoBox.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Sidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
Labels: 💡 feature-client, 🌊 squad-__init__

#2379 fix(be): add problem status and skiped problem records
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  collection/client/Contest/Get Leaderboard/succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2382 fix(be): modify logic to get contest problem
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  collection/client/Contest/Get contest by ID/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2402 feat(be): assignment client api restructure
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/assignment/assignment.controller.ts
  apps/backend/apps/client/src/assignment/assignment.service.spec.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20250224101700_add_assignment_problem_record/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/admin/Problem/Get AssignmentProblems/Succeed.bru
  collection/client/Assignment/Get assignments/Succeed.bru
  collection/client/Assignment/Get ongoing & upcoming assignments (logged in)/Succeed.bru
  collection/client/Assignment/Get ongoing & upcoming assignments/Succeed.bru
  collection/client/Assignment/Get registered finished assignments/Succeed.bru
  collection/client/Assignment/Get registered ongoing & upcoming assignments/Succeed.bru
  collection/instructor/Course/Invite User/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2408 feat(fe): implement management sidebar
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
  apps/frontend/app/admin/_components/MangementSidebar.tsx
  apps/frontend/app/admin/course/[courseId]/page.tsx
  apps/frontend/app/admin/layout.tsx
  apps/frontend/public/icons/codeLaptop.svg
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2417 feat(fe): add leaderboard calculation
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/LeaderboardPaginatedTable.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2419 feat(fe): connect assignment api
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/OngoingAssignments.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/AssignmentTabs.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/error.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/page.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 💡 feature-client

#2418 feat(be): modify assignment permission and api
  apps/backend/apps/client/src/assignment/assignment.controller.ts
  apps/backend/apps/client/src/assignment/assignment.service.spec.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/schema.prisma
  collection/client/Assignment/Get assignment by ID/Succeed.bru
  collection/client/Assignment/Get assignments/Succeed.bru
  collection/client/Assignment/Participate Assignment/Succeed.bru
  collection/client/Assignment/Participate Assignment/[404] Nonexistent assignment.bru
  collection/client/Assignment/Participate Assignment/[409] Already participated.bru
  collection/client/Assignment/Participate Assignment/[409] Ended assignment.bru
  collection/client/Assignment/Participate Assignment/[409] Invalid Invitation Code.bru
  collection/client/Assignment/Unregister Assignment/Succeed.bru
  collection/client/Course/Get Course by ID/Succeed.bru
  collection/client/Problem/Get Assignment Problem by ID/Succeed.bru
  collection/client/Problem/Get Assignment Problems/Succeed.bru
  collection/client/Submission/Create Assignment Submission/Succeed.bru
  collection/client/Submission/Get Assignment Submissions/Succeed.bru
  collection/client/Submission/Get Submission by ID/Succeed.bru
  collection/instructor/Assignment/Update Assignment/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2410 feat(fe): fix submission tab for contest
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/SubmissionTable.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/[submissionId]/_components/SubmissionDetailTitle.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/[submissionId]/_libs/constants.ts
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/[submissionId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/Columns.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionPaginatedTable.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_libs/dataIfError.ts
  apps/frontend/app/(client)/_libs/apis/contestSubmission.ts
  apps/frontend/app/(client)/_libs/apis/types.ts
  apps/frontend/components/CodeEditor.tsx
  apps/frontend/types/type.ts
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2413 feat(be): add admin leaderboard api
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-leaderboard.model.ts
  collection/admin/Contest/Get Contest Leaderboard/Succeed.bru
Labels: ⛳️ team-backend, 🍊squad-유자차

#2420 feat(fe): create management course detail member
  apps/frontend/app/admin/course/[courseId]/user/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/DeleteUserButton.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/GroupTable.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
  apps/frontend/app/admin/course/[courseId]/user/_libs/schema.ts
  apps/frontend/app/admin/course/[courseId]/user/page.tsx
  apps/frontend/app/admin/course/_components/GroupTable.tsx
  apps/frontend/graphql/course/mutation.ts
  apps/frontend/graphql/course/queries.ts
  apps/frontend/graphql/user/mutation.ts
  apps/frontend/graphql/user/queries.ts
  apps/frontend/package.json
  apps/frontend/types/type.ts
  collection/instructor/Course/Create Whitelist/Succeed.bru
  collection/instructor/Course/Get Courses User Leads/Succeed.bru
  collection/instructor/Course/Invite User/Succeed.bru
  collection/instructor/User/Get Group Members/Succeed.bru
  pnpm-lock.yaml
Labels: ⛳️ team-frontend, 🌊 squad-__init__

#2426 feat(fe): add routing after contest finished
  apps/frontend/app/(client)/(code-editor)/_components/ContestProblemDropdown.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/finished/problem/[problemId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/[submissionId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/Columns.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionPaginatedTable.tsx
  apps/frontend/libs/utils.ts
  apps/frontend/public/icons/exit2.svg
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2429 feat(fe): impl user grade accordion
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseSidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/DetailButton.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Icons.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/dummy.ts
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/page.tsx
  apps/frontend/components/shadcn/accordion.tsx
  apps/frontend/public/icons/grade-detail.svg
Labels: ⛳️ team-frontend, 💡 feature-client

#2430 fix(fe): resolve contest list filter pagination bug
  apps/frontend/app/(client)/(main)/contest/_components/ContestDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTitleFilter.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🍊squad-유자차

#2433 feat(fe): complete making banner
  apps/frontend/app/(client)/(main)/_components/Cover.tsx
  apps/frontend/app/(client)/(main)/_components/Header.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/announcement/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/layout.tsx
  apps/frontend/app/(client)/(main)/notice/layout.tsx
  apps/frontend/app/(client)/(main)/problem/layout.tsx
  apps/frontend/public/banners/contestInnerBanner.png
  apps/frontend/public/banners/courseInnerBanner.png
  apps/frontend/public/banners/noticeInnerBanner.png
  apps/frontend/public/banners/problemInnerBanner.png
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2437 feat(be): get assignment submission by user id
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  collection/instructor/Submission/Get Assignment Submission/Succeed.bru
Labels: ⛳️ team-backend, 🌊 squad-__init__

#2422 feat(be): remove code-draft
  apps/backend/apps/client/src/problem/code-draft.controller.ts
  apps/backend/apps/client/src/problem/dto/code-draft.response.dto.ts
  apps/backend/apps/client/src/problem/dto/create-code-draft.dto.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.module.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/prisma/migrations/20250226123823_remove_code_draft/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
Labels: ⛳️ team-backend

#2440 fix(fe): fix counting solved problem logic
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/LeaderboardPaginatedTable.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2445 chore(fe): delete info data
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RenderProblemColumn.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2439 fix(fe): add unit to code size
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/_components/SubmissionDetail.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2446 style(fe): fix the gap between banner and Tap
  apps/frontend/app/(client)/(main)/_components/Cover.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTabs.tsx
Labels: ⛳️ team-frontend, 🍊squad-유자차

#2444 fix(be): remove isRankVisible and isVisible in contest
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20250228101551_remove_is_visible_and_is_rank_visible_in_contest/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2447 chore(fe): change text size
  apps/frontend/app/(client)/(main)/contest/_components/ContestSubBanner.tsx
Labels: ⛳️ team-frontend, 💡 feature-client, 🍊squad-유자차

#2448 fix(be): add isHidden in getSubmission
  apps/backend/apps/client/src/submission/submission.service.ts
Labels: ⛳️ team-backend, 🍊squad-유자차

#2451 fix(be): revert remove isRankVisible and isVisible in contest
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20250228101551_remove_is_visible_and_is_rank_visible_in_contest/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
Labels: ⛳️ team-backend, 🍊squad-유자차
